// —————————————————————————
//     Animations
// —————————————————————————

//
// Keyframes
//

@-webkit-keyframes moveToLeftFade {
  from { }

  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
  }
}
@keyframes moveToLeftFade {
  from { }

  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveToRightFade {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
@keyframes moveToRightFade {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes pendulo {
  0% { margin-left: 0; }
  15% { margin-left: 5px; }
  30% { margin-left: 10px; }
  45% { margin-left: 15px; }
  60% { margin-left: 10px; }
  75% { margin-left: 5px; }
  100% { margin-left: 0; }
}
@keyframes pendulo {
  0% { margin-left: 0; }
  15% { margin-left: 5px; }
  30% { margin-left: 10px; }
  45% { margin-left: 15px; }
  60% { margin-left: 10px; }
  75% { margin-left: 5px; }
  100% { margin-left: 0; }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

// ====



//
// Pages
//

.page {
  &.ng-leave { z-index:9999; }
  &.ng-enter { z-index:8888; }

  &.whatever-page {
    &.ng-leave {
      -webkit-animation: moveToLeftFade .7s ease-in-out both;
      animation: moveToLeftFade .7s ease-in-out both;
    }

    &.ng-enter {
      -webkit-animation: moveToRightFade .7s ease-in-out both;
      animation: moveToRightFade .7s ease-in-out both;
    }
  }

  &.add-profile-page {}

  &.dashboard-page {}

  &.noticias-page {}

  &.health-daily-page {}

  &.health-tips-page {}

  &.help-page {}

  &.login-email-page {}

  &.news-page {}

  &.profile-page {}

  &.survey-page {}
}

// ====



//
// Survey
//

.survey-avatar {
  &.my-user {
    &:hover {
      img {
        -webkit-animation: pendulo .7s ease-in-out infinite;
        animation: pendulo .7s ease-in-out infinite;
      }
    }

    img {
      -webkit-animation: pendulo .7s ease-in-out paused;
      animation: pendulo .7s ease-in-out paused;
    }
  }
}

// ====



//
// Health map
//

.health-map {
  &.ng-leave {
    -webkit-animation: moveToLeftFade .7s ease-in-out both;
      animation: moveToLeftFade .7s ease-in-out both;
  }

  &.ng-enter {
    -webkit-animation: moveToRightFade .7s ease-in-out both;
      animation: moveToRightFade .7s ease-in-out both;
  }
}

// ====



//
// Off canvas navbar
//

.wrapper-body {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.btn-showNavbar {
  &.js-active {
    // background-color: green !important;

    .icon-bar {
      &:nth-child(1) {
        @include origin(0% 0 0);
        transform: rotate(45deg) translate(2px, -3px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        @include origin(0% 0 0);
        transform: rotate(-45deg) translate(0px, 4px);
      }
    }
  }
}

.bar-icon-wrapper {
  @include translate3d(0, 0, 0);

  .icon-bar {
    @include transition(all, .15s, linear, 0s);
    @include origin(50% 50%);

    &:nth-child(2) {
      @include transition(opacity, .1s, linear, 0s);
    }
  }
}

.st-menu {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: purple;
  transition: all .5s linear;
  transform: translate3d(-300px, 0, 0);

  &.st-effect-2 { z-index: 1; }
}

.st-pusher {
  position: relative;
  display: inline-block;
  width: 100%;
  left: 0;
  z-index: 99;
  height: 100%;
  @include perspective(1000px);
  @include transition(transform, .5s, 0s, linear);
}

.st-content {
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

.st-menu-open {
  .st-pusher {
    @include translate3d(300px, 0, 0);
  }

  .st-menu {
    visibility: visible;
    @include translate3d(15px, 0, 0);
    @include transition(all, .5s, 0s, linear);
  }
}

// ====
