//
// Calendar directive
//

.calendar-directive {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;

  .header {
    float: left;
    width: 100%;
    height: 40px;
    position: relative;

    i {
      position: absolute;
      width: 15px;
      height: 15px;
      cursor: pointer;
      background-repeat: no-repeat;
      @include path('icon-arrow-calendar.svg');

      &.fa-angle-left {
        top: 0;
        left: 0;
      }

      &.fa-angle-right {
        top: 0;
        right: 0;
        @include rotate(180deg);
      }
    }

    span {
      float: left;
      width: 100%;
      font-weight: 900;
      font-size: ($fs-normal)+.2;
      font-family: $ff-light;
      color: $font-primary;
      text-align: center;
    }
  }
}

.week {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  display: inline-block;

  .day {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: ($fs-normal)+.2;
    margin: 0 1.5%;
    padding-top: 3px;
    @include bdr(100%);

    // &:last-child { margin-right: 0; }

    &.today { border: 2px solid $btn-primary; }
  }

  .different-month { color: $bg-section; }

  .selected {
    background: $btn-primary;
    color: $link-primary;
  }

  &.names {
    .day {
      color: $week-days-color;
      cursor: default;

      &:last-child { margin-right: 0; }
    }
  }
}

.popover-inner {
  h3 {
    background: none;
    border: 0;
    margin: 0;
    text-align: center;
    color: $font-primary;
    font-weight: 900;
    border-bottom: 1px solid $bg-section;
    font-size: 14px;
  }
}

.popover-content {
  width: auto;
  min-width: 100px!important;
  margin: 5px;
}

.popover-content.bad {
  @include path('icon-health-daily-bad.svg');
}

// ====



//
// Breakpoints
//

// iPad
@media screen and (min-width: 768px) {
  .week {
    &.names { margin-left: -10px; }

    .day { margin: 0 4.4%; }
  }
}
// ====

// Desktop
@media screen and (min-width: 992px) {
  .week {
    margin: 0;
    &.names {  margin: 0; }

    .day { margin: 0 2%; }
  }
}
// ====

// Large Desktops
@media screen and (min-width: 1600px) {
  .week {
    .day { margin: 0 2%; }
  }
}
// ====
