//
// Charts
//

svg { width: 100%; }

#donut-chart-diario { width: 110px; height: 110px; }
#line-chart-diario { height: 218px; }


// iPads
@media screen and (min-width: 768px) {}
  

// Desktops
@media screen and (min-width: 992px) {}
  

// Large Desktops
@media screen and (min-width: 1200px) {}
