@font-face {
    font-family: 'foco_blackregular';
    src: url('fonts/foco_blk-webfont.eot');
    src: url('fonts/foco_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_blk-webfont.woff2') format('woff2'),
         url('fonts/foco_blk-webfont.woff') format('woff'),
         url('fonts/foco_blk-webfont.ttf') format('truetype'),
         url('fonts/foco_blk-webfont.svg#foco_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'foco_blackitalic';
    src: url('fonts/foco_blkit-webfont.eot');
    src: url('fonts/foco_blkit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_blkit-webfont.woff2') format('woff2'),
         url('fonts/foco_blkit-webfont.woff') format('woff'),
         url('fonts/foco_blkit-webfont.ttf') format('truetype'),
         url('fonts/foco_blkit-webfont.svg#foco_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'foco_lightregular';
    src: url('fonts/foco_lt-webfont.eot');
    src: url('fonts/foco_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_lt-webfont.woff2') format('woff2'),
         url('fonts/foco_lt-webfont.woff') format('woff'),
         url('fonts/foco_lt-webfont.ttf') format('truetype'),
         url('fonts/foco_lt-webfont.svg#foco_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'foco_lightitalic';
    src: url('fonts/foco_ltit-webfont.eot');
    src: url('fonts/foco_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_ltit-webfont.woff2') format('woff2'),
         url('fonts/foco_ltit-webfont.woff') format('woff'),
         url('fonts/foco_ltit-webfont.ttf') format('truetype'),
         url('fonts/foco_ltit-webfont.svg#foco_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focobold';
    src: url('fonts/foco_std_bd-webfont.eot');
    src: url('fonts/foco_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_bd-webfont.woff2') format('woff2'),
         url('fonts/foco_std_bd-webfont.woff') format('woff'),
         url('fonts/foco_std_bd-webfont.ttf') format('truetype'),
         url('fonts/foco_std_bd-webfont.svg#focobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focobold_italic';
    src: url('fonts/foco_std_bdit-webfont.eot');
    src: url('fonts/foco_std_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_bdit-webfont.woff2') format('woff2'),
         url('fonts/foco_std_bdit-webfont.woff') format('woff'),
         url('fonts/foco_std_bdit-webfont.ttf') format('truetype'),
         url('fonts/foco_std_bdit-webfont.svg#focobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focoblack';
    src: url('fonts/foco_std_blk-webfont.eot');
    src: url('fonts/foco_std_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_blk-webfont.woff2') format('woff2'),
         url('fonts/foco_std_blk-webfont.woff') format('woff'),
         url('fonts/foco_std_blk-webfont.ttf') format('truetype'),
         url('fonts/foco_std_blk-webfont.svg#focoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focoblack_italic';
    src: url('fonts/foco_std_blkit-webfont.eot');
    src: url('fonts/foco_std_blkit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_blkit-webfont.woff2') format('woff2'),
         url('fonts/foco_std_blkit-webfont.woff') format('woff'),
         url('fonts/foco_std_blkit-webfont.ttf') format('truetype'),
         url('fonts/foco_std_blkit-webfont.svg#focoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focoitalic';
    src: url('fonts/foco_std_it-webfont.eot');
    src: url('fonts/foco_std_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_it-webfont.woff2') format('woff2'),
         url('fonts/foco_std_it-webfont.woff') format('woff'),
         url('fonts/foco_std_it-webfont.ttf') format('truetype'),
         url('fonts/foco_std_it-webfont.svg#focoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focolight';
    src: url('fonts/foco_std_lt-webfont.eot');
    src: url('fonts/foco_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_lt-webfont.woff2') format('woff2'),
         url('fonts/foco_std_lt-webfont.woff') format('woff'),
         url('fonts/foco_std_lt-webfont.ttf') format('truetype'),
         url('fonts/foco_std_lt-webfont.svg#focolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focolight_italic';
    src: url('fonts/foco_std_ltit-webfont.eot');
    src: url('fonts/foco_std_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_ltit-webfont.woff2') format('woff2'),
         url('fonts/foco_std_ltit-webfont.woff') format('woff'),
         url('fonts/foco_std_ltit-webfont.ttf') format('truetype'),
         url('fonts/foco_std_ltit-webfont.svg#focolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'focoregular';
    src: url('fonts/foco_std_rg-webfont.eot');
    src: url('fonts/foco_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_rg-webfont.woff2') format('woff2'),
         url('fonts/foco_std_rg-webfont.woff') format('woff'),
         url('fonts/foco_std_rg-webfont.ttf') format('truetype'),
         url('fonts/foco_std_rg-webfont.svg#focoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
