// —————————————————————————
//     Forms
// —————————————————————————

::-webkit-input-placeholder { color: $bg-modal; }

:-moz-placeholder { color: $bg-modal; }

::-moz-placeholder { color: $bg-modal; }

:-ms-input-placeholder { color: $bg-modal; }

textarea {
  resize: vertical;
  min-height: 120px;
}

select {
  &.icon-arrow {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% center;
    @include path('select-arrow.svg');
  }
}

//
// Search home
//

.search-home {
  font-family: $ff-light;
  font-size: $fs-medium;
  text-align: center;
  background-position: 20px center;
  background-repeat: no-repeat;
  background-color: $link-primary;
  background-size: 32px;
  border: 1px solid $border-secondary;
  height: 75px;
  padding: 0 10px 0 50px;
  width: 100%;
  @include path('icon-search.svg');
  @include bdr(5px);
}

// ===



//
// Login email
//

.mainform {
  width: 100%;
  margin: 0 0 15px 0;
  border: 2px solid $link-primary;
  @include bdr(5px);

  input {
    &:last-child { border: 0; }
  }
}

.mainform-input {
  font-family: $ff-light;
  font-size: ($fs-medium)-.2;
  color: #a4cae6;
  background: none;
  border: 2px solid $link-primary;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align: left;
  height: 42px;
  padding: 0 0 0 15px;
  @include bdr(0);
}

.mainform .select, .mainform .select {
  @include path('icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: 96% 15px;
}

.btn-signup, .btn-confirm {
  color: $bg-header;
  font-family: $ff-light;
  font-size: ($fs-medium)-.2;
  background-color: $link-primary;
  @include bsd(0, 3px, 6px, rgba(0, 0, 0, .4));

  &:hover { color: $bg-header; }
}

// ====



//
// Forms inside card
//

.card-form {
  fieldset {
    position: relative;
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-family: $ff-light;
    font-size: ($fs-normal)+.2;
    color: $font-primary;
  }
}

.input-primary {
  width: 100%;
  position: relative;
  @include bdr(5px);
  padding: 10px 15px;
  color: $font-primary;
  border: 1px solid $border-primary;
  font-size: ($fs-normal)+.2;

  &.birthdate {
    width: 80%;
    margin-right: 1%;
    display: inline-block;
    height: 41px;
  }
}

.glyphicon-chevron-left {
  &::before {
    content: '<';
  }
}

.glyphicon-chevron-right {
  &::before {
    content: '>';
  }
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.icon-birthdate {
  cursor: pointer;
  width: 40px;
  height: 40px;
  @include bdr(3px);
  vertical-align: top;
  display: inline-block;
  background-color: $btn-primary;
  background-repeat: no-repeat;
  background-position: center;
  @include path('icon-calendar.svg');

  a {
    width: 100%;
    height: 100%;
    display: block;
   }
}

.btn-primary {
  font-family: $ff-light;
  font-size: ($fs-normal)+.2;
  margin: 0 0 0 15px;

  &.cancel {
    background-color: $link-primary;
    color: $font-primary;
    border: 1px solid $border-primary;
  }
}

.select-primary {
  @extend .input-primary;
  height: 40px;
  background-color: $link-primary;
}

.radio-primary {
  position: relative;
  width: 110px;
  height: 20px;

  &::before {
    padding: 5px;
    content: attr(data-label);
    background-color: $btn-primary;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    color: $link-primary;
    font-size: ($fs-normal)-.1;
    @include bdr(3px);
    margin: -4px 0 0 30px;
  }
}

.radio-avatar {
  float: left;
  cursor: pointer;
  margin: 0 5px 15px 5px !important;
  width: 70px;
  height: 70px;
  position: relative;
  @include apr(none);

  i {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    @include bdr(100%);
    @include bsd(0px, 7px, 12px, rgba(0, 0, 0, .3));
  }

  &.photo-selected {
    outline: none;

    &::before {
      content: '✔';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      text-align: center;
      @include bdr(100%);
      color: $link-primary;
      padding: 17px 0 0 0;
      font-size: ($fs-medium)+.4;
      background-color: rgba(0, 0, 0, .5);
    }
  }

  input {
    visibility: hidden;
  }
}

// button change photo
.save-change-photo {
  @include bdr(3px);
  @include apr(none);
  text-align: center;
  font-size: ($fs-normal)+.2;
  outline: none;
  border: none;
  padding: 5px 60px;
  color: $link-primary;
  background-color: $btn-primary;
  position: relative;
  margin: 0 auto;
  margin-bottom: 7px;
  display: block;

  // &::before {
  //   content: '';
  //   width: 35px;
  //   height: 30px;
  //   left: -40px;
  //   bottom: 0;
  //   @include bdr(3px);
  //   position: absolute;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   @include path('icon-upload-image.svg');
  // }
}

.upload-form {
  margin-bottom: 20px;

  .success-message {
    width: 100%;
    text-align: center;
    font-size: ($fs-normal)+.2;
  }
}

.input-file-container {
  position: relative;
  margin-bottom: 30px;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.avatar-image {
  display: block;
  width: 180px;
  height: 180px;
  cursor: pointer;
  position: relative;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  @include bsd(0px, 7px, 12px, rgba(0, 0, 0, .3));

  img {
    width: 180px;
    height: 180px;
  }



  // @include bdr(100%);

  // &::before {
  //   content: attr(data-label);
  //   position: absolute;
  //   left: 10%;
  //   top: 50%;
  //   opacity: 0;
  //   font-family: $ff-bold;
  //   font-size: ($fs-normal)+.1;
  //   color: #000000;
  //   z-index: 1;
  //   @include transition(opacity, .2s, 0s, linear);
  // }

  // &:hover {
  //   opacity: .4;
  //   background-color: rgba(0, 0, 0, .3);

  //   &::before { opacity: 1; }
  // }
}
// ====



//
// Contact
//

.contact-form {
  margin-top: 30px;

  label {
    color: $btn-primary;
    font-family: $ff-bold;
  }

  input, select, textarea {
    border: 1px solid $border-secondary;
  }

  .btn-primary { margin-left: 0; }
}

// ====



//
// Survey
//

.hayf-form { height: 610px; }

.form-primary {
  legend {
    text-align: left;
    border-bottom: 0 solid transparent;
    font-size: ($fs-normal)+.2;
    color: $survey-title;
    margin-bottom: 0;
  }

  fieldset {
    text-align: left;
    position: relative;
    margin-bottom: 10px;
    padding-left: 0;
  }

  label {
    color: $link-primary;
    font-size: ($fs-normal)+.2;
    margin-left: 10px;
    max-width: 80%;
  }

  .btn-submit { margin-top: 50px; }
}

.legend {
  margin-top: 30px;
}

.checkbox-primary {
  width: 14px;
  height: 14px;
  @include bdr(2px);
  @include apr(none);
  vertical-align: top;
  border: 1px solid $link-primary;
  background-color: transparent;
  outline: none;

  &:checked {
    @include path('icon-radio-check.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.btn-submit {
  @include bdr(5px);
  background-color: $link-primary;
  color: $btn-primary;
  font-size: ($fs-medium)-.2;
  padding: 10px 0;
  outline: none;
  border: none;
  @include transition(all, .2s, 0s, ease);

  &:hover {
    background-color: $btn-primary;
    color: $link-primary;
  }
}

// ====



//
// health map & mini dashboard
//

.form-mini-dashboard {
  .input-primary {
    margin-top: 30px;
    @include path('icon-search.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 6%;
    padding-left: 40px;
    @include transition(background, .2s, 0s, linear);

    &:focus { background-size: 5%; }
  }
}

// ====



//
// Messages and Alerts
//

.alert {
  font-size: ($fs-normal)+.1;
}

// ====



//
// Register home
//

.form-register-home,
.form-login-email {
  select {
    @include apr(none);
    position: relative;
  }

  input {
    &::-webkit-input-placeholder { color: #a4cae6; }
    &:-moz-placeholder { color: #a4cae6; }
    &::-moz-placeholder { color: #a4cae6; }
    &:-ms-input-placeholder { color: #a4cae6; }
  }
}

// ====



// iPad
@media (min-width: 768px) {
  // Search home
  .search-home {
    width: 80%;
    margin-left: 10%;
  }
  // ====

  // Survey
  .hayf-form { height: 310px; }
  // ====
}

// Desktop
@media (min-width: 992px) {
  // Forms with card
  .input-primary {
    &.birthdate { width: 86%; }
  }
  // ====
}

// Large Desktops
@media screen and (min-width: 1200px) {}
