// —————————————————————————
//     Forms
// —————————————————————————

::-webkit-input-placeholder { color: $bg-modal; }

:-moz-placeholder { color: $bg-modal; }

::-moz-placeholder { color: $bg-modal; }

:-ms-input-placeholder { color: $bg-modal; }



//
// Search home
//

.search-home {
  font-family: $ff-light;
  font-size: $fs-medium;
  text-align: center;
  background-position: 20px center;
  background-repeat: no-repeat;
  background-color: $link-primary;
  background-size: 32px;
  border: 1px solid $border-secondary;
  height: 75px;
  padding: 0 10px 0 50px;
  width: 100%;
  @include path('icon-search.svg');
  @include bdr(5px);
}

// ===

// iPad
@media (min-width: 768px) {
  // Search home
  .search-home {
    width: 80%;
    margin-left: 10%;
  }

  // ====
}

// Desktop
@media (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
