// —————————————————————————
//     General
// —————————————————————————

::-moz-selection {
  background: $bg-header;
  color: $link-primary;
  text-shadow: none;
}

::selection {
  background: $bg-header;
  color: $link-primary;
  text-shadow: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  -webkit-text-rendering: optimizeLegibility !important;
  -moz-text-rendering: optimizeLegibility !important;
  -ms-text-rendering: optimizeLegibility !important;
  -o-text-rendering: optimizeLegibility !important;
  text-rendering: optimizeLegibility !important;

  // -webkit-font-smoothing: antialiased !important;
  // font-smoothing: antialiased !important;
}

body {
  padding: 0;
  font-size: $fs-root;
  font-family: $ff-regular;
}

.no-padding { padding: 0; }

.no-margin { margin: 0; }

// ===



//
// Header
//

.header-primary { height: 70px; }

.navbar-header {
  @extend .header-primary;
}

.logo-primary {
  display: inline-block;
  margin-top: 15px;
  width: 200px;
  height: 45px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    @include path('logo-primary.svg');
  }
}

.navbar-default {
  &.not-logged {
    background-color: $bg-header;
    border: none;
    @include bdr(0);
  }
}

.nav-link {
  color: $link-primary !important;
  line-height: 40px !important;
  font-size: ($fs-normal)+.2;
  font-family: $ff-light;
  text-transform: uppercase;
  @include transition(background, .2s, 0s, linear);

  &:hover,
  &:visited,
  &:focus { background-color: $btn-primary !important; }
}

// ===



//
// Inside content
//

.title-primary {
  margin: 0;
  padding: 0;
}

.container-fluid {
  &.not-logged {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    @include path('bg-not-logged.svg');
  }
}

// ===



//
// Media queries
//

// iPads
@media screen and (min-width: 768px) {}

// Desktops
@media screen and (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
