// —————————————————————————
//     General
// —————————————————————————

::-moz-selection {
  background: $bg-header;
  color: $link-primary;
  text-shadow: none;
}

::selection {
  background: $bg-header;
  color: $link-primary;
  text-shadow: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  position: relative;
  height: 100%;

  -webkit-text-rendering: optimizeLegibility !important;
  -moz-text-rendering: optimizeLegibility !important;
  -ms-text-rendering: optimizeLegibility !important;
  -o-text-rendering: optimizeLegibility !important;
  text-rendering: optimizeLegibility !important;
}

.header-primary {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

html { padding-top: 70px; }

body {
  font-size: $fs-root;
  font-family: $ff-regular;
  position: relative;
  height: 100%;
}

.no-padding { padding: 0; }

.no-margin { margin: 0; }

.main,
.main-content {
  display: block;
  position: relative;
}

.main-content { background-color: $bg-section; }

.content-internal {
  min-height: 700px;
  height: 100%;
  float: none;
  @extend .col-xs-12;
}

// ===



//
// Header
//

.navbar-toggle {
  margin-top: 20px;
  border-color: $link-primary;

  &:hover,
  &:focus,
  &:visited {
    background-color: $btn-primary !important;
  }
}

.icon-bar {
  background-color: $link-primary !important;
}

.logo-primary {
  display: inline-block;
  margin-top: 15px;
  width: 200px;
  height: 45px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    @include path('logo-primary.svg');
  }
}

.navbar-default {
  margin-bottom: 0;
  border-color: $link-primary;

  &.not-logged {
    background-color: $bg-header;
    border: none;
    @include bdr(0);
  }
}

.nav-link {
  color: $link-primary !important;
  line-height: 40px !important;
  font-size: ($fs-normal)+.2;
  font-family: $ff-light;
  text-transform: uppercase;
  @include transition(background, .2s, 0s, linear);

  &:hover,
  &:visited,
  &:focus { background-color: $btn-primary !important; }
}

.btn-survey {
  background-color: $link-primary;
  border: 1px solid $link-primary;
  font-size: ($fs-normal)+.2;
  color: $btn-primary !important;
  padding: 10px 15px !important;
  position: relative;
  @include bdr(3px);
  @include transition(all, .2s, 0s, linear);

  &::before {
    content: '';
    width: 15px;
    height: 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    @include path('icon-btn-survey.svg');
  }

  &:hover {
    background-color: $bg-header;
    border: 1px solid $link-primary;
    color: $link-primary !important;
    &::before { @include path('icon-btn-survey-hover.svg'); }
  }
}

.mini-avatar-user {
  width: 40px;
  height: 40px;
  margin: 15px 30px 0 0;
  overflow: hidden;
  @include bdr(100%);

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.dropdown {
  &.dropnav {
    button {
      font-size: ($fs-normal)+.2;
      background: transparent;
      border: none;
      color: $link-primary;
      margin: 20px 20px auto auto;
    }
  }
}
// ===



//
// Inside content
//

#toast-container {
  font-family: $ff-regular;
  font-size: $fs-normal;
}

.title-primary {
  color: $link-primary;
  font-size: ($fs-medium);
  font-family: $ff-light;
  text-align: center;
  margin: 0;

  &.news {
    color: $btn-primary;
    font-size: ($fs-medium)*2;
    margin: 30px 0 50px 0;
  }
}

.title-secondary {
  @extend .title-primary;
  color: $btn-primary;
}

.section-subtitle {
  color: $btn-primary !important;
  font-family: $ff-bold;
  border-bottom: 2px solid $border-secondary;
  padding-bottom: 5px;
}

.wrapper-internal {
  width: 100%;
  padding: 0;

  &.not-logged {
    height: auto;
    min-height: 630px;
    background-repeat: repeat;
    // background-size: 100%;
    @include path('bg-not-logged.svg');
  }
}

.near-you-box {
  .title-primary {
    margin: 80px auto 40px auto;
    text-align: center;
  }
}

.form-search-home {
  margin-bottom: 35px;

  fieldset {
    width: 100%;
  }

  .dropdown-menu { width: 100%; }
}

.last-cities {
  text-align: center;
  margin-bottom: 35px;

  h4 {
    color: $link-primary;
    font-family: $ff-light;
    font-size: ($fs-medium + $fs-normal) + .4;
  }

  li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    font-size: ($fs-normal) + .4;
    position: relative;

    &::before {
      content: '';
      width: 5px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 10px;
      right: -12px;
      background-color: $link-primary;
    }

    &:last-child {
      &::before { background-color: transparent; }
    }
  }

  a {
    display: block;
    text-decoration: underline;
    color: $link-primary;
    cursor: pointer;
  }
}

.goto-dashboard {
  color: $link-primary;
  font-family: $ff-light;
  font-size: $fs-medium;
  text-align: center;

  a {
    text-decoration: underline;
    color: $link-primary;
  }
}

// How It Works
.wrapper-how-it-works {
  background-repeat: repeat;
  background-color: $link-primary;
  @include path('bg-map.png');
}

.how-it-works {
  position: relative;
  min-height: 600px;
  height: 100%;

  .title-primary {
    margin: 25px auto;
  }
}

.slideshow {
  min-height: 320px;
  margin-bottom: 50px;
  position: relative;
}

.step-box {
  height: auto;
  margin-bottom: 20px;
  padding: 0 20px;
}

.step-title {
  font-size: ($fs-medium)+.4;
  color: $btn-primary;
  text-align: left;
  margin-bottom: 10px;
}

.step-text {
  color: $font-primary;
  font-size: ($fs-normal)+.2;
  font-family: $ff-light;
  text-align: justify;
}

.footer-primary {
  width: 100%;
  height: 170px;
  text-align: center;
  background-color: $link-primary;
}

.nav-secondary {
  min-height: 50px;
  background-color: $bg-header;

  li {
    display: block;
    line-height: 50px;
    margin: 0 10px;
    position: relative;
  }

  a {
    display: block;
    font-size: ($fs-medium)-.2;
    color: $link-primary;
  }
}

.logo-ministerio {
  @extend .col-xs-12;
  @extend .col-sm-7;
  @extend .col-sm-offset-2;
  @extend .col-md-offset-3;

  width: 100%;
  margin: 0 auto;

  img {
    width: 90%;
    margin: 20px 0;
  }
}


// Register home
.register-box {
  @extend .near-you-box;
}

.form-register-home {
  text-align: center;

  h3 {
    color: $link-primary;
    font-size: $fs-medium;
    font-family: $ff-light;
  }
}

// ===



//
// Nav primary
//
.sidebar {
  z-index: 1;
  height: auto;
  position: relative;
  @include bsd(2px, 2px, 6px, rgba(0, 0, 0, .3));
  @include linear-gradient(-60deg, #1976D2, $bg-header);
}

.nav-primary {
  a {
    display: block;
    cursor: pointer;
    padding: 20px 15px;
    color: $link-primary;
    font-family: $ff-bold;
    letter-spacing: 0.5px;
    position: relative;
    font-size: ($fs-normal)+.2;
    @include transition(all, .2s, 0s, linear);

    &:hover,
    &.active {
      text-decoration: none;
      background-color: $btn-primary;
    }

    &::before {
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      margin: 0 15px 0 10px;
    }

    &.dropdown {
      background-repeat: no-repeat;
      background-position: 95% center;
      background-size: 5%;
      @include path('nav/icon-dropdown.svg');
      // @include bsd(-1px, 3px, 6px, rgba(0, 0, 0, .3));
    }

    &.dashboard {
      &::before { @include path('nav/icon-dashboard.svg'); }
    }

    &.profile {
      &::before { @include path('nav/icon-profile.svg'); }
    }

    &.health-daily {
      &::before { @include path('nav/icon-health-daily.svg'); }
    }

    &.health-map {
      &::before {
        height: 42px;
        background-size: 90%;
        @include path('nav/icon-health-map.svg');
      }
    }

    &.health-tips {
      &::before {
        height: 42px;
        @include path('nav/icon-health-tips.svg');
       }
    }

    &.news {
      &::before { @include path('nav/icon-news.svg'); }
    }

    &.help {
      &::before { @include path('nav/icon-help.svg'); }
    }

    &.logout {
      &::before { @include path('nav/icon-logout.svg'); }
    }
  }
}

.mobile-navbar {
  margin: auto 0;

  @extend .navbar-nav;
  // background-color: red;

  li {
    margin-bottom: 10px;

    &.dropdown {
      background-color: #fff;

      a, button {
        color: $bg-header !important;
        margin: 10px auto;
      }
    }
  }

  .dropdown-menu {
    a {
      color: #fff !important;
    }
  }

  .sidebar {
    height: 100%;
  }
}

.wrapper-nav-primary-mobile {
  // background-color: red;
}

// ====



//
// Content internal
//

.section-title {
  margin-top: 0;
  padding-top: 20px;
  font-size: ($fs-medium)+.6;
  color: $font-primary;

  span {
    font-family: $ff-light;
    font-size: ($fs-normal)+.6;

    &:first-letter,
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.sub-nav {
  background-color: $bg-header;
  overflow: hidden;
  @include transition(all, .2s, 0s, linear);

  li {
    position: relative;

    &::before {
      content: '';
      width: 5px;
      height: 50px;
      position: absolute;
      left: 38px;
      top: 0;
      background-color: #00457C;
      z-index: 1;
    }
  }

  a {
    font-size: $fs-normal;

    &::before {
      z-index: 2;
      width: 10px;
      height: 10px;
      margin-left: 20px;
      @include bdr(100%);
      border: 2px solid #90CAF9;
      background-color: transparent;
    }

    &:hover {
      background-color: transparent !important;

      &::before { background-color: $link-primary; }
    }
  }
}

.list-tips {
  height: 100%;
  min-height: 100px;
}

.btn-tip {
  min-height: 45px !important;
  outline: none;
  min-height: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  display: block;
  text-align: right;
  font-size: ($fs-medium)-.2;
  @extend .card;
  @include apr(none);
  @include transition(all, .2s, 0s, linear);

  &:hover,
  &.active {
    color: $link-primary;
    background-color: $btn-primary;

    &.upas {
      &::before { @include path('nav/icon-upas-hover.svg'); }
    }

    &.pharmacy {
      &::before { @include path('nav/icon-pharmacy-hover.svg'); }
    }

    &.vaccine {
      &::before { @include path('nav/icon-vaccine-hover.svg'); }
    }

    &.telephones {
      &::before { @include path('nav/icon-telephones-hover.svg'); }
    }

    &.caution {
      &::before { @include path('nav/icon-caution-hover.svg'); }
    }

    &.prevention {
      &::before { @include path('nav/icon-prevention-hover.svg'); }
    }

    &.zika {
      &::before { @include path('nav/icon-zika-hover.svg'); }
    }
  }

  &::before {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
  }

  &.upas {
    &::before { @include path('nav/icon-upas.svg'); }
  }

  &.pharmacy {
    &::before { @include path('nav/icon-pharmacy.svg'); }
  }

  &.vaccine {
    &::before {
      background-size: 50%;
      @include path('nav/icon-vaccine.svg');
    }
  }

  &.telephones {
    &::before { @include path('nav/icon-telephones.svg'); }
  }

  &.caution {
    &::before { @include path('nav/icon-caution.svg'); }
  }

  &.prevention {
    &::before { @include path('nav/icon-prevention.svg'); }
  }

  &.zika {
    &::before { @include path('nav/icon-zika.svg'); }
  }
}

.health-tips-default {
  text-align: center;

  figure {
    margin: 70px auto 40px auto;
    position: relative;

    img { max-width: 100%; }
  }

  h4 {
    color: $btn-primary;
    font-size: ($fs-medium)+.6;
    font-family: $ff-bold;
  }

  p {
    font-size: ($fs-normal)+.2;
  }
}

.map {
  width: 100%;
  height: 620px;
}

.map-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  height: 90px;
  z-index: 9999;
  background-color: $link-primary;
  @include bsd(0, -3px, 3px, rgba(0, 0, 0, .3));

  h5 {
    font-family: $ff-bold;
    font-size: ($fs-medium)-.2;
    color: $btn-primary;
    margin-bottom: 10px;
  }

  h6 {
    font-family: $ff-light;
    font-size: ($fs-normal)+.4;
    color: $font-primary;
  }
}

// ====



//
// Health tips
//

.subtitle {
  &.primary {
    margin-bottom: 0;
    font-size: ($fs-normal)+.4;
    font-family: $ff-bold;
  }

  &.secondary {
    margin-top: 20px;
  }

  &.master {
    color: $font-primary;
    margin-bottom: 20px;
  }
}

// vacinas
.text-primary {
  padding-top: 10px;
  color: $bg-modal;
  font-size: ($fs-normal)+.2;
  list-style-type: circle;
  position: relative;

  &.ht {
    &::before {
      content: '•';
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }
  }

  &.justified { text-align: justify; }

  span {
    &.italic { font-style: italic }
    &.bold { font-weight: bold; }
  }
}

// telefones uteis
.telephone-list {
  text-align: center;
  padding: 20px;
}

.telephone-item {
  min-height: 220px;
  text-align: left;
  text-align: center;
  margin-bottom: 10px;
  // background: red;
  // height: 220px;
  // text-align: left;

  img {
    padding: 20px;
    max-width: 100%;
  }

  figcaption {
    font-size: ($fs-medium)+.4;
    font-family: $ff-bold;
    color: $btn-primary;
    // margin-top: 70px;

    span {
      font-family: $ff-light;
      display: block;
    }
  }
}

// ====



//
// Health Daily
//
.health-daily-avatar {
  float: left;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-top: 15px;

  img {
    max-width: 100%;
    height: auto;
    @include bdr(100%);
  }

  figcaption {
    text-align: center;
    color: $font-primary;
    font-size: ($fs-normal)*2;
    margin-top: 20px;
    font-family: $ff-regular;

    span {
      margin-top: -5px;
      display: block;
      font-family: $ff-light;
      font-size: ($fs-normal)+.8;
    }
  }
}

.right{float: right !important}

.total-participants {
  float: left;
  margin: 22px 0 20px 0;

  div { float: left; }

  .geral {
    float: left;
    clear: left;
    padding: 0;

    .status  {
      width: 150px;
      margin: 0 0 0 5px;

      figure {
        img {
          @include bdr(100%);
          @include bsd(0px, 7px, 12px, rgba(0, 0, 0, .3));
        }
      }

      ul {

        li {
          float: left;
          width: 155px;
          cursor: pointer;
        }

        li:nth-child(1) {
          margin: 0 15px 0 0;
        }

        figcaption {
          float: right;
          font-family: $ff-light;
          font-size: ($fs-normal)+.6;
          color: $font-primary;

          span {
            font-family: $ff-bold;
          }

          .spelling {
            font-family: $ff-light;
          }

          p {
            font-size: ($fs-normal)+.2;
          }
        }
      }
    }
  }
  // .sort-by { float: right; }

  h1 {
    font-size: ($fs-medium)+.4;
    color: $font-primary;
    margin: 10px 0 20px 0;

    span {
      font-family: $ff-bold;
    }

    .spelling {
      font-family: $ff-light;
    }
  }
}

.frequency {
  position: relative;

  h2, h3 {
    float: left;
  }
  h3 {
    clear: both;
  }
  .sort-by {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    z-index: 1;
  }
}

.sort-by {
  float: right;
  margin: 15px 0 0 0;

  button {
    color: $link-primary;
    background-color: $btn-primary;
    border: none;

    &:hover {
      color: $link-primary;
      background-color: $btn-google;
    }
  }

  .dropdown-menu {
    left: initial;
    right: 0;
    min-width: auto;

    li {
      float: none;
      margin: 0;
      padding: 0;
      width: auto;
      text-align: center;
    }

    a {
      cursor: pointer;
    }
  }
}

// ====



//
// News
//

.wrapper-full-page {
  min-height: 700px;
  background-color: $link-primary;

  .privacy-policy {

    .title-primary {
      color: $btn-primary;
      font-size: ($fs-medium)+1;
      margin: 0px auto 20px auto;
    }
  }
}

.news-header {
  text-align: center;
  margin-bottom: 40px;

  figcaption {
    font-size: ($fs-medium)+.6;
    font-family: $ff-regular;
  }
}

.news-card {
  font-family: $ff-regular;
  color: $font-primary;
  position: relative;
  padding: 0 15px 30px 20px;
  min-height: 120px;

  &:before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $blue-light;
  }

  &:last-child { margin-bottom: 50px; }
}

.news-date {
  font-size: ($fs-medium)-.2;
  text-align: left;
  margin-bottom: 12px;
  display: block;

  &:before {
    content: '';
    width: 18px;
    height: 18px;
    @include bdr(100%);
    background-color: $blue-light;
    position: absolute;
    z-index: 1;
    left: -8px;
    top: 0px;
  }
}

.news-tweet {
  font-size: ($fs-medium)-.4;
  margin-bottom: 10px;
}

.news-footer {
  display: block;
  color: $week-days-color;
  width: 100%;
  font-size: ($fs-normal)+.4;
  font-family: $ff-regular;
}

.icon-news {
  figure {
    display: inline-block;
    width: 14px;
    height: 14px;

    img { max-width: 100%; }
  }

  &.like {
    text-align: left;
  }

  &.clock {
    text-align: right;
  }
}

// ====



//
// Survey
//

.survey-content {
  text-align: center;
  background-image: radial-gradient(50% 162%, #1976D2 56%, #01579B 100%);

  .title-primary {
    color: $link-primary;
    font-size: ($fs-medium)*2;
    margin-bottom: 40px;
  }
}

.survey-avatar {
  width: 130px;
  min-height: 200px;
  vertical-align: top;
  margin: 0 15px 30px 0;
  display: inline-block;

  img {
    max-width: 100%;
    @include bdr(100%);
    @include bsd(0, 4px, 6px, rgba(0, 0, 0, .5));
  }

  figcaption {
    text-align: center;
    color: $link-primary;
    font-size: ($fs-normal)*2;
    margin-top: 20px;
    font-family: $ff-bold;

    span {
      margin-top: -5px;
      display: block;
      font-family: $ff-light;
      font-size: ($fs-normal)+.8;
    }
  }

  a {
    display: block;
    cursor: pointer;

    &:hover { text-decoration: none; }
  }
}

.survey-subtitle {
  font-family: $ff-light;
  font-size: ($fs-normal)*2+.2;
  color: $link-primary;
  margin: 35px auto 25px auto;
}

.btn-hayf {
  @include apr(none);
  @include bdr(100%);
  border: none;
  outline: none;
  width: 210px;
  height: 210px;
  margin: 0 40px 90px 40px;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  font-family: $ff-light;

  &::before {
    content: attr(data-label);
    color: $link-primary;
    position: absolute;
    bottom: -55px;
    left: 50%;
    margin-left: -25px;
    font-size: ($fs-medium)+1.5;
  }

  &.good {
    @include path('icon-survey-good.svg');
  }

  &.bad {
    @include path('icon-survey-bad.svg');
  }
}

.survey-footer {
  font-size: ($fs-normal)+.6;
  color: $link-primary;
  text-align: center;
  padding-bottom: 30px;
}

// ====



//
// Login
//

// social login
.login-subtitle {
  font-family: $ff-light;
  color: $link-primary;
  font-size: ($fs-medium);
  text-align: center;
  margin-bottom: 20px;
}

.btn-login {
  display: block;
  height: 40px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  color: $link-primary;
  font-size: ($fs-normal)+.6;
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 30% center;
  font-family: $ff-light;
  @include apr(none);
  @include bdr(5px);
  @include bsd(0, 3px, 6px, rgba(0, 0, 0, .4));

  &.facebook {
    background-color: $btn-facebook;
    background-size: 4%;
    @include path('btn-facebook.svg');

  }

  &.google {
    background-color: $btn-google;
    background-size: 5%;
    @include path('btn-google.svg');
  }

  &.twitter {
    background-color: $link-primary;
    background-size: 8%;
    color: $btn-twitter;
    @include path('btn-twitter.svg');
  }
}

p.login-email {
  @extend .login-subtitle;
  margin-top: 30px;
  clear: both;

  a {
    padding-bottom: 1px;
    color: $link-primary;
    text-decoration: none;
    border-bottom: 1px solid $link-primary;
  }
}

// ====



//
// Cadastro
//

.register-agree {
  margin: 20px 0 10px 0;
  font-size: ($fs-normal)+.2;
  font-family: $ff-light;
  color: $link-primary;

  a {
    color: $link-primary;
    text-decoration: underline;
  }
}

// ====



//
// Cards
//

.card {
  min-height: 280px;
  background-color: $link-primary;
  margin-bottom: 20px;
  position: relative;
  @include bdr(3px);
  @include bsd(0, 3px, 6px, rgba(0, 0, 0, .4));

  &.half { margin-right: 20px;}

  &.news { padding-top: 20px; }

  h2 {
    font-family: $ff-light;
    font-size: $fs-medium;
    color: $btn-primary;
    margin: 15px 0 3px 0;
  }

  h3 {
    font-family: $ff-light;
    font-size: ($fs-normal)+.2;
    color: $week-days-color;
    margin: 3px 0 17px 0;
  }
}

.content-card {
  padding: 20px;
  z-index: 1;
}

.link-figure {
  &:hover {
    text-decoration: none;
  }
}


.card-avatar-image {
  min-width: 200px !important;
  min-height: 200px;
  text-align: center;

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: ($fs-medium)+.8;
    color: $font-primary;

    span {
      font-size: ($fs-normal)+.6;
      display: block;
    }
  }

  &.edit {
    position: relative;
    @include bdr(100%);
    overflow: hidden;
    min-width: 190px;
    min-height: 190px;

    figcaption {
      position: absolute;
      bottom: 40px;
      background-color: $link-primary;
      left: 0;
      width: 100%;
    }
  }
}

.card-avatar-content { min-height: 250px;}

.panel-heading {
  background-color: $btn-primary !important;
  height: auto;
  min-height: 40px;
  margin-bottom: 35px;

  .location {
    padding: 10px;
    margin: 0;
  }

  h3 {
    font-family: $ff-light;
    font-size: ($fs-normal)+.4;
    color: $link-primary;
  }

  &.change-photo { margin-bottom: 10px; }

  &.confirm-survey { margin-bottom: 10px; }
}

.panel-body { padding: 0; }

#notDataLinechart{
  display: block;
  width: 100%;
  height: 180px;
  background: #eeeeee;
  font-size: 18px;
  text-align: center;
  margin-top: 80px;

  div {
    padding-top:73px;
    position: absolute !important;
    width: 100% !important;
  }
}

// ====



//
// Change photo
//

.change-photo-subtitle {
  font-size: ($fs-normal)+.2;
  font-family: $ff-light;
  color: $border-secondary;
  margin-bottom: 20px;
  text-align: center;
}

.form-change-photo-default { text-align: center; }

.change-photo-or {
  @extend .change-photo-subtitle;
  margin-bottom: 0;
}

// ====



//
// Fale Conosco
//

.fale-conosco {
  margin-bottom: 40px;

  .title-primary {
    font-family: $ff-bold;
    text-align: left;
    font-size: ($fs-medium)+1;
    margin-bottom: 30px;
    color: $btn-primary;
  }

  .btn-login {
    background-position: 10% center;
    text-align: center;
    line-height: 40px;

    &.twitter { background-size: 10%; }

    &:hover {
      &.facebook {
        color: white;
      }
    }
  }

  h5 {
    font-size: ($fs-normal)+.2;
    color: $btn-primary;
  }
}

// ====



//
// About / Privacy policy
//

.about {
  margin: 40px 0;

  .title-primary { text-align: left; }

  .logo-secondary {
    text-align: center;
    margin-bottom: 40px;
  }

  .text-primary { line-height: ($fs-medium)+.5; }
}

.privacy-policy { @extend .about; }

// ====

// Social login in Cadastro
.social-login {
  margin: 20px 0 20px 0;

  li {
    display: inline-block;
    margin: 0 10px 0 10px;

    &:first-child, &:last-child {
      margin: 0;
    }
  }

  .btn-login {
    margin: 0;
    float: left;
    width: 85px;
    font-size: ($fs-normal)+.4;
    background-image: none;
    padding: 0;
    text-align: center;
  }
}

// ====

// Inputs of change photo
@for $i from 01 through 16 {
  .avatar-#{$i} {
    i { @include path('avatar/avatar-'+ $i + '.svg'); }
  }
}

//
// Media queries
//

// iPads
@media screen and (min-width: 768px) {
  // Header
  .navbar-nav { float: right; }
  .btn-survey { margin-top: 15px; }
  // ====

  // Content internal
  .content-internal { float: right; }
  // ====
  .card-avatar-content {padding-left: 50px;}

  // Nav primary
  .sidebar {
    position: fixed;
    left: 0;
    min-height: 700px;
    height: 100%;
  }

  .nav-primary {
    margin-top: 20px;

    a { font-size: ($fs-normal); white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
  }
  // ====

  // How it Works
  .title-primary {
    font-size: ($fs-large)+1;

    &.news {
      margin: 50px 0 70px 0;
      font-size: ($fs-large)+1;
    }
  }

  .step-box {
    height: 220px;
    margin-bottom: 30px;
  }

  .nav-secondary {
    li {
      display: inline-block;

      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        background-color: $btn-primary;
        height: 20px;
        position: absolute;
        top: 15px;
        right: -10px;
      }

      &:last-child {
        &::before {
          background-color: transparent;
        }
      }
    }
  }

  .logo-ministerio {
    margin-top: 20px;

    img { width: auto; }
  }
  // ====

  // Register box
  .register-box {
    .title-primary { font-size: $fs-large; }
  }
  // ====

  // Content internal
  .section-title {
    margin-top: 20px;
    padding-top: 0;
  }

  .list-tips { margin-right: 30px; }
  // ====

  // Main
  .main-content {
    height: auto;
    min-height: 100%;
  }
  // ====

  // Survey
  .survey-avatar { margin: 15px; }

  .survey-content { min-height: 1024px; }

  .btn-hayf { margin: 0 40px; }
  // ====

  // change photo
  .form-change-photo-default { text-align: left; }
  .change-photo-subtitle { text-align: left; }
  // ====

  // fale conosco
  .fale-conosco {
    .title-primary {
      font-size: $fs-large;
    }

    .bt-login {
      text-indent: 50px;
    }
  }
  // ====

  // health daily
  .health-daily-avatar {
    float: left;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
  }

  .total-participants {
    .geral {
      .status  {
        width: auto;
        margin: 30px 0 0 20px;
      }
    }
  }
  // ====

  // ht-telefones
  .telephone-item {
    text-align: left;
    min-height: 100px;

    figcaption { margin-top: 25px; }
  }
  // ====
}

// Desktops
@media screen and (min-width: 992px) {

  // How it Works
  .step-title { font-size: ($fs-medium + $fs-normal)+.4; }

  .logo-ministerio {
    img { width: auto; }
  }
  //  ====

  // Nav primary
  .nav-primary {
    a { font-size: ($fs-normal)+.2; }
  }
  // ====

  // Survey
  .survey-content {
    .title-primary{ font-size: ($fs-large)+1; }
  }
  // ====

  // fale conosco
  .fale-conosco { margin-top: 70px; }
  // ====

  // health daily
  .sort-by {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
  }

  .health-daily-avatar {
    float: left;
    width: 180px;
    display: inline-block;
    text-align: center;
    margin: 30px 0 0 30px;
  }


  .total-participants {
    float: right;
    margin: 22px 0 20px 0;

    .geral {
      .status  {
        width: auto;
        margin: 30px 0 0 20px;
      }
    }
  }

  // ====

  //policy and privacy
  .wrapper-full-page {

    .privacy-policy {

      .title-primary {
        font-size: ($fs-large)+1;
        margin: 45px auto 90px auto;
      }
    }
  }

  // ===

  // .sub-nav {
  //   max-height: 360px;
  //   overflow: scroll;
  // }


  // Social login in Cadastro (desktop stylesheet)
  .social-login {
    margin: 20px 0 20px 0;

    li {
      display: inline-block;
      margin: 0 10px 0 10px;

      &:first-child, &:last-child {
        margin: 0;
      }
    }

    .btn-login {
      margin: 0;
      float: left;
      width: 170px;
      background-position: 15% center;
    }

    .facebook {
      background-size: 7%;
      @include path('btn-facebook.svg');
    }

    .google {
      background-size: 8%;
      @include path('btn-google.svg');
    }

    .twitter {
      background-size: 13%;
      @include path('btn-twitter.svg');
    }
  }

  // ====

  // Fale Conosco
  .fale-conosco {
    .btn-login {
      &.facebook { background-size: 8%; }
      &.twitter { background-size: 16%; }
    }
  }
  // ====

  // telefones-uteis
  .telephone-item { margin-left: 40px; }
  // ====

  .form-search-home {
    .dropdown-menu { width: 80%; }
  }
}

// Large Desktops
@media screen and (min-width: 1200px) {}
