// —————————————————————————
//     Map interactions
// —————————————————————————

//
// /health-map
//

.map-mini-dashboard {
  position: relative;
  top: 0;
  left: 0;
  background-color: $link-primary;
  z-index: 8;
  min-height: 200px;
  height: auto;
  @include bsd(0, 1px, 1px, rgba(0, 0, 0, .2));
}

.health-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.info-mini-dashboard {
  .contact {
    font-size: ($fs-normal)+.2;
    color: $font-primary;
    font-family: $ff-light;
    text-align: center;
    margin-top: 30px;

    a {
      display: block;
      color: $font-primary;
      text-decoration: underline;
    }
  }

  .week-participation {
    margin: 15px 0;
    position: relative;

    span {
      width: 45px;
      height: 45px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      @include path('icon-participations.svg');
    }

    div {
      display: inline-block;
      margin-left: 15px;
    }

    h4 {
      margin: 5px auto;
      font-family: $ff-bold;
    }

    h5 { margin-top: 0; }
  }

  .metrics {
    text-align: center;
    margin-bottom: 20px;

    img {
      margin: 0px 30% 10% 30%;
      width: 60px;
    }

    .light {
      font-family: $ff-light;
    }

    .total-percentage {
      font-family: $ff-bold;
      font-size: 24px;
      float: left;
      color: #4c4c4c;
      text-align: center;
      width: 100%;
    }

    .total-users {
      font-family: $ff-light;
      font-size: 16px;
      color: #1e88e5;
      width: 100%;
      float: left;
    }
  }
}

.legend-subtitle {
  font-size: ($fs-normal)+.2;
  border-bottom: none;
  color: $btn-primary;
  position: relative;
  display: inline-block;

  &.other { color: $font-primary; }

  .icon {
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    @include bdr(100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    &.question {
      @include path('icon-question.svg');
    }
  }
}

.progress-wrapper {
  .progress {
    clear: both;
    background-color: $bg-secondary;
  }

  .progress-label {
    @extend .pull-left;
    font-size: ($fs-normal)+.2;
    font-family: $ff-light;
    color: $font-primary;
  }

  .progress-value {
    @extend .pull-right;
    font-size: ($fs-normal)+.2;
    font-family: $ff-light;
    color: $font-primary;
  }
}

// ====


//
// Media queries
//

// iPads
@media screen and (min-width: 768px) {
  .map-mini-dashboard {
    position: absolute;
    height: 100%;
    @include bsd(1px, 0, 1px, rgba(0, 0, 0, .2));
  }
}

// Desktops
@media screen and (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
