// —————————————————————————
//     General
// —————————————————————————

//
// Add profile / survey
//

.modal-add-profile {
  .birthdate { width: 80%; }
}

// ====



//
// Delete Household
//

.modal-delete-household {
  .modal-header { margin-bottom: 0; }
}

// ====



//
// I Feel Good
//

.thank-you-image {
  text-align: center;
  margin-bottom: 20px;
}

.thank-you-text {
  text-align: center;
  font-size: ($fs-normal)+.6;
  color: $bg-modal;
  margin-bottom: 0;
}

.thank-you-share {
  margin-top: 40px;

  h3 {
    @extend .login-subtitle;
    color: $bg-modal;
  }

  .btn-tip { text-align: center !important; }
}

// ====



//
// Health map
//

.modal-sindromes {
  @extend .modal-add-profile;

  .modal-header { margin-bottom: 0; }

  li {
    @extend .text-primary;
    margin-left: 10px;

    span { font-family: $ff-light; }
  }
}



// iPad
@media screen and (min-width: 768px) {}

// Desktops
@media screen and (min-width: 992px) {
  .modal-add-profile {
    .birthdate { width: 84%; }
  }

  .thank-you-share {
    .btn-tip { width: 50% !important; }
  }
}

// Large Desktops
@media screen and (min-width: 1200px) {}
