.footer-navbar {
	background-color: $gds_color_peacock_blue;

	font-family: "foco_lightregular";
	font-size: 18px;
	text-align: center;
	// Using table to make vertical align avaible on table-cell elements
	display: table;
	width: 100%;
	color: $gds_color_dark_sky_blue;

	ul {
		// Using vertical align avaible on table-cell elements
		display: table-cell;
		vertical-align: middle;

		li {
			display: inline;
			a {
				color: white;
				line-height: 50px;
				display: inline-block;

			}

			&::before {
				content: " | ";
			}

			&:nth-child(1)::before {
				content: "";
			}
		}
	}
}
