//
// Slideshow
//

// home slide
.slideshow {
  img {
    width: 100%;
  }
}

.carousel-indicators {
  top: 100%;

  li {
    border: 1px solid $bg-header;
    margin-right: 5px;

    &.active {
      background-color: $bg-header;
      margin-right: 5px;
    }
  }
}

.carousel-control {
  &.right {
    background-image: none;

    &::before {
      position: absolute;
      content: ">";
      margin-top: 170px;
      font-size: 90px;
    }
  }

  &.left {
    background-image: none;

    &::before {
      position: absolute;
      content: "<";
      margin-top: 170px;
      font-size: 90px;
    }
  }

  .glyphicon { visibility: hidden; }
}

.carousel-control-custom {
  &.right {
    background-image: none;

    &::before {
      position: absolute;
      content: "";
      margin-top: 170px;
      font-size: 90px;
    }
  }

  &.left {
    background-image: none;

    &::before {
      position: absolute;
      content: "";
      margin-top: 170px;
      font-size: 90px;
    }
  }

  .glyphicon { visibility: hidden; }
}

// iPads
@media screen and (min-width: 768px) {}

// Desktops
@media screen and (min-width: 992px) {
  .carousel-indicators { bottom: 0; }

  // home slide
  .slideshow {
    .carousel-indicators { visibility: visible; }

    .carousel-control { top: 35%; }
    .carousel-control-custom { top: 35%; }

    .left, .right {
      &::before {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        font-size: ($fs-large)*2 !important;
      }
    }

    .left {
      left: 0;
    }

    .right {
      right: 40px;
    }
  }
}

// Large Desktops
@media screen and (min-width: 1200px) {}
