// —————————————————————————
//     Typography
// —————————————————————————

// Icon
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// ==

// Size
$fs-root:           62.5%;
$fs-normal:         1.0rem;
$fs-medium:         3.0rem;
$fs-large:          5.0rem;
// ==

// Family
$ff-light:       'foco_lightregular';
$ff-regular:     'focoregular';
$ff-bold:        'focobold';
// ==

// Style
$f-italic:          italic;
$f-normal:          normal;
// ==

// Weight
$fw-light:          300;
$fw-semi-bold:      600;
// ==

// Custom Font Face
@font-face {
    font-family: 'foco_lightregular';
    src: url('../fonts/foco_lt-webfont.eot');
    src: url('../fonts/foco_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foco_lt-webfont.woff2') format('woff2'),
         url('../fonts/foco_lt-webfont.woff') format('woff'),
         url('../fonts/foco_lt-webfont.ttf') format('truetype'),
         url('../fonts/foco_lt-webfont.svg#foco_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'focoregular';
    src: url('../foco_std_rg-webfont.eot');
    src: url('../foco_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../foco_std_rg-webfont.woff2') format('woff2'),
         url('../foco_std_rg-webfont.woff') format('woff'),
         url('../foco_std_rg-webfont.ttf') format('truetype'),
         url('../foco_std_rg-webfont.svg#focoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'focobold';
    src: url('../fonts/foco_std_bd-webfont.eot');
    src: url('../fonts/foco_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foco_std_bd-webfont.woff2') format('woff2'),
         url('../fonts/foco_std_bd-webfont.woff') format('woff'),
         url('../fonts/foco_std_bd-webfont.ttf') format('truetype'),
         url('../fonts/foco_std_bd-webfont.svg#focobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
// ==