// —————————————————————————
//     Typography
// —————————————————————————

// Icon
$icon-font-path: "bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// ==

// Size
$fs-root:           62.5%;
$fs-normal:         1.2rem; // 14px, 16px, 18px, 32px, 36px
$fs-medium:         2.0rem; // 20px, 24px, 26px, 32px, 36px
$fs-large:          5.0rem; // 48px, 60px
// ==

// Family
$ff-regular:       'focoregular';
$ff-bold:          'focobold';
$ff-light:         'focolight';

// ==

// Custom Font Face
@font-face {
    font-family: 'focobold';
    src: url('fonts/foco_std_bd-webfont.eot');
    src: url('fonts/foco_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_bd-webfont.woff2') format('woff2'),
         url('fonts/foco_std_bd-webfont.woff') format('woff'),
         url('fonts/foco_std_bd-webfont.ttf') format('truetype'),
         url('fonts/foco_std_bd-webfont.svg#focobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'focolight';
    src: url('fonts/foco_std_lt-webfont.eot');
    src: url('fonts/foco_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_lt-webfont.woff2') format('woff2'),
         url('fonts/foco_std_lt-webfont.woff') format('woff'),
         url('fonts/foco_std_lt-webfont.ttf') format('truetype'),
         url('fonts/foco_std_lt-webfont.svg#focolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'focoregular';
    src: url('fonts/foco_std_rg-webfont.eot');
    src: url('fonts/foco_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foco_std_rg-webfont.woff2') format('woff2'),
         url('fonts/foco_std_rg-webfont.woff') format('woff'),
         url('fonts/foco_std_rg-webfont.ttf') format('truetype'),
         url('fonts/foco_std_rg-webfont.svg#focoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// ==
