
$gds_color_peacock_blue: #01579b;
$gds_color_dark_sky_blue: #1e88e5;

$gds_color_yellow: #f8e71c;
$gds_color_yellow_dark: #e0d433;
$gds_color_orange: #ffbe00;
$gds_color_orange_dark: #f5a623;
$gds_color_orange_chart: #f7bc2d;
$gds_color_blue: $gds_color_dark_sky_blue;
$gds_color_blue_light: #90caf9;
$gds_color_blue_strong: #1976d2;
$gds_color_blue_chart: #2a88e5;
$gds_color_blue_light_super: rgba(29,125,229,0.2);
$gds_color_purple: #68217a;
$gds_color_wine: #85001f;
$gds_color_green: #a4c639;
$gds_color_green_chart: #84a127;
$gds_color_green_light: #5cb85c;
$gds_color_gray_: #707478;
$gds_color_gray_dark: #4c4c4c;
$gds_color_gray_light: #9b9b9b;
$gds_color_gray_border: #cccccc;
$gds_color_red: #db1105;
$gds_color_red_light: #ff4c4d;
$gds_color_red_chart: #c81204;

$gds_color_navbar: $gds_color_peacock_blue;
$gds_color_title: $gds_color_dark_sky_blue;
$gds_color_text: #231f20;
$gds_color_facebook: #395185;
$gds_color_google: #5879f4;
$gds_color_twitter: #5e9fca;
$gds_color_bg_gradient_start: $gds_color_blue_strong;
$gds_color_bg_gradient_end: $gds_color_peacock_blue;
$gds_color_sidebar_inside: $gds_color_peacock_blue;
$gds_color_sidebar_dot: $gds_color_blue_strong;
$gds_color_sidebar_dot_active: $gds_color_blue_light;
$gds_color_sidebar_line: #00457c;
