<div class="game-tutorial" style="z-index: 99999999;">
    <div class="container">
        <div class="row">
            <section class="col-xs-12 how-it-works" style="text-align:center;z-index: 0;" align="center">
                <aside id="slideshow" class="col-xs-12 hidden-xs slideshow">
                    <uib-carousel interval="0" no-wrap="false" active="slide_active" after-render="updateslide()">
                        <uib-slide ng-repeat="slide in slides track by slide.index" index="slide.index">
                            <img ng-src="{{slide.image}}" style="min-height:461px;max-height:461px;display: block; margin: auto;">
                            <p style="width: 60%; height: 52px; font-size: 3.5em; color: rgb(255, 255, 255); margin-left: 20%;margin-bottom: 25px;">
                                {{slide.text}}
                            </p>
                        </uib-slide>
                    </uib-carousel>
                </aside>
                <a href="#" class="btn btn-game-tuto" ng-click="next()">{{"00484"|translate}}</a>
            </section>
        </div>
    </div>
    <img src="images/olympics-colors-2.svg" style="width: 100%;margin-top: -5.5%;">
</div>
