<div>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <center><img class="img-responsive" src="images/epihack-png-800x800.png" width="400"></center>
            <p>
                <a class="btn btn-primary btn-lg" href="/docs" role="button">Checkout the docs</a>
                <a class="btn btn-primary btn-lg" href="/admin/login" role="button">Admin Login</a>
            </p>
            <h2>Helpful Links:</h2>
            <ul>
                <li><a href="https://www.getpostman.com/collections/e268034a7071cb21d607" target="_blank">POSTman API endpoints</a> | Environments: <a href="static/Epihack_DEV.postman_environment">Development</a> <a href="static/Epihack_PROD.postman_environment">Production</a> </li>
                <li><a href="#">SailsJS Docs</a></li>
                <li><a href="#">ionic Docs</a></li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Epitrack/2015. All code is open source by the MIT license</p>
        </div>
    </footer>
</div>
