<br><br><br><br><br>
<form id="uploadForm"
      enctype="multipart/form-data"
      action="/user/upload-photo"
      method="post">
    	<input type="file" name="uploadFile" />
    	<input type="submit" value="submit"/>
</form>