<div class="row">
    <div class="col-sm-12" style="z-index: 1;">
        <img src="../../images/dashboard/icon_pizza.svg" style="margin:auto;">
        <div class="carousel-caption">
            <p>Pizza</p>
        </div>
    </div>
    <div class="col-sm-12" style="z-index: 2;">
        <p>Variável</p>

        <p>Filtro(s)</p>
        
        <button class="btn btn-default">Limpar variáveis</button>
        <button class="btn btn-primary" ng-click="getGraphic()">Análisar variáveis</button>
    </div>
</div>
