<section class="banner-download-app">
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
      <figure class="">
        <img src="" alt="">
      </figure>

      <div class="">
        <h3>Seja um Guardião da Saúde da sua comunidade, baixe o aplicativo!</h3>

        <h5>Participe na prevenção de doenças, contribuindo ativamente com a vigilância em saúde no Brasil.</h5>

        <p>Já disponível para dispositivos iOS e Android.</p>

        <a href="https://itunes.apple.com/us/app/guardioes-da-saude/id1060576766" class="app-store" target="_blank">App Store</a>
        <a href="https://play.google.com/store/apps/details?id=com.epitrack.guardioes" class="google-play" target="_blank">Google Play</a>
      </div>

    <!-- </div> -->
  <!-- </div> -->
</section>
