<section class="banner-download-app" ng-controller="IndexCtrl">
    <div class="container">
        <div class="row">
            <figure class="col-sm-4 phones">
                <img src="../../images/img-phones@2x_{{lang.current}}.png" alt="Modal APP">
            </figure>
            <div class="col-sm-8 cta-download-app">
                <h3>{{'00540' | translate}}</h3>
                <h5>{{'00458' | translate}}</h5>
                <p>{{'00319' | translate}}</p>
                <a href="https://itunes.apple.com/us/app/guardioes-da-saude/id1060576766" class="col-sm-3 app-store" target="_blank" title="Faça o download do Guardiões da Saúde para seu dispositivo iOS">
                    <figure>
                        <img src="../../images/bttn-appstore.svg" alt="App Store">
                        <figcaption> {{'00310' | translate}}</figcaption>
                    </figure>
                    <a href="https://play.google.com/store/apps/details?id=com.epitrack.guardioes" class="col-sm-3 google-play" target="_blank" title="Faça o download do Guardiões da Saúde para seu dispositivo Android">
                        <figure>
                            <img src="../../images/bttn-googleplay.svg" alt="Google Play">
                            <figcaption> {{'00027' | translate}}</figcaption>
                        </figure>
                    </a>
            </div>
        </div>
    </div>
</section>
