<div class="header">
  <i class="fa fa-angle-left" ng-click="previous()"></i>
  <span>{{ month.format("MMMM, YYYY") }}</span>
  <i class="fa fa-angle-right" ng-click="next()"></i>
</div>

<div class="week names">
  <span class="day">S</span>
  <span class="day">T</span>
  <span class="day">Q</span>
  <span class="day">Q</span>
  <span class="day">S</span>
  <span class="day">S</span>
  <span class="day">D</span>
</div>
<div class="week" ng-repeat="week in weeks" ng-controller="HealthDailyCtrl">
  <div ng-repeat="day in week.days" class="day">

    <!-- DIAS COM SINTOMAS -->
    <div class="with-symptoms">
      <span
        ng-if="checkForSymptoms(day)"
        class="day selected"
        ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth}"
        ng-click="select(day)"
        popover-title="{{ day.name }}"
        uib-popover="{{day.symptoms}} Sintomas"
        popover-placement="top"
        popover-trigger="click">{{ day.number }}
      </span>
    </div>

    <!-- DIAS SEM SINTOMAS -->
    <div class="no-symptoms">
      <span
        ng-if="!checkForSymptoms(day)"
        class="day no-symptoms"
        ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth}"
        popover-title="{{ day.name }}"
        uib-popover="0 Sintomas"
        popover-placement="top"
        popover-trigger="click">{{ day.number }}
      </span>
    </div>
  </div>
</div>
