<div class="header">
  <i class="fa fa-angle-left" ng-click="previous()"></i>
  <span>{{ month.format("MMMM, YYYY") }}</span>
  <i class="fa fa-angle-right" ng-click="next()"></i>
</div>

<div class="week names">
  <span class="day">S</span>
  <span class="day">T</span>
  <span class="day">Q</span>
  <span class="day">Q</span>
  <span class="day">S</span>
  <span class="day">S</span>
  <span class="day">D</span>
</div>
<div class="week" ng-repeat="week in weeks" ng-controller="HealthDailyCtrl">
  <div ng-repeat="day in week.days" class="day">

    <div
      ng-if="checkForSymptoms(day)"
      class="with-symptoms">
      <!-- DIAS COM SINTOMAS -->
      <span
        class="day selected"
        ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth}"
        ng-click="select(day)"
        popover-title="{{ getCalendarPopoverTitle(day) }}"
        popover-template="'views/partials/calendar-popover.html'"
        popover-placement="top"
        tabindex="0"
        popover-trigger="focus">{{ day.number }}
      </span>
    </div>

    <div
      ng-if="!checkForSymptoms(day)"
      class="no-symptoms">
      <!-- DIAS SEM SINTOMAS -->
      <span
        class="day no-symptoms"
        ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth}">
        {{ day.number }}
      </span>
    </div>
  </div>
</div>
