<footer class="footer-primary">
    <div class="olympics-faixa-footer">
        <img src="images/game/footer.svg">
    </div>
    <nav class="nav-secondary">
        <ul>
            <li><a ng-href="body" class="scrollup" title="Início">{{'00308' | translate}}</a></li>
            <li><a ng-href="sobre" class="scrollup" title="O Guardiões da Saúde">{{'00417' | translate}} </a></li>
            <li><a ng-href="politica-de-privacidade" class="scrollup" title="Política de Privacidade">{{'00465' | translate}}</a></li>
            <li><a ng-href="noticias" class="scrollup" title="Notícias">{{'00407' | translate}}</a></li>
            <li><a ng-href="fale-conosco" class="scrollup" title="Fale Conosco">{{'00228' | translate}}</a></li>
        </ul>
    </nav>
    <figure class="logo-ministerio" style="padding-top: 0; margin-top: -10px; background-color: white;">
        <img src="../images/logo-ministerio.jpg" style="width: 350px;" alt="Logo do ministério da Saúde">
    </figure>
</footer>
