<footer class="footer-primary">
  <nav class="nav-secondary">
    <ul>
      <li><a ng-href="body" class="scrollup" title="Início">Início</a></li>
      <li><a ng-href="sobre" class="scrollup" title="O Guardiões da Saúde">O Guardiões da Saúde</a></li>
      <li><a ng-href="politica-de-privacidade" class="scrollup" title="Política de Privacidade">Política de Privacidade</a></li>
      <li><a ng-href="noticias" class="scrollup" title="Notícias">Notícias</a></li>
      <li><a ng-href="fale-conosco" class="scrollup" title="Fale Conosco">Fale Conosco</a></li>
    </ul>
  </nav>

  <figure class="logo-ministerio">
    <img src="../images/logo-ministerio.jpg" style="width: 350px;" alt="Logo do ministério da Saúde">
  </figure>
</footer>
