<footer class="footer-primary">
  <nav class="nav-secondary">
    <ul>
      <li><a ng-href="#/sobre" title="O Guardiões da Saúde">O Guardiões da Saúde</a></li>
      <li><a ng-href="#/politica-de-privacidade" title="Política de Privacidade">Política de Privacidade</a></li>
      <li><a ng-href="#/noticias" title="Notícias">Notícias</a></li>
      <li><a ng-href="#/fale-conosco" title="Fale Conosco">Fale Conosco</a></li>
    </ul>
  </nav>

  <figure class="logo-ministerio">
    <img src="../images/logo-ministerio.svg" alt="Logo do ministério da Saúde">
  </figure>
</footer>
