<header class="header-primary" ng-controller="IndexCtrl">
  <div class="navbar navbar-default not-logged" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle btn-showNavbar" id="btn-showNavbar" ng-click="showNavbar($event)">
          <div class="bar-icon-wrapper">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
        </button>

        <h1 class="logo-primary"><a href="/" title="Voltar para a Home">Guardiões da Saúde</a></h1>
      </div>

      <div class="navbar-collapse st-menu st-effect-2 no-padding" ng-style="{'height': hMenu}" id="js-navbar-collapse">
        <!-- visible when user not logged -->
        <div ng-if="user.id == undefined">
          <ul class="nav navbar-nav mobile-navbar">
            <li><a class="nav-link" ng-href="/cadastro" ng-click="goToUrl('/cadastro');closeNav()">Registre-se</a></li>
            <li><a class="nav-link" ng-href="/login" ng-click="goToUrl('/login');closeNav()">Entrar</a></li>
          </ul>
        </div>

        <!-- visible when user is logged -->
        <div ng-if="user.id != null">
          <ul class="nav navbar-nav mobile-navbar">
            <li ng-show="!user.picture || user.picture == '0'">
              <figure class="mini-avatar-user">
                <img src="images/avatar/avatar-0.svg" alt="avatar">
              </figure>
            </li>

            <li ng-show="user.picture">
              <figure class="mini-avatar-user">
                <img ng-src="images/avatar/avatar-{{user.picture}}.svg" alt="avatar">
              </figure>
            </li>

            <li ng-show="user" class="dropdown dropnav">
              <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{user.nick}} <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-href="/health-daily" ng-click="goToUrl('/health-daily');closeNav()">Diário da Saúde</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-href="/" ng-click="goToUrl('/');closeNav();clearStorage()">Sair</a></li>
              </ul>
            </li>

            <li><a ng-href="/survey" ng-click="goToUrl('/survey');closeNav();" class="btn-survey">Participe Agora!</a></li>
          </ul>
        </div>

        <!-- sidebar just show when user is logged and mobile -->
        <div ng-if="user.id != null" class="hidden-sm hidden-md hidden-lg wrapper-nav-primary-mobile">
          <div ng-include src="'views/partials/nav-primary.html'"></div>
        </div>
      </div>
    </div>
  </div>
</header>
