<header class="header-primary" ng-controller="IndexCtrl">
    <div class="navbar navbar-default not-logged" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn-showNavbar" id="btn-showNavbar" ng-click="showNavbar($event)">
                    <div class="bar-icon-wrapper">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </button>
                <h1 class="logo-primary"><a href="/" title="Voltar para a Home">{{'00262' | translate}}</a></h1>
            </div>
            <div class="navbar-collapse st-menu st-effect-2 no-padding" ng-style="{'height': hMenu}" id="js-navbar-collapse">
                
                <!-- Language -->
                <div class="select-language-mobile col-xs-4">
                    <ul class="nav navbar-nav mobile-navbar">
                        <select class="nav-link-select  icon-arrow" style="-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; position: relative;padding-top: 15px; padding-bottom: 15px;padding-right: 20px;width: 100%;" ng-model="lang.current" ng-change="changeLanguage()">
                            <option value="pt">PT</option>
                            <option value="en">EN</option>
                            <option value="es">ES</option>
                            <option value="zh">ZH</option>
                            <option value="ar">AR</option>
                            <option value="ru">RU</option>
                            <option value="fr">FR</option>
                        </select>
                    </ul>
                </div>


                <!-- visible when user not logged -->
                <div ng-if="user.id == undefined">
                    <ul class="nav navbar-nav mobile-navbar">
                        <li><a class="nav-link" ng-href="/cadastro" ng-click="goToUrl('/cadastro');closeNav()" id="bt-cadastrar">{{'00089' | translate}}</a></li>
                        <li><a class="nav-link" ng-href="/login" ng-click="goToUrl('/login');closeNav()" id="bt-entrar">{{'00194' | translate}}</a></li>
                    </ul>
                </div>
                <!-- visible when user is logged -->
                <div ng-if="user.id != null">
                    <ul class="nav navbar-nav mobile-navbar">
                        <li class="col-xs-2" ng-show="!user.picture || user.picture == '0'">
                            <figure class="mini-avatar-user">
                                <img src="images/avatar/avatar-0.svg" alt="avatar">
                            </figure>
                        </li>
                        <li class="col-xs-2" ng-show="user.picture">
                            <figure class="mini-avatar-user">
                                <img ng-src="images/avatar/avatar-{{user.picture}}.svg" alt="avatar">
                            </figure>
                        </li>
                        <li ng-show="user" class="col-xs-8 dropdown-menu-mobile">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{user.nick}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ng-href="/health-daily" ng-click="goToUrl('/health-daily');closeNav()">{{'00158' | translate}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-href="/" ng-click="goToUrl('/');closeNav();clearStorage()">{{'00521' | translate}}</a></li>
                            </ul>
                        </li>
                        <li class="col-xs-12">
                            <a class="nav-link" ng-href="game/tutorial" style="width: 100%;"> <img src="images/divirtase.png" style="float: left; margin-right: 8px;width: 20px;"> {{'00167' | translate}}</a>
                        </li>
                        <li class="col-xs-12">
                            <a ng-href="/survey" ng-click="goToUrl('/survey');closeNav();" class="btn-survey">{{'00455' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar just show when user is logged and mobile -->
                <div ng-if="user.id != null" class="hidden-sm hidden-md hidden-lg wrapper-nav-primary-mobile">
                    <div ng-include src="'views/partials/nav-primary.html'"></div>
                </div>
            </div>
        </div>
    </div>
</header>
