<div class="wrapper-interna wrapper-how-it-works" style="padding-top: 150px;">
    <div class="container">
        <div class="row">
            <section class="col-xs-12 how-it-works">
                <h2 class="title-secondary">{{'00119' | translate}}</h2>
                <aside id="slideshow" class="col-xs-12 hidden-xs slideshow" ng-controller="SlideshowCtrl">
                    <uib-carousel interval="5000" no-wrap="false">
                        <uib-slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}">
                            <!-- <div class="carousel-caption"> -->
                            <!-- <h4>Slide {{$index}}</h4> -->
                            <!-- <p>{{slide.text}}</p> -->
                        </uib-slide>
                    </uib-carousel>
                </aside>
                <div class="steps">
                    <aside class="col-xs-12 col-sm-4 step-box">
                        <h4 class="step-title">{{'00496' | translate}}</h4>
                        <p class="step-text">
                            {{'00618' | translate}}
                        </p>
                    </aside>
                    <aside class="col-xs-12 col-sm-4 step-box">
                        <h4 class="step-title">{{'00121' | translate}}</h4>
                        <p class="step-text">
                            {{'00306' | translate}}
                        </p>
                    </aside>
                    <aside class="col-xs-12 col-sm-4 step-box">
                        <h4 class="step-title"> {{'00358' | translate}}</h4>
                        <p class="step-text">
                            {{'00240' | translate}}
                        </p>
                    </aside>
                    <aside class="col-xs-12 col-sm-4 step-box">
                        <h4 class="step-title">{{'00162' | translate}}</h4>
                        <p class="step-text">
                            {{'00021' | translate}}
                        </p>
                    </aside>
                    <aside class="col-xs-12 col-sm-4 step-box">
                        <h4 class="step-title"> {{'00158' | translate}}</h4>
                        <p class="step-text">
                            {{'00380' | translate}}
                        </p>
                    </aside>
                    <aside class="col-xs-12 col-sm-4 step-box">
                        <h4 class="step-title">{{'00407' | translate}}</h4>
                        <p class="step-text">
                            {{'00241' | translate}}
                        </p>
                    </aside>
                </div>
            </section>
        </div>
    </div>
    <!-- banner download app -->
    <div class="hidden-xs" ng-include src="'views/partials/banner-download-app.html'"></div>
    <!-- banner #zikazero -->
    <div ng-include src="'views/partials/banner-zikazero.html'"></div>
    <!-- Footer -->
    <div ng-include src="'views/partials/footer-not-logged.html'"></div>
</div>
