<div class="wrapper-interna wrapper-how-it-works">
  <div class="container">
    <div class="row">
      <section class="col-xs-12 how-it-works">
        <h2 class="title-secondary">Como Funciona?</h2>

        <aside id="video" class="col-xs-12 video"></aside>

        <div class="steps">
          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Registrar</h4>
            <p class="step-text">
              Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo. Maecenas semper suscipit nunc, sed aliquam sapien convallis eu. Nulla ut turpis in diam dapibus consequat.
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Como Participar</h4>
            <p class="step-text">
              Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo. Maecenas semper suscipit nunc, sed aliquam sapien convallis eu. Nulla ut turpis in diam dapibus consequat.
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Mapa da Saúde</h4>
            <p class="step-text">
              Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo. Maecenas semper suscipit nunc, sed aliquam sapien convallis eu. Nulla ut turpis in diam dapibus consequat.
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Dicas</h4>
            <p class="step-text">
              Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo. Maecenas semper suscipit nunc, sed aliquam sapien convallis eu. Nulla ut turpis in diam dapibus consequat.
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Diário da Saúde</h4>
            <p class="step-text">
              Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo. Maecenas semper suscipit nunc, sed aliquam sapien convallis eu. Nulla ut turpis in diam dapibus consequat.
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Notícias</h4>
            <p class="step-text">
              Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo. Maecenas semper suscipit nunc, sed aliquam sapien convallis eu. Nulla ut turpis in diam dapibus consequat.
            </p>
          </aside>
        </div>
      </section>
    </div>
  </div>

  <footer class="footer-primary">
    <nav class="nav-secondary">
      <ul>
        <li><a ng-href="#/" title="O Guardiões da Saúde">O Guardiões da Saúde</a></li>
        <li><a ng-href="#/" title="Política de Privacidade">Política de Privacidade</a></li>
        <li><a ng-href="#/" title="Dicas de Saúde">Dicas de Saúde</a></li>
        <li><a ng-href="#/" title="Notícias">Notícias</a></li>
        <li><a ng-href="#/" title="Fale Conosco">Fale Conosco</a></li>
      </ul>
    </nav>

    <figure class="logo-ministerio">
      <img src="../images/logo-ministerio.svg" alt="Logo do ministério da Saúde">
    </figure>
  </footer>
</div>

<script>
  // Load the Player API code asynchronously.
  // var tag = document.createElement('script');
  // tag.src = "https://www.youtube.com/player_api";
  // var firstScriptTag = document.getElementsByTagName('script')[0];
  // firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // YouTube player after the API code downloads.
  // var player;
  // function onYouTubePlayerAPIReady() {
  //   player = new YT.Player('video', {
  //     height: '100%',
  //     width: '100%',
  //     videoId: 'SzLGD2MBV34'
  //   });
  // }
</script>
