<div class="wrapper-interna wrapper-how-it-works">
  <div class="container">
    <div class="row">
      <section class="col-xs-12 how-it-works">
        <h2 class="title-secondary">Como Funciona?</h2>

        <aside id="video" class="col-xs-12 video"></aside>

        <div class="steps">
          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Registrar</h4>
            <p class="step-text">
              Tornar-se um Guardião da Saúde é muito fácil: seu cadastro poder ser feito através do nosso site ou diretamente no aplicativo do seu smartphone. Registre-se e nos ajude a contribuir para o aprimoramento da vigilância participativa em saúde no Brasil!
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Como Participar</h4>
            <p class="step-text">
              Informando sintomas diariamente, você contribui ativamente para o aprimoramento da vigilância em saúde no Brasil. Seja um Guardião e ajude a melhorar a saúde da sua comunidade.
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Mapa da Saúde</h4>
            <p class="step-text">
              Fique de olho no Mapa e acompanhe, em tempo real, a situação da saúde próximo à você.
              Não esqueça de colaborar diariamente como você está se sentindo, para que as estatísticas estejam sempre atualizadas!
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Dicas</h4>
            <p class="step-text">
              Além de conter dicas relevantes sobre cuidados com a saúde, prevenção de doenças e vacinação, o Guardião localiza as UPAs e farmácias mais próximas, com auxílio de mapas. 
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Diário da Saúde</h4>
            <p class="step-text">
              Monitore seu histórico de saúde e dos seus familiares cadastrados. Todos os seus registros serão salvos, permitindo que você os acesse a qualquer lugar e ocasião. 
            </p>
          </aside>

          <aside class="col-xs-12 col-sm-4 step-box">
            <h4 class="step-title">Notícias</h4>
            <p class="step-text">
              Fique por dentro das notícias de saúde! O Guardião tem acesso direto aos tweets do Ministério da Saúde, podendo compartilhá-los com seus amigos nas redes sociais.
            </p>
          </aside>
        </div>
      </section>
    </div>
  </div>

  <!-- Footer -->
  <div ng-include src="'views/partials/footer-not-logged.html'"></div>
</div>

<script>
  // Load the Player API code asynchronously.
  // var tag = document.createElement('script');
  // tag.src = "https://www.youtube.com/player_api";
  // var firstScriptTag = document.getElementsByTagName('script')[0];
  // firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // YouTube player after the API code downloads.
  // var player;
  // function onYouTubePlayerAPIReady() {
  //   player = new YT.Player('video', {
  //     height: '100%',
  //     width: '100%',
  //     videoId: 'SzLGD2MBV34'
  //   });
  // }
</script>
