<!--
  Health tips - Cuidados
-->

<div ng-repeat="cuidado in cuidados">
  <p class="text-primary ht">{{ cuidado.paragraph_01 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_02 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_03 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_04 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_05 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_06 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_07 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_08 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_09 }}</p>
  <p class="text-primary ht">{{ cuidado.paragraph_10 }}</p>
</div>

