<!--
  Health tips - Cuidados
-->

<h3 class="subtitle primary">Saúde do Viajante:</h3>

<p class="text-primary justified">
• Procure seu médico, preferencialmente, entre 4 e 8 semanas antes da viagem para informar seu roteiro. Peça orientações sobre cuidados para proteção contra doenças e lesões;
</p>

<p class="text-primary justified">
• Você pode ter dificuldade ou não encontrar os medicamentos que utiliza habitualmente durante a viagem. Peça orientação ao seu médico sobre quais medicamentos e em que quantidade deve levar durante a viagem, incluindo a bagagem de mão;
</p>

<p class="text-primary justified">
• Carregue com você os seus documentos de identificação, de preferência em inglês e português, com informações de contatos pessoais, tipo sanguíneo, se tem alergias, diabetes ou outras doenças que possam requerer particular atenção;
</p>

<p class="text-primary justified">
• Carregue com você os seus documentos de identificação, de preferência em inglês e português, com informações de contatos pessoais, tipo sanguíneo, se tem alergias, diabetes ou outras doenças que possam requerer particular atenção;
</p>

<p class="text-primary justified">
• Toda gestante deve consultar seu médico antes da viagem, pois estará sujeita a vários riscos e a viagem pode afetar sua segurança e conforto;
</p>

<p class="text-primary justified">
• Antes de viajar consulte a empresa de transporte sobre as regras específicas para gestantes;
</p>

<p class="text-primary justified">
• O Brasil é um país de clima tropical. Recomenda-se ao viajante a ingestão constante de líquidos para evitar a desidratação;
</p>

<p class="text-primary justified">
• Use roupas e calçados confortáveis. Eles lhe darão segurança e proteção contra torções, picadas de insetos e acidentes com animais peçonhentos;
</p>

<p class="text-primary justified">
• Para se proteger do sol, cubra-se com roupas apropriadas, utilize chapéu ou boné e óculos escuros. Evite a exposição direta ao sol entre 10 horas da manhã e 4 horas da tarde;
</p>

<p class="text-primary justified">
• Use protetor solar com fator de proteção adequado à cor de sua pele, de acordo com as orientações do fabricante. Mesmo em locais mais frios, sua pele ficará protegida dos raios solares;
</p>

<p class="text-primary justified">
• Use repelentes quando houver necessidade;
</p>

<p class="text-primary justified">
• Lave as mãos com água e sabão várias vezes ao dia, principalmente antes de ingerir alimentos, após utilizar conduções públicas, visitar mercados ou locais com grande fluxo de pessoas.
</p>

<p class="text-primary justified">
• No Brasil, é proibido por lei dirigir após o consumo de bebida alcoólica, mesmo em pequenas quantidades.
</p>
