<!--
  Health tips - Farmácias
-->

<h3 class="subtitle primary master">Farmácias</h3>
<div ng-if="markersPharmacy" >
    <gds-maps mid="mapDrugs" location="userLocation" marks="markersPharmacy" size="{height:'600px', width:'100%'}"></gds-maps>
</div>
<!--
<leaflet event-broadcast="events" lf-center="userLocation" markers="markersPharmacy" layers="layers" height="600px"
         width="100%"></leaflet>
<div ng-show="pharmacyTitle" class="map-info">
  <h5>{{pharmacyTitle}}</h5>
  <h6>{{pharmacyMessage}}</h6>
</div>
-->
