<!--
  Health tips - Prevenção
-->
<h3 class="subtitle primary master">{{"00689"|translate}}</h3>

<p class="text-primary justified">
  • Limpei os pratinhos de vasos de plantas ou xaxins dentro e fora de prédios;
</p>

<p class="text-primary justified">
  • Eliminei água acumulada das bromélias ou outras plantas;
</p>

<p class="text-primary justified">
  • Eliminei água parada de lixeiras;
</p>
<p class="text-primary justified">
  • Eliminei tampinhas de garrafas, cascas de ovos, latinhas, embalagens plásticas e de vidro, copos descartáveis ou qualquer outro objeto que possa estar acumulando água parada;
</p>

<p class="text-primary justified">
  • Limpei e eliminei água parada dos vasilhames dos meus animais domésticos;
</p>
<p class="text-primary justified">
  • Deixei as tampas dos vasos sanitários fechadas;
</p>
<p class="text-primary justified">
  • Verifiquei se os ralos de cozinha, de banheiro, de sauna e de ducha estão fechados;
</p>
<p class="text-primary justified">
  • Eliminei água parada das bandejas externas da geladeira;
</p>
<p class="text-primary justified">
  • Verifiquei a água de lagos, cascatas e espelhos de água decorativos;
</p>
<p class="text-primary justified">
  • Tampei os tonéis e depósitos de água;
</p>
<p class="text-primary justified">
  • Lavei o suporte de garrafões de água mineral;
</p>
<p class="text-primary justified">
  • Limpei e tampei as caixas de água, tanques para armazenar água, cisternas, barris, tonéis e/ou poços;
</p>
<p class="text-primary justified">
  • Limpei e tratei a água da piscina;
</p>
<p class="text-primary justified">
  • Eliminei água parada da laje;
</p>
<p class="text-primary justified">
  • Vedei os cacos de vidro nos muros com cimento para não acumular água;
</p>
<p class="text-primary justified">
  • Entreguei os pneus velhos aos serviços de limpeza urbana;
</p>
<p class="text-primary justified">
  • Embalei todas as garrafas pet e de vidro que não vou usar;
</p>
<p class="text-primary justified">
  • Guardei os baldes e vasos de plantas vazios;
</p>
<p class="text-primary justified">
  • Não estou acumulando entulho e lixo;
</p>
<p class="text-primary justified">
  • Verifiquei todos os meus materiais em uso que possam acumular água;
</p>
<p class="text-primary justified">
  • Verifiquei se há água acumulada nos canteiros de obras;
</p>
<p class="text-primary justified">
  • Verifiquei e eliminei água parada das bandejas do ar condicionado;
</p>
<p class="text-primary justified">
  • Verifiquei se as lonas de cobertura estão esticadas e não estão acumulando água;
</p>