<!--
  Health tips - Prevenção
-->

<h3 class="subtitle primary master">Prevenção</h3>

<h3 class="subtitle primary">Malária:</h3>

<p class="text-primary justified">
  • No Brasil, a transmissão concentra-se na Região Amazônica, composta pelos estados do Acre, Amapá, Amazonas,
  Maranhão, Mato Grosso, Pará, Rondônia, Roraima e Tocantins;
</p>

<p class="text-primary justified">
  • Em áreas de transmissão de malária, é fundamental que o viajante tenha conhecimento sobre o horário de maior
  atividade de mosquitos vetores de malária, do pôr-do-sol ao amanhecer;
</p>

<p class="text-primary justified">
  • Use roupas claras e com manga longa, durante atividades de exposição elevada;
</p>

<p class="text-primary justified">
  • Aplique repelente nas áreas expostas da pele, seguindo a orientação do fabricante. Em crianças com idade inferior a
  dois anos, não é recomendado o uso de repelente sem orientação médica;
</p>

<p class="text-primary justified">
  • Em áreas de transmissão de malária é imprescindível que o viajante fique atento ao surgimento de sintomas da doença,
  como febre, dor no corpo e dor de cabeça;
</p>

<p class="text-primary justified">
  • Em caso de manifestação de algum sintoma da doença, procure uma unidade de saúde especializada mais próxima, o ideal
  é que este atendimento seja feito o quanto antes, em até 48 horas após os primeiros sintomas;
</p>

<p class="text-primary justified">
  • O Brasil conta com uma rede pública de saúde estruturada para diagnosticar e tratar os pacientes, de forma oportuna
  e adequada;
</p>

<p class="text-primary justified">
  • Caso você queira adquirir mais informações acerca da malária antes de realizar a sua viagem, busque orientações em
  um dos Centros de Referência.
</p>


<h3 class="subtitle primary secondary">Previna-se contra doenças de transmissão respiratória:
</h3>

<p class="text-primary justified">
  • Lavar as mãos com água e sabonete antes das refeições, de tocar os olhos, a boca e o nariz e após tossir, espirrar
  ou usar o banheiro;
</p>

<p class="text-primary justified">
  • Indivíduos doentes devem ficar em repouso, consumir alimentação balanceada, aumentar a ingestão de líquidos e evitar
  aglomerações e ambientes fechados;
</p>

<p class="text-primary justified">
  • Mantenha os ambientes ventilados;
</p>

<p class="text-primary justified">
  • Esteja sempre atento ao apresentar sintomas respiratórios de maior gravidade e procure imediatamente assistência
  médica.
</p>


<h3 class="subtitle primary secondary">Consuma alimentos e bebidas de forma saudável:
</h3>

<div class="text-primary justified">
  • Evite consumir alimentos cujas condições higiênicas, de preparo e acondicionamento, são precárias;
</div>

<div class="text-primary justified">
  • Prefira alimentos que contenham baixo teor de açúcares, gorduras e sal;
</div>

<div class="text-primary justified">
  • Beba bastante líquido, preferencialmente água ou suco. Evite alimentos crus ou mal cozidos, principalmente os frutos
  do mar;
</div>

<div class="text-primary justified">
  • Alimentos embalados devem conter no rótulo a identificação do produtor, data de validade e a embalagem deve estar
  íntegra;
</div>

<div class="text-primary justified">
  • Durante o turismo rural, dê preferência aos alimentos que podem ficar sem refrigeração e não estraguem com o calor;
</div>

<div class="text-primary justified">
  • Caso tenha diarreia e vômitos por conta da ingestão de alimentos e bebidas, é preciso cuidado redobrado com a
  desidratação. Recomenda-se a ingestão de sal de reidratação oral, disponibilizado gratuitamente pelo Sistema Único de
  Saúde, ou outras soluções do tipo. As bebidas esportivas não compensam corretamente as perdas e não devem ser
  utilizadas para tratamento de doença diarreica.
</div>
