<!--
  Health tips - Prevenção
-->

<h3 class="subtitle primary master">Prevenção</h3>
<p class="text-primary justified">
<span class="subtitle primary secondary">MALÁRIA</span>
<br/><br/>
• No Brasil, a transmissão concentra-se na Região Amazônica, composta pelos estados do Acre, Amapá, Amazonas, Maranhão, Mato Grosso, Pará, Rondônia, Roraima e Tocantins;
<br/><br/>
• Em áreas de transmissão de malária, é fundamental que o viajante tenha conhecimento sobre o horário de maior atividade de mosquitos vetores de malária, do pôr-do-sol ao amanhecer;
<br/><br/>
• Use roupas claras e com manga longa, durante atividades de exposição elevada;
<br/><br/>
• Aplique repelente nas áreas expostas da pele, seguindo a orientação do fabricante. Em crianças com idade inferior a dois anos, não é recomendado o uso de repelente sem orientação médica;
<br/><br/>
• Em áreas de transmissão de malária é imprescindível que o viajante fique atento ao surgimento de sintomas da doença, como febre, dor no corpo e dor de cabeça;
<br/><br/>
• Em caso de manifestação de algum sintoma da doença, procure uma unidade de saúde especializada mais próxima. O ideal é que este atendimento seja feito o quanto antes, em até 48 horas após os primeiros sintomas;
<br/><br/>
• O Brasil conta com uma rede pública de saúde estruturada para diagnosticar e tratar os pacientes, de forma oportuna e adequada;
<br/><br/>
• Caso você queira adquirir mais informações acerca da malária, antes de realizar a sua viagem, busque orientações em um dos Centros de Referência.
<br/><br/>
<span class="subtitle primary secondary">PREVINA-SE CONTRA DOENÇAS DE TRANSMISSÃO RESPIRATÓRIA</span> 
<br/><br/>
• Lavar as mãos com água e sabonete antes das refeições, de tocar os olhos, a boca e o nariz e após tossir, espirrar ou usar o banheiro;
<br/><br/>
• Indivíduos doentes devem ficar em repouso, consumir alimentação balanceada, aumentar a ingestão de líquidos e evitar aglomerações e ambientes fechados;
<br/><br/>
• Mantenha os ambientes ventilados;
<br/><br/>
• Esteja sempre atento ao apresentar sintomas respiratórios de maior gravidade e procure imediatamente assistência médica.
<br/><br/>
<span class="subtitle primary secondary">CONSUMA ALIMENTOS E BEBIDAS DE FORMA SAUDÁVEL</span> 
<br/><br/>
• Evite consumir alimentos cujas condições higiênicas, de preparo e acondicionamento, são precárias;
<br/><br/>
• Prefira alimentos que contenham baixo teor de açúcares, gorduras e sal;
<br/><br/>
• Beba bastante líquido, preferencialmente água ou suco. Evite alimentos crus ou mal cozidos, principalmente os frutos do mar;
<br/><br/>
• Alimentos embalados devem conter no rótulo a identificação do produtor, data de validade e a embalagem deve estar íntegra;
<br/><br/>
• Durante o turismo rural, dê preferência aos alimentos que podem ficar sem refrigeração e não estraguem com o calor;
<br/><br/>
• Caso tenha diarreia e vômitos por conta da ingestão de alimentos e bebidas, é preciso cuidado redobrado com a desidratação. Recomenda-se a ingestão de sal de reidratação oral, disponibilizado gratuitamente pelo Sistema Único de Saúde, ou outras soluções do tipo. As bebidas esportivas não compensam corretamente as perdas e não devem ser utilizadas para tratamento de doença diarreica.
<br/><br/>
</p>