<!--
  Health tips - Prevenção
-->

<h3 class="subtitle primary master">{{'00846'|translate}}</h3>
<p class="text-primary justified">
<span class="subtitle primary secondary">{{'00847'|translate}}</span>
<br/><br/>
{{'00848'|translate}}
<br/><br/>
{{'00849'|translate}}
<br/><br/>
{{'00850'|translate}}
<br/><br/>
{{'00851'|translate}}
<br/><br/>
{{'00852'|translate}}
<br/><br/>
{{'00853'|translate}}
<br/><br/>
{{'00854'|translate}}
<br/><br/>
{{'00855'|translate}}
<br/><br/>
<span class="subtitle primary secondary">{{'00856'|translate}}</span> 
<br/><br/>
{{'00857'|translate}}
<br/><br/>
{{'00858'|translate}}
<br/><br/>
{{'00859'|translate}}
<br/><br/>
{{'00860'|translate}}
<br/><br/>
<span class="subtitle primary secondary">{{'00861'|translate}}</span> 
<br/><br/>
{{'00862'|translate}}
<br/><br/>
{{'00863'|translate}}
<br/><br/>
{{'00864'|translate}}
<br/><br/>
{{'00865'|translate}}
<br/><br/>
{{'00866'|translate}}
<br/><br/>
{{'00867'|translate}}
<br/><br/>
</p>