<!--
  Health tips - Prevenção
-->

<h3 class="subtitle primary master">Pratique sexo de forma segura</h3>
<p class="text-primary justified">
<span class="subtitle primary secondary">CAMISINHA</span>
<br/><br/>
• A camisinha é a maneira prática para se proteger contra o HIV/ aids, as hepatites virais e as infecções sexualmente transmissíveis (IST), como a sífilis e a gonorreia. 
<br/><br/>
• Use e descarte corretamente o preservativo.
<br/><br/>
• Se a camisinha “estourou” ou você transou sem camisinha, pode ser necessário o uso de profilaxia pós-exposição de risco ao HIV , conhecida como PEP. 
<br/><br/>

<span class="subtitle primary secondary">PEP</span>
<br/><br/>
• A PEP é um tratamento com medicamento antirretroviral que evita a infecção pelo vírus HIV, causador da aids. Está indicada para as pessoas que apresentaram exposição de risco ao HIV, como sexo ocasional, violência sexual e acidente ocupacional com material biológico.
<br/><br/>
• Caso seja indicado pelo médico, o tratamento de PEP dura 28 dias e deve ser iniciado em até 72 horas após o contato sexual desprotegido.
<br/><br/>
• Onde encontrar PEP? (Link direto para o aplicativo e/ou site)  http://pep.aids.gov.br 
<br/><br/>
<span class="subtitle primary secondary">IMPORTANTE</span>

<br/><br/>
• Todos têm direito à informação e ao atendimento sem preconceito, estigma e discriminação. 
<br/><br/>
• No Brasil, as camisinhas feminina e masculina e o gel lubrificante são distribuídos gratuitamente em unidades de saúde, albergues, Centros de Atendimento ao Turista e outros.  Informe-se sobre os pontos de distribuição mais próximos.
<br/><br/>
• Se precisar de medicamentos contra o HIV (perdeu ou esqueceu), procure a unidade de saúde mais próxima, levando algum documento de identificação. Turista estrangeiro, informe-se com seu seguro de saúde (health insurance). 
<br/><br/>
<span class="subtitle primary secondary">LEMBRE-SE</span>

<br/><br/>
• Evite a infeção pelas hepatites virais. Se fizer tatuagens ou colocar piercing, escolha lugares com alvará/ licença sanitária expedida pela Vigilância Sanitária local. Exija essa certificação, se não estiver visível no local.
<br/><br/>
• Exija que o material utilizado seja esterilizado ou descartável.
<br/><br/>
• Não compartilhe seus objetos de uso pessoal, como alicates de cutícula, lâminas de barbear, escova de dente, agulhas e seringas com outras pessoas.
<br/><br/>
• Se observar qualquer sinal ou sintoma, como corrimentos ou feridas,  ou algum outro problema de saúde, procure orientação do profissional de saúde.
<br/><br/>
<span class="subtitle primary secondary">VOCÊ SABIA?</span>
<br/><br/>
• Muitas pessoas vivem com o HIV e hepatites virais e não sabem. 
<br/><br/>
• A única maneira de tomar conhecimento é fazendo o teste. Os testes anti-HIV e das hepatites são gratuitos e oferecidos na rede pública de saúde. Turista estrangeiro, informe-se com seu seguro de saúde (health insurance). 
<br/><br/>
• Existe vacina para Hepatite B. Deve ser tomada em 3 doses em períodos diferentes. Informe-se onde está disponível.
<br/><br/>
</p>
