<!--
  Health tips - Prevenção
-->

<h3 class="subtitle primary master">{{"00868"|translate}}</h3>
<p class="text-primary justified">
<span class="subtitle primary secondary">{{"00869"|translate}}</span>
<br/><br/>
{{"00870"|translate}}
<br/><br/>
{{"00871"|translate}}
<br/><br/>
{{"00872"|translate}}
<br/><br/>

<span class="subtitle primary secondary">{{"00873"|translate}}</span>
<br/><br/>
{{"00874"|translate}}
<br/><br/>
{{"00875"|translate}}
<br/><br/>
{{"00876"|translate}}
<br/><br/>
<span class="subtitle primary secondary">{{"00877"|translate}}</span>

<br/><br/>
{{"00878"|translate}} 
<br/><br/>
{{"00879"|translate}}
<br/><br/>
{{"00880"|translate}} 
<br/><br/>
<span class="subtitle primary secondary">{{"00881"|translate}}</span>

<br/><br/>
{{"00882"|translate}}
<br/><br/>
{{"00883"|translate}}
<br/><br/>
{{"00884"|translate}}
<br/><br/>
{{"00885"|translate}}
<br/><br/>
<span class="subtitle primary secondary">{{"00886"|translate}}</span>
<br/><br/>
{{"00887"|translate}}
<br/><br/>
{{"00888"|translate}}
<br/><br/>
{{"00889"|translate}}
<br/><br/>
</p>
