<!--
  Health tips - Telefones úteis
-->

<h3 class="subtitle primary master">Telefones Úteis</h3>

<ul class="telephone-list">
  <li class="row telephone-item">
    <a href="tel:192">
      <figure>
        <img class="col-sm-3" ng-src="images/telephones/samu.svg" alt="Samu">
        <figcaption class="col-sm-9">Samu <span>192</span></figcaption>
      </figure>
    </a>
  </li>

  <li class="row telephone-item">
    <a href="tel:190">
      <figure>
        <img class="col-sm-3" ng-src="images/telephones/police.svg" alt="Polícia Militar">
        <figcaption class="col-sm-9">Polícia Militar <span>190</span></figcaption>
      </figure>
    </a>
  </li>

  <li class="row telephone-item">
    <a href="tel:193">
      <figure>
        <img class="col-sm-3" ng-src="images/telephones/firefigther.png" alt="Bombeiros">
        <figcaption class="col-sm-9">Bombeiros <span>193</span></figcaption>
      </figure>
    </a>
  </li>

  <li class="row telephone-item">
    <a href="tel:136">
      <figure>
        <img class="col-sm-3" ng-src="images/telephones/icon_sus.svg" alt="SUS">
        <figcaption class="col-sm-9">SUS <span>136</span></figcaption>
      </figure>
    </a>
  </li>

  <li class="row telephone-item">
    <a href="tel:08006440199">
      <figure>
        <img class="col-sm-3" ng-src="images/telephones/civil-defense.png" alt="Defesa Civil">
        <figcaption class="col-sm-9">Defesa Civil <span>0800 644 0199</span></figcaption>
      </figure>
    </a>
  </li>
</ul>
