<!--
  Health tips - Telefones úteis
-->

<ul class="row telephone-list">
  <li class="telephone-item">
    <figure>
      <img ng-src="images/telephones/samu.svg" alt="Samu">
      <figcaption>Samu <span>192</span></figcaption>
    </figure>
  </li>

  <li class="telephone-item">
    <figure>
      <img ng-src="images/telephones/firefigther.png" alt="Bombeiros">
      <figcaption>Bombeiros <span>193</span></figcaption>
    </figure>
  </li>

  <li class="telephone-item">
    <figure>
      <img ng-src="images/telephones/police.svg" alt="Polícia Militar">
      <figcaption>Polícia Militar <span>190</span></figcaption>
    </figure>
  </li>

  <li class="telephone-item">
    <figure>
      <img ng-src="images/telephones/civil-defense.png" alt="Defesa Civil">
      <figcaption>Defesa Civil <span>0800 644 0199</span></figcaption>
    </figure>
  </li>
</ul>
