<!--
  Health tips - Vacina
-->

<h3 class="subtitle primary master">{{'00822' | translate}}</h3>
<p class="text-primary justified">
{{'00823' | translate}}
<br/><br/>
{{'00824' | translate}}
<br/><br/>
{{'00825' | translate}}
<br/><br/>
{{'00826' | translate}}
<br/><br/>
{{'00827' | translate}}
<br/><br/>
{{'00828' | translate}}
<br/><br/>
<span class="subtitle primary secondary">{{'00829' | translate}}</span>
<br/><br/>
{{'00830' | translate}}
<br/><br/>
{{'00831' | translate}}
<br/><br/>
</p>
