<!--
  Health tips - Vacina
-->

<div ng-repeat="vacina in vacinas">
  <p class="text-primary ht">{{ vacina.paragraph_01 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_02 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_03 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_04 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_05 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_06 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_07 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_08 }}</p>
  <p class="text-primary ht">{{ vacina.paragraph_09 }}</p>
</div>

