<!--
  Health tips - Zika
-->

<h3 class="subtitle primary master">{{"00778"|translate}}</h3>

<p class="text-primary justified">
{{"00779"|translate}} 
<br/><br/>
{{"00780"|translate}}  
<br/><br/>
{{"00781"|translate}}  
<br/><br/>
{{"00782"|translate}}  
<br/><br/>
{{"00783"|translate}}   
<br/><br/>
{{"00784"|translate}}  
<br/><br/>
{{"00785"|translate}}  
<br/><br/>
{{"00786"|translate}}  
<br/><br/>
<span class="subtitle primary secondary">{{"00787"|translate}}  </span>
<br/><br/>
{{"00788"|translate}}
<br/><br/>
{{"00789"|translate}}
<br/><br/>
{{"00790"|translate}}
<br/><br/>
{{"00791"|translate}}
<br/><br/>
<span class="subtitle primary secondary">{{"00792"|translate}}</span>

<br/><br/>
{{"00793"|translate}}
<br/><br/>
{{"00794"|translate}} 
<br/><br/>

<span class="subtitle primary secondary">{{"00795"|translate}}</span>
<br/><br/>
{{"00796"|translate}}
<br/><br/>
{{"00797"|translate}}
<br/><br/>
{{"00798"|translate}}
<br/><br/>
{{"00799"|translate}}
<br/><br/>
{{"00800"|translate}}
<br/><br/>
<span class="subtitle primary secondary">{{"00801"|translate}}</span>
<br/><br/>
{{"00802"|translate}}
<br/><br/>
{{"00803"|translate}}
<br/><br/>
{{"00804"|translate}}
<br/><br/>
{{"00805"|translate}}
<br/><br/>
{{"00806"|translate}}
<br/><br/>
{{"00807"|translate}}
<br/><br/>
{{"00808"|translate}}
<br/><br/>
{{"00809"|translate}}
<br/><br/>
{{"00810"|translate}}
<br/><br/>
{{"00811"|translate}}
<br/><br/>
{{"00812"|translate}}
<br/><br/>
{{"00813"|translate}}
<br/><br/>
{{"00814"|translate}}
<br/><br/>
{{"00815"|translate}}
<br/><br/>
{{"00816"|translate}}
<br/><br/>
{{"00817"|translate}}
<br/><br/>
{{"00818"|translate}}
<br/><br/>
{{"00819"|translate}}
<br/><br/>
{{"00820"|translate}}
<br/><br/>
{{"00821"|translate}}
<br/><br/>
</p>
