<!--
  Health tips - Zika
-->

<p class="text-primary justified">
  Os vírus da Dengue, Zika e Chikungunya são transmitidos pelo mosquito <span class="italic">Aedes aegypti</span> e apresentam sinais e sintomas parecidos.
  <br><br>

  É importante que você procure o serviço de saúde mais próximo quando apresentar febre, manchas vermelhas pelo corpo seguida de febre, dores no corpo, dor nas juntas (articulações) ou coceira.
  <br><br>

  As infecções pelos vírus Zika e Chikungunya começaram a ocorrer no Brasil nos últimos dois anos.
  <br><br>

  Procure informações sobre a ocorrência de casos de Dengue, Zika ou Chikungunya no seu bairro ou cidade.
  <br><br>

  No caso da infecção pelo vírus Zika, a maior parte das pessoas (mais de 80%), não ficarão doentes ou apresentarão sinais e sintomas.
  <br><br>

  É muito raro acontecer complicações devido infecção pelo vírus Zika, como a síndrome neurológica (exemplo: síndrome de Guillain-Barré) ou malformações congênitas (ex.: microcefalia).
  <br><br>

  Não existe tratamento específico para a infecção pelo vírus Zika.
  <br><br>

  Não se recomenda o uso de medicamentos sem prescrição médica, em função do risco aumentado de complicações hemorrágicas (sangramento).
  <br><br>

  Não se deve utilizar os medicamentos a base de ácido acetilsalicílico (ex.: AAS, Aspirina entre outros), nem anti-inflamatórios.
  <br><br>

  A principal medida de prevenção é evitar a reprodução dos mosquitos, evitando deixar água parada em pratinhos de plantas, jogando o lixo na lixeira, tampando as caixas de água e outros recipientes.
  <br><br>

  <span class="bold">Repelentes</span>:
  <br><br>

  • Os repelentes para uso sobre a pele podem ser utilizados por gestantes, desde que estejam devidamente registrados na ANVISA e que sejam seguidas as instruções de uso descritas no rótulo.

  <br><br>

  • Produtos à base de DEET não devem ser usados em crianças menores de 2 anos. Em crianças entre 2 e 12 anos, a concentração dever ser no máximo 10% e a aplicação deve se restringir a 3 vezes por dia. Concentrações superiores a 10% são permitidas para maiores de 12 anos.
  <br><br>

  • Os repelentes de ambiente, como aqueles de parede (aparelhos elétricos) ou espirais não devem ser utilizados em locais com pouca ventilação nem na presença de pessoas asmáticas ou com alergias respiratórias; podendo ser utilizados em qualquer ambiente da casa desde que estejam no mínimo a 2 metros de distância das pessoas.
  <br><br>
</p>
