<div class="modal fade modal-delete-household" id="modal-conta-reativada" tabindex="-1" role="dialog"
     aria-labelledby="modalDeleteUser">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <header class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>

          <h3 class="modal-title panel-title">Atenção!</h3>
        </header>

        <div class="modal-body">
          <div class="panel-body">
            <div class="col-xs-12 contact-form">
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
              Sua conta foi reativada com sucesso, agora você poderá fazer login normalmente.
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">OK</button>
        </div>
      </aside>
    </div>
  </article>
</div>
