<div class="modal fade modal-app modal-download-app" id="modal-location" tabindex="-1" role="dialog" aria-labelledby="modalApp" ng-controller="IndexCtrl">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <header class="modal-header panel-heading">
          <h3 class="modal-title panel-title">{{'00659'|translate}}</h3>
        </header>

        <div class="modal-body">
          <div class="panel-body">
            <div class="col-xs-12">
              <p>
                {{"00666"|translate}}
              </p>

              <br>

              <figure class="permission">
                <img ng-src="../../images/modal-geolocation/{{url}}-permssion.png" alt="Como permitir sua localização.">
              </figure>

              <p>
               {{"00667"|translate}}
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close" ng-click="getUserLocation()">OK</button>
        </div>
      </aside>
    </div>
  </article>
</div>
