<div class="modal fade modal-delete-household" id="modal-confirm-account" tabindex="-1" role="dialog"
     aria-labelledby="modalDeleteUser">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <header class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>

          <h3 class="modal-title panel-title">Atenção!</h3>
        </header>

        <div class="modal-body">
          <div class="panel-body">
            <div class="col-xs-12 contact-form">
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
              Ao excluir sua conta, todos os integrantes serão excluidos. Para acessar novamente o Guardiões da Saúde, será necessário um novo cadastro.
              <br> <br>
              Deseja continuar?
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button ng-click="deleteUser()" type="button" class="pull-right btn btn-primary"
                  data-dismiss="modal" aria-label="Close">Sim
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Não</button>
        </div>
      </aside>
    </div>
  </article>
</div>
