<div class="modal fade" id="modal-sindromes" tabindex="-1" role="dialog" aria-labelledby="modalAddProfile">
    <article class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="card-form" name="i-feel-good-form">
                <header class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title panel-title">{{'00419'|translate}}</h3>
                </header>
                <div class="modal-body">
                    <div class="panel-body">
                        <figure class="col-xs-12 thank-you-image">
                            <img src="images/icon-exclama.svg" alt="Atenção!">
                        </figure>
                        <div class="col-xs-12">
                            <p class="thank-you-text"><b>{{'00659'|translate}}</b></p>
                            <p class="thank-you-text">{{'00048'|translate}}</p>
                            <footer class="thank-you-share">
                                <button ng-click="goToUpas();" data-dismiss="modal" class="col-xs-12 col-sm-6 col-sm-offset-3 btn-tip upas active">{{'00482'|translate}}
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
          <button class="pull-right btn btn-primary" data-dismiss="modal" ng-click="goToHome()">OK</button>
        </div> -->
            </form>
        </div>
    </article>
</div>
