<div class="modal fade modal-app" id="modal-app" tabindex="-1" role="dialog" aria-labelledby="modalApp" ng-controller="IndexCtrl">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <div class="modal-body">
          <div class="panel-body">
            <div class="col-xs-12 contact-form">
              <figure>
                <img src="../../images/modal-app.png" alt="Download APP">
              </figure>

              <p class="thank-you-text">
                Ajude a melhorar a saúde da sua comunidade.
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a href="{{downloadLink}}" class="btn btn-primary btn-block">Baixe o Aplicativo</a>
          <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-label="Close">Continuar no site</button>
        </div>
      </aside>
    </div>
  </article>
</div>
