<div class="modal fade modal-app" id="modal-all-drugstores-cant-shown" tabindex="-1" role="dialog" aria-labelledby="modalApp" ng-controller="IndexCtrl">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <div class="modal-body">
          <div class="panel-body">
            <div class="col-xs-12 contact-form">
              <h1>Atenção</h1>
              <p class="thank-you-text">
                Algumas farmácias podem não ser exibidas no mapa.
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-label="Close">OK</button>
        </div>
      </aside>
    </div>
  </article>
</div>
