<div class="modal fade modal-desativar-conta" id="modal-desativar-conta" tabindex="-1" role="dialog" aria-labelledby="modalLocation">
    <article class="modal-dialog" role="document">
        <div class="modal-content">
            <aside class="card-form">
                <header class="modal-header panel-heading" style="margin-bottom: 0px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title panel-title">Desativa sua conta!</h3>
                </header>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;font-size: 2.6em;">
                                A desativação da conta desabilitará o seu perfil. Você não poderá mais ajudar sua comunidade ou acompanhar como anda a sua saúde e dos integrantes do seu domicílio, a menos que a conta seja reativada.
                                <br>
                                <br>
                                 Deseja continuar?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="deleteUser()" type="button" class="pull-right btn btn-primary" data-dismiss="modal" aria-label="Close">Sim
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Não</button>
                </div>
            </aside>
        </div>
    </article>
</div>
