  <div class="modal fade" id="download-csv" tabindex="-1" role="dialog" aria-labelledby="modaldownload" style="z-index:9999!important">
            <article class="modal-dialog" role="document" style="margin: 100px auto;">
                <div class="modal-content">
                    <form class="card-form" name="i-feel-bad-form">
                        <header class="modal-header panel-heading confirm-survey">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title panel-title ff-bold">Atenção</h3>
                        </header>
                        <div class="modal-body">
                            <div class="panel-body" style="margin-top: 0px;">
                                <div class="col-xs-12">
                                    <p class="thank-you-text left">Nenhuma análise foi aplicada a esta base de dados. <br/> Deseja fazer o download dos dados brutos?</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="pull-right btn btn-primary" data-dismiss="modal" ng-click="download()">  Sim</button>
                            <button class="pull-right btn btn-default" data-dismiss="modal">  Não</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>