<div class="modal fade modal-kc" id="modal-kc" tabindex="-1" role="dialog" aria-labelledby="modalAddProfile">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <header class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>

          <h3 class="modal-title panel-title">Epitrack Team </h3>
        </header>

        <div class="modal-body">
          <div class="panel-body">
            <figure class="col-xs-12 thank-you-image">
              <img style="width: 100%;" src="../../images/epitrack.png" alt="Epitrack Team!">
            </figure>

            <div class="col-xs-12 contact-form">
              <!-- Designer -->
              <label style="display: inline-block;">Designer: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Renato
                Araújo</p> <br>

              <label style="display: inline-block;">Contact: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://fb.com/renato.araujo.1481">http://fb.com/renato.araujo.1481</a>
              </p> <br>

              <label style="display: inline-block;">Twitter: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://www.twitter.com/exclama">@exclama</a>
              </p> <br>

              <label style="display: inline-block;">From: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Brazil,
                Pernambuco, Olinda</p>
              <hr>

              <!-- Front-end -->
              <label style="display: inline-block;">Front-end Engineer: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Luciano
                Lucena</p> <br>

              <label style="display: inline-block;">Contact: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://fb.com/luc.allucena">http://fb.com/luc.allucena</a>
              </p> <br>

              <label style="display: inline-block;">From: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Brazil,
                Pernambuco, Recife</p>
              <hr>

              <label style="display: inline-block;">Front-end Engineer: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Everton
                Squaq</p> <br>

              <label style="display: inline-block;">Contact: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://fb.com/squaq">http://fb.com/squaq</a>
              </p> <br>

              <label style="display: inline-block;">From: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Brazil,
                Pernambuco, Recife</p>
              <hr>

              <label style="display: inline-block;">Front-end Engineer: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Thulio
                Philipe</p> <br>

              <label style="display: inline-block;">Contact: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://fb.com/thulioph">http://fb.com/thulioph</a>
              </p> <br>

              <label style="display: inline-block;">Twitter: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://www.twitter.com/thulioph_">@thulioph_</a>
              </p> <br>

              <label style="display: inline-block;">From: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Brazil,
                Pernambuco, Jaboatão dos Guararapes</p>
              <hr>
              <!--  -->

              <!-- Back-end -->
              <label style="display: inline-block;">Back-end Engineer: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Victor
                Luna</p> <br>

              <label style="display: inline-block;">Contact: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://fb.com/victorpluna">http://fb.com/victorpluna</a>
              </p> <br>

              <label style="display: inline-block;">Twitter: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://www.twitter.com/victorpluna">@victorpluna</a>
              </p> <br>

              <label style="display: inline-block;">From: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Brazil,
                Pernambuco, Olinda</p>
              <hr>

              <label style="display: inline-block;">Back-end Engineer: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Julio
                Melo</p> <br>

              <label style="display: inline-block;">Contact: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">
                <a href="http://fb.com/juliosmelo">http://fb.com/juliosmelo</a>
              </p> <br>

              <label style="display: inline-block;">From: </label>
              <p class="thank-you-text" style="text-align: left; display: inline-block; margin-left: 5px;">Brazil,
                Pernambuco, Palmares</p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <a href="http://www.epitrack.com.br" target="_blank" class="pull-right btn btn-primary">#voaEpitrack</a>
        </div>
      </aside>
    </div>
  </article>
</div>
