<div class="modal fade modal-app modal-drugstores" id="modal-all-drugstores-cant-shown" tabindex="-1" role="dialog" aria-labelledby="modalApp" ng-controller="IndexCtrl">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <header class="modal-header panel-heading">
          <h3 class="modal-title panel-title">Atenção!</h3>
        </header>

        <div class="modal-body">
          <div class="panel-body">
            <div class="col-xs-12">
              <div class="row">
                <figure class="icon-location">
                  <img src="../../images/icon-aviso-farm.png" alt="Ícone de um comprimido">
                </figure>
              </div>

              <p>
                Algumas farmácias podem não ser exibidas no mapa.
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close">OK</button>
        </div>
      </aside>
    </div>
  </article>
</div>

