<div class="modal fade modal-app" id="modal-location" tabindex="-1" role="dialog" aria-labelledby="modalApp" ng-controller="IndexCtrl">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <aside class="card-form">
        <div class="modal-body">
          <div class="panel-body">
            <div class="col-xs-12 contact-form">
<!--
              <figure>
                <img src="../../images/modal-app.png" alt="Download APP">
              </figure>
-->

              <p class="thank-you-text">
                O Guardiões da Saúde requer sua localização para um perfeito funcionamento.<br>
                Não aceitar compartilhar sua localização implica no mau funcionamento do Guardiões da Saúde.<br>
                Clique no botão abaixo e permita sua localização.
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close" ng-click="getUserLocation()">Compartilhe aqui!</button>
        </div>
      </aside>
    </div>
  </article>
</div>
