<section class="col-sm-3 col-md-2 no-padding sidebar" ng-controller="MainCtrl">
  <nav class="nav-primary">
    <ul>

      <!-- <li>
        <a ng-click="dashboardActive = !dashboardActive" class="dashboard dropdown" title="Painel de Controle">Painel de Controle</a>

        <ul class="nav nav-list sub-nav" id="dashboardActive" ng-hide="!dashboardActive">
          <li><a ng-click="closeNav()" ng-href="dashboard">Geral</a></li>
          <li><a ng-click="closeNav()" ng-href="dashboard/map">Mapa</a></li>
          <li><a ng-click="closeNav()" ng-href="dashboard/analysis">Análise de dados</a></li>
          <li><a ng-click="closeNav()" ng-href="dashboard/download">Download dos dados</a></li>
        </ul>
      </li> -->

      <li>
        <a ng-click="active = !active" class="health-daily dropdown" title="Diário de Saúde">Diário de Saúde</a>

        <ul class="nav nav-list sub-nav" id="health-daily" ng-hide="!active">
          <li><a ng-href="/health-daily" ng-click="closeNav()">{{user.nick}}</a></li>
          <li ng-if="user.household" ng-repeat="hh in user.household">
            <a ng-href="/health-daily/household/{{ hh.id }}" ng-click="closeNav()">{{ hh.nick }}</a>
          </li>
        </ul>
      </li>

      <li>
        <a ng-click="profileActive = ! profileActive" class="profile dropdown" title="Perfil">Perfil</a>

        <ul class="nav nav-list sub-nav" id="profiles" ng-hide="!profileActive">
          <li><a ng-href="/profile" ng-click="closeNav()">{{user.nick}}</a></li>
          <li ng-if="user.household" ng-repeat="hh in user.household">
            <a ng-href="/profile/household/{{ hh.id }}" ng-click="closeNav()">{{ hh.nick }}</a>
          </li>
          <li><a ng-href="/profile/add" ng-click="closeNav()">Adicionar membro</a></li>
        </ul>
      </li>

      <li>
        <a ng-href="/health-map" ng-click="closeNav()" class="health-map" title="Mapa da Saúde">Mapa da Saúde</a>
      </li>

      <li>
        <a ng-href="/health-tips" ng-click="closeNav()" class="health-tips" title="Dicas de Saúde">Dicas de Saúde</a>
      </li>

      <li>
        <a ng-href="/news" ng-click="closeNav()" class="news" title="Notícias">Notícias</a>
      </li>

      <li>
        <a ng-href="/" class="logout" title="Sair" ng-click="clearStorage();closeNav();">Sair</a>
      </li>
    </ul>
  </nav>
</section>
