<section class="col-sm-3 col-md-2 no-padding sidebar" ng-controller="MainCtrl">
    <nav class="nav-primary" style="overflow-y: auto;">
        <ul>
            <li ng-controller="IndexCtrl" ng-if="user.isAdmin">
                <a ng-click="dashboardActive = !dashboardActive" class="dashboard dropdown" title="Painel de Controle">Painel de Controle</a>
                <ul class="nav nav-list sub-nav" id="dashboardActive" ng-hide="!dashboardActive">
                    <li><a ng-href="/dashboard" ng-click="goToUrl('/dashboard');closeNav()">{{'00250'|translate}}</a></li>
                    <li><a ng-href="/dashboard/map" ng-click="goToUrl('/dashboard/map');closeNav()">{{"00670"|translate}}</a></li>
                    <li><a ng-href="/dashboard/analysis" ng-click="goToUrl('/dashboard/analysis');closeNav()">Análise de dados</a></li>
                    <!-- <li><a ng-href="/dashboard/inteligencia" ng-click="goToUrl('/dashboard/inteligencia');closeNav()">Inteligência epidemiológica</a></li> -->
                    <li><a data-toggle="modal" data-target="#download-csv">Download dos dados</a></li>
                </ul>
            </li>
            <li>
                <a ng-click="active = !active" class="health-daily dropdown" title="Diário de Saúde">{{'00158'|translate}}</a>
                <ul class="nav nav-list sub-nav" id="health-daily" ng-hide="!active">
                    <li><a ng-href="/health-daily" ng-click="goToUrl('/health-daily');closeNav()">{{user.nick}}</a></li>
                    <li ng-if="user.household" ng-repeat="hh in user.household">
                        <a ng-href="/health-daily/household/{{ hh.id }}" ng-click="goToUrl('/health-daily/household/{{ hh.id }}');closeNav()">{{ hh.nick }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ng-click="profileActive = ! profileActive" class="profile dropdown" title="Perfil">{{'00460'|translate}}</a>
                <ul class="nav nav-list sub-nav" id="profiles" ng-hide="!profileActive">
                    <li><a ng-href="/profile" ng-click="goToUrl('/profile');closeNav()">{{user.nick}}</a></li>
                    <li ng-if="user.household" ng-repeat="hh in user.household">
                        <a ng-href="/profile/household/{{ hh.id }}" ng-click="goToUrl('/profile/household/{{ hh.id }}');closeNav()">{{ hh.nick }}</a>
                    </li>
                    <li><a ng-href="/profile/add" ng-click="goToUrl('/profile/add');closeNav()" ng-hide="user.household.length==10">{{"00013"|translate}}</a></li>
                </ul>
            </li>
            <li>
                <a ng-href="/health-map" ng-click="goToUrl('/health-map');closeNav()" class="health-map" title="Mapa da Saúde">{{'00358'|translate}}</a>
            </li>
            <li>
                <a ng-href="/health-tips" ng-click="goToUrl('/health-tips');closeNav()" class="health-tips" title="Dicas de Saúde">{{'00163'|translate}}</a>
            </li>
            <li>
                <a ng-href="/news" ng-click="goToUrl('/news');closeNav()" class="news" title="Notícias">{{'00407'|translate}}</a>
            </li>
            <li>
                <a ng-href="/" class="logout" title="Sair" ng-click="goToUrl('/');clearStorage();closeNav();">{{'00521'|translate}}</a>
            </li>
        </ul>
    </nav>
</section>
