<section class="col-sm-3 col-md-2 no-padding sidebar" ng-controller="MainCtrl">
  <nav class="nav-primary">
    <ul>
      <!-- <li><a ng-href="dashboard" class="dashboard" title="Painel de Controle">Painel de Controle</a></li> -->
      <li>
        <a ng-click="active = !active" class="health-daily dropdown" title="Diário de Saúde">Diário de Saúde</a>

        <ul class="nav nav-list sub-nav" id="health-dailys" ng-hide="!active">
          <li><a ng-href="health-daily">Aninha</a></li>
          <li><a ng-href="health-daily">Dudu</a></li>
          <li><a ng-href="health-daily">Carol</a></li>
        </ul>
      </li>

      <li>
        <a ng-click="profileActive = ! profileActive" class="profile dropdown" title="Perfil">Perfil</a>

        <ul class="nav nav-list sub-nav" id="profiles" ng-hide="!profileActive">
          <li><a ng-href="profile">Aninha</a></li>
          <li><a ng-href="add-profile">Adicionar membro</a></li>
        </ul>
      </li>

      <li>
        <a ng-href="health-tips" class="health-tips" title="Dicas de Saúde">Dicas de Saúde</a>
      </li>

      <li>
        <a ng-href="news" class="news" title="Notícias">Notícias</a>
      </li>

      <li>
        <a ng-href="help" class="help" title="Ajuda">Ajuda</a>
      </li>

      <li>
        <a ng-href="/" class="logout" title="Sair">Sair</a>
      </li>
    </ul>
  </nav>
</section>
