<header class="col-xs-12 news-header">
  <figure>
    <img src="../images/icon-news-twitter.svg" alt="Twitter logo">
    <figcaption>Ministério da Saúde</figcaption>
  </figure>
</header>

<article class="col-xs-12 col-md-9 col-md-offset-2 news-card" ng-repeat="noticia in news">

  <time datetime="{{noticia.created_at | amDateFormat:'DD/MM/YYYY'}}" class="news-date">
    {{noticia.created_at | amDateFormat:'DD/MM/YYYY'}}
  </time>

  <p class="news-tweet">
    <a ng-href="{{noticia.url}}" title="Clique para visualizar esta notícia no Twitter." target="_blank">
      {{noticia.text}}
    </a>
  </p>

  <footer class="news-footer">
    <span class="pull-left icon-news like">
      <figure>
        <img src="../../images/icon-news-like.svg" alt="ícone de um coração">
      </figure>

      {{noticia.favorite_count}}
    </span>

    <span class="pull-right icon-news clock">
      <figure>
        <img src="../../images/icon-news-clock.svg" alt="ícone de um relógio">
      </figure>

      <span am-time-ago="noticia.created_at"></span>
    </span>
  </footer>
</article>
