<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Guardiões da Saúde</title>

    <!-- META TAGS -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=yes">
    <meta name="keywords" content="health, guardiões da saúde, saúde, guardiões">
    <meta name="DC.title" content="Guardiões da Saúde">
    <meta name="DC.publisher" content="Epitrack">
    <meta name="DC.creator.address" content="contato@epitrack.com.br">
    <meta name="robots" content="all">
    <meta name="author" content="Epitrack">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="copyright" content="Guardiões da Saúde - Todos os direitos reservados">

    <!-- FACEBOOK  -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://guardioesdasaude.org">
    <meta property="og:title" content="Guardiões da Saúde">
    <meta property="og:image" content="https://github.com/thulioph/catrina/blob/gh-pages/dist/images/og-facebook.png">
    <meta property="og:description" content="Guardando a saúde de todos.">

    <!-- TWITTER -->
    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:card" value="summary">
    <meta name="twitter:creator" value="@souguardiao">
    <meta name="twitter:site" value="http://guardioesdasaude.org">
    <meta name="twitter:title" content="Guardiões da Saúde">
    <meta name="twitter:description" content="Guardando a saúde de todos.">
    <meta name="twitter:image:src" content="https://github.com/thulioph/catrina/blob/gh-pages/dist/images/og-facebook.png">

    <!-- APPLE TOUCH ICON -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="touch-icon@2x.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon@2x.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad@2x.png">

    <!-- HUMANS -->
    <link type="text/plain" rel="author" href="humans.txt" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/morris.js/morris.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="gdsApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="header-primary" ng-controller="IndexCtrl">
      <div class="navbar navbar-default not-logged" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <h1 class="logo-primary">
              <a href="/" title="Voltar para a Home">Guardiões da Saúde</a>
            </h1>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <!-- visible when user not logged -->
            <div ng-if="user.id == undefined">
              <ul class="nav navbar-nav">
                <li><a class="nav-link" ng-href="/cadastro">Cadastre-se</a></li>
                <li><a class="nav-link" ng-href="/login">Entrar</a></li>
              </ul>
            </div>

            <!-- visible when user is logged -->
            <div ng-if="user.id != null">
              <ul class="nav navbar-nav">
                <li ng-show="!user.picture">
                  <figure class="mini-avatar-user hidden-xs"><img src="images/avatar/avatar-blank.svg" alt="avatar"></figure>
                </li>

                <li ng-show="user.picture">
                  <figure class="mini-avatar-user hidden-xs"><img ng-src="{{user.picture}}" alt="avatar"></figure>
                </li>
                <li><a ng-href="survey" class="btn-survey">Participe Agora!</a></li>
              </ul>
            </div>

            <!-- sidebar just show when user is logged and mobile -->
            <div class="hidden-sm hidden-md hidden-lg">
              <div ng-include src="'views/partials/nav-primary.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="container-fluid main-content">
      <div class="row">
        <div class="page {{ pageClass }}" ng-view=""></div>
      </div>
    </main>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
     </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/mocha/mocha.js"></script>
    <script src="bower_components/morris.js/morris.js"></script>
    <script src="bower_components/chart-angular-raphaeljs-morris/src/directives/chartangular.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="bower_components/ngMask/dist/ngMask.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/cheet.js/cheet.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app.config.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/components.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/cadastro.js"></script>
    <script src="scripts/controllers/login-email.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/health-daily.js"></script>
    <script src="scripts/controllers/health-tips.js"></script>
    <script src="scripts/controllers/news.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/controllers/add-profile.js"></script>
    <script src="scripts/services/health-tips.js"></script>
    <script src="scripts/controllers/survey.js"></script>
    <script src="scripts/controllers/noticias.js"></script>
    <script src="scripts/services/news.js"></script>
    <script src="scripts/controllers/change-photo.js"></script>
    <script src="scripts/controllers/fale-conosco.js"></script>
    <script src="scripts/controllers/sobre.js"></script>
    <script src="scripts/controllers/politica-de-privacidade.js"></script>
    <script src="scripts/controllers/esqueceu-senha.js"></script>
    <script src="scripts/controllers/how-are-you-feeling.js"></script>
    <script src="scripts/controllers/choose-symptoms.js"></script>
    <script src="scripts/directives/calendar.js"></script>
    <script src="scripts/controllers/health-map.js"></script>
    <script src="scripts/controllers/data-analysis.js"></script>
    <script src="scripts/controllers/dashboard-map.js"></script>
    <script src="scripts/controllers/dashboard-result.js"></script>
    <script src="scripts/controllers/index.js"></script>
    <script src="scripts/services/userapi.js"></script>
    <script src="scripts/services/localstorage.js"></script>
    <script src="scripts/services/householdapi.js"></script>
    <script src="scripts/controllers/profile-internal.js"></script>
    <script src="scripts/controllers/health-daily-household.js"></script>
    <script src="scripts/services/surveyapi.js"></script>
    <script src="scripts/filters/agefilter.js"></script>
    <script src="scripts/services/contactapi.js"></script>
    <script src="scripts/services/searchcitiesapi.js"></script>
    <script src="scripts/controllers/esqueci-minha-senha.js"></script>
    <!-- endbuild -->
</body>
</html>
