<!-- begin #header -->
<div id="header" class="header navbar navbar-inverse">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> Guardiões da Saúde</a>

        </div>
        <!-- end mobile sidebar expand / collapse button -->


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#signup">Cadastrar-se</a></li>
                <li class=""><a href="#login">Entrar</a></li>
            </ul>
            <!-- end header navigation right -->
        </div>
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #header -->
