 <tfoot style="background-color: #1E88E5 ; text-align: center;">
     <tr>
       <td style="padding-top: 5px; min-height: 60px; display: block; font-family: Helvetica; font-size: 14px; color: #FFFFFF ;">
         <a style="color: #ffffff ; text-decoration: none;" href="mailto:contato@guardioesdasaude.org">Contato: contato@guardioesdasaude.org</a>
       </td>

       <td style="text-align: center; padding-right: 0; display: block;">
         <a target="_blank" style="text-decoration: none; outline: none; border: none;" href="https://www.facebook.com/minsaude"><img src="https://guardioesdasaude.org/images/btn-email-facebook.png"></a>

         <a target="_blank" style="text-decoration: none; outline: none; border: none;" href="https://twitter.com/minsaude"><img src="https://guardioesdasaude.org/images/btn-email-twitter.png"></a>
       </td>
     </tr>
   </tfoot>

 </table>
</body>
</html>
