<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>
<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
    <h2 class="section-title">{{"00671"|translate}}</span></h2>
    <article class="col-xs-12 panel panel-default no-padding card">
        <header class="panel-heading">
            <h3 class="panel-title">{{'00013'|translate}}</h3>
        </header>
        <div class="panel-body">
            <a class="col-xs-12 col-md-2" class="link-figure">
                <figure class="card-avatar-image">
                    <img src="images/avatar/avatar-0.svg" alt="Avatar 01" ng-model="houseHold.avatar">
                    <!-- <figcaption>Editar</figcaption> -->
                </figure>
            </a>
            <div class="col-xs-12 col-md-10 card-avatar-content">
                <form ng-submit="addHousehold()" class="card-form" name="addFormProfile">
                    <div class="no-padding col-xs-12">
                        <fieldset class="col-xs-12 col-sm-6">
                            <label for="profile-nickname">{{'00033'|translate}}</label>
                            <input class="input-primary" id="profile-nickname" name="add-profile-nickname" type="text" ng-model="houseHold.nick" maxlength="10">
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6">
                            <label for="profile-gender">{{'00567'|translate}}</label>
                            <input class="radio-primary" type="radio" ng-model="houseHold.gender" name="profile-gender" value="M" id="selected-m">
                            <label for="selected-m" class="span-sex-op">{{'00366'|translate}}</label>
                            <input class="radio-primary" type="radio" ng-model="houseHold.gender" name="profile-gender" value="F" id="selected-f">
                            <label for="selected-f" class="span-sex-op">{{'00232'|translate}}</label>
                        </fieldset>
                    </div>
                    <div class="no-padding col-xs-12">
                        <fieldset class="col-xs-12 col-sm-6">
                            <label for="profile-birthdate"> {{'00144'|translate}} (dd-mm-aaaa) </label>
                            <input class="input-primary" id="profile-birthdate" name="add-profile-birthdate" type="text" ng-model="houseHold.dob" mask="99-99-9999">
                            <!-- <span class="icon-birthdate"></span> -->
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-6">
                            <label for="profile-raca-cor">{{'00133'|translate}}</label>
                            <select class="select-primary" name="add-profile-raca-cor" id="profile-raca-cor" ng-model="houseHold.race">
                                <option ng-selected="true" disabled>{{'00550'|translate}}</option>
                                <option value="branco">{{'00081'|translate}}</option>
                                <option value="amarelo">{{'00025'|translate}}</option>
                                <option value="preto">{{'00478'|translate}}</option>
                                <option value="pardo">{{'00452'|translate}}</option>
                                <option value="indigena">{{'00304'|translate}}</option>
                            </select>
                        </fieldset>
                    </div>
                    <fieldset class="col-xs-12 col-sm-6">
                        <label for="profile-parentesco">{{'00453'|translate}}</label>
                        <select class="select-primary" name="profile-parentesco" id="profile-parentesco" ng-model="houseHold.relationship">
                            <option ng-selected="true" disabled>{{'00546'|translate}}</option>
                            <option value="pai">{{'00440'|translate}}</option>
                            <option value="mae">{{'00348'|translate}}</option>
                            <option value="filho">{{'00237'|translate}}</option>
                            <option value="irmao">{{'00315'|translate}}</option>
                            <option value="avo">{{'00053'|translate}}</option>
                            <option value="neto">{{'00398'|translate}}</option>
                            <option value="tio">{{'00611'|translate}}</option>
                            <option value="sobrinho">{{'00580'|translate}}</option>
                            <option value="bisavo">{{'00072'|translate}}</option>
                            <option value="bisneto">{{'00075'|translate}}</option>
                            <option value="primo">{{'00481'|translate}}</option>
                            <option value="sogro">{{'00582'|translate}}</option>
                            <option value="genro-nora">{{'00248'|translate}} / {{'00403'|translate}}</option>
                            <option value="padrasto">{{'00439'|translate}}</option>
                            <option value="madrasta">{{'00347'|translate}}</option>
                            <option value="enteado">{{'00193'|translate}}</option>
                            <option value="conjuge">{{'00129'|translate}}</option>
                            <option value="outros">{{'00437'|translate}}</option>
                        </select>
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-6">
                        <label for="profile-email">{{'00177'|translate}} ({{'00660'|translate}})</label>
                        <input class="input-primary" id="profile-email" name="add-profile-email" ng-model="houseHold.email">
                    </fieldset>
                     <div class="no-padding col-xs-12">
                        <fieldset class="col-xs-12 col-sm-4">
                            <label>{{'00442' | translate}}</label>
                            <select class="select-primary" name="country" ng-model="houseHold.country" ng-change="_isbrasil = houseHold.country=='Brazil'">
                                <option selected="true" value="Selecione">{{'00442' | translate}}</option>
                                <option ng-repeat="c in UTIL.countries" value="{{c.nome_pais_int}}">{{c.nome_pais}}</option>
                            </select>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-4" ng-show="_isbrasil">
                            <label>Estado de origem</label>
                            <select class="select-primary" name="state" ng-model="houseHold.state">
                                <option ng-selected="true" value="Selecione" disabled>Estado de origem</option>
                                <option value="{{c.nome}}" ng-repeat="c in UTIL.states">{{c.nome}}</option>
                            </select>
                        </fieldset>
                        <fieldset class="col-xs-12 col-sm-4">
                            <label>{{'00460' | translate}}</label>
                            <select class="select-primary" name="perfil" ng-model="houseHold.profile">
                                <option ng-selected="true" disabled>{{'00460'|translate}}</option>
                                <option value="Atleta/Delegação">{{'00049'|translate}} </option>
                                <option value="Trabalhador/Voluntário"> {{'00622'|translate}} </option>
                                <option value="Fã/Espectador">{{'00227'|translate}}</option>
                            </select>
                        </fieldset>
                    </div>
                    <fieldset class="col-xs-12">
                        <button type="submit" class="pull-right btn btn-primary">{{'00524'|translate}}</button>
                        <button class="pull-right btn btn-primary cancel">{{'00096'|translate}}</button>
                    </fieldset>
                    <fieldset class="col-xs-12">
                        <div ng-show="checkF.error" class="alert alert-warning" role="alert">
                            <span>{{checkF.msg}}</span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </article>
</section>
