<div class="wrapper-internal not-logged">
  <div class="container">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 register-box">
        <h2 class="title-primary">Preparado para se tornar um Guardião da Saúde?</h2>

        <form class="form-register-home" name="form-register-home">
          <h3>Por favor, preencha o formulário abaixo:</h3>

          <input class="input-secondary" type="text" placeholder="Apelido">
          <input class="input-secondary" type="number" placeholder="Data de nascimento (dd/mm/aaaa)">

          <select class="select-secondary" name="cor">
            <option value="">Cor/Raça</option>
          </select>

          <select class="select-secondary" name="sexo">
            <option value="">Sexo</option>
          </select>

          <input class="input-secondary" type="password" placeholder="Senha">

          <button class="btn-secondary">Cadastrar-se</button>

          <fieldset>
            <input type="checkbox" id="register-agree" class="register-agree">
            <label for="register-agree">Concordo com os <a href="#/">Termos de Uso</a>.</label>
          </fieldset>
        </form>
      </section>
    </div>
  </div>
</div>

<!-- How it works -->
<div ng-include src="'views/partials/how-it-works.html'"></div>
