<div class="wrapper-internal not-logged" style="padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 register-box">
                <h2 class="title-primary title-cad-email">{{'00477'|translate}}</h2>
                <form ng-submit="createUser()" class="form-register-home" name="formRegisterHome" novalidate>
                    <h3>{{'00470'|translate}}</h3>
                    <fieldset class="input-group mainform signup">
                        <input class="form-control mainform-input" name="nick" maxlength="10" placeholder="{{'00033'|translate}}" ng-model="createData.nick">
                        <input class="form-control mainform-input" name="email" placeholder="{{'00177'|translate}}" ng-model="createData.email">
                        <input class="form-control mainform-input" type="tel" placeholder="{{'00144'|translate}}" ng-model="createData.dob" mask="99-99-9999">

                        <!-- Coutry -->
                        <!-- <select class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" name="country" ng-model="createData.country"
                            ng-change="whatCountry(createData.country)" remove-first-option selectpicker>
                            <option value="{{'00442'|translate}}">{{'00442'|translate}}</option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais}}</option>
                        </select> -->

                        <!-- Select Languages -->
                        <!-- PT -->
                        <select ng-if="language == 'pt'" type="text" ng-model="createData.country" class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" ng-change="whatCountry(createData.country)" selectpicker remove-first-option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_init}}">{{c.nome_pais}}</option>
                        </select>
                        
                        <!-- EN -->
                        <select ng-if="language == 'en'" type="text" ng-model="createData.country" class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" ng-change="whatCountry(createData.country)" selectpicker remove-first-option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_init}}">{{c.nome_pais_init}}</option>
                        </select>

                        <!-- ES -->
                        <select ng-if="language == 'es'" type="text" ng-model="createData.country" class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" ng-change="whatCountry(createData.country)" selectpicker remove-first-option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_init}}">{{c.nome_pais_es}}</option>
                        </select>

                        <!-- CH -->
                        <select ng-if="language == 'zh'" type="text" ng-model="createData.country" class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" ng-change="whatCountry(createData.country)" selectpicker remove-first-option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_init}}">{{c.nome_pais_ch}}</option>
                        </select>

                        <!-- AR -->
                        <select ng-if="language == 'ar'" type="text" ng-model="createData.country" class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" ng-change="whatCountry(createData.country)" selectpicker remove-first-option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_init}}">{{c.nome_pais_ar}}</option>
                        </select>

                        <!-- RU -->
                        <select ng-if="language == 'ru'" type="text" ng-model="createData.country" class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" ng-change="whatCountry(createData.country)" selectpicker remove-first-option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_init}}">{{c.nome_pais_ru}}</option>
                        </select>

                        <!-- FR -->
                        <select ng-if="language == 'fr'" type="text" ng-model="createData.country" class="selectpicker drop-register drop-height form-control mainform-input icon-arrow" ng-change="whatCountry(createData.country)" selectpicker remove-first-option>
                            <option ng-repeat="c in countries" value="{{c.nome_pais_init}}">{{c.nome_pais_fr}}</option>
                        </select>
                        
                        <!-- Estado de Origem -->
                        <select class="selectpicker drop-register drop-height form-control mainform-input icon-arrow drop-origem" name="state" ng-model="createData.state" ng-show="isBrasil" selectpicker>
                            <option ng-selected="true" value="Selecione" disabled>Estado de origem</option>
                            <option value="{{c.nome}}" ng-repeat="c in states">{{c.nome}}</option>
                        </select>
                        
                        <!-- Profile -->
                        <select class="selectpicker drop-register form-control mainform-input icon-arrow" name="perfil" ng-model="createData.profile" remove-first-option selectpicker>
                            <option ng-selected="true" disabled>{{'00460'|translate}}</option>
                            <option value="1">{{'00049'|translate}} </option>
                            <option value="2"> {{'00622'|translate}} </option>
                            <option value="3">{{'00227'|translate}}</option>
                        </select>

                        <!-- Gender -->
                        <select class="selectpicker drop-register form-control mainform-input icon-arrow" name="gender" ng-model="createData.gender" remove-first-option selectpicker>
                            <option ng-selected="true" disabled>{{'00567'|translate}}</option>
                            <option value="M">{{'00366'|translate}}</option>
                            <option value="F">{{'00232'|translate}}</option>
                        </select>
                        
                        <!-- Race -->
                        <select class="selectpicker drop-register drop-rece form-control mainform-input icon-arrow" name="race" ng-model="createData.race" ng-show="fr" remove-first-option selectpicker>
                            <option ng-selected="true" disabled>{{'00550'|translate}}</option>
                            <option value="branco">{{'00081'|translate}}</option>
                            <option value="amarelo">{{'00025'|translate}}</option>
                            <option value="preto">{{'00478'|translate}}</option>
                            <option value="pardo">{{'00452'|translate}}</option>
                            <option value="indigena">{{'00304'|translate}}</option>
                        </select>
                        <input class="form-control mainform-input" name="password" type="password" placeholder="{{'00554'|translate}}" ng-model="createData.password">
                        <input class="form-control mainform-input" name="repeat-password" type="password" placeholder="{{'00502'|translate}}" ng-model="createData.repeat_password">

                        

                       

                    </fieldset>
                    <!-- form validation -->
                    <div ng-show="checkF.error" class="alert alert-warning" role="alert">
                        <span>{{checkF.msg}}</span>
                    </div>
                    <div ng-show="email_uso" class="alert alert-warning" role="alert">
                        <span>{{'00416'|translate}}</span>
                    </div>
                    <fieldset class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-signup" ng-disabled="!agree">{{'00089'|translate}}</button>
                        </div>
                    </fieldset>
                    <fieldset class="register-agree" role="group">
                        <input type="checkbox" id="register-agree" ng-model="agree">
                        <label for="register-agree"><a href="politica-de-privacidade" title="Clique para visualizar os termos de uso" target="_blank">{{'00124'|translate}}</a>.</label>
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
</div>
<div ng-include src="'views/partials/olympics-faixa.html'"></div>
<!-- How it works -->
<div ng-include src="'views/partials/how-it-works.html'"></div>
