<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Perfil <span>/ {{user.nick}}</span></h2>

  <article class="col-xs-12 panel panel-default no-padding card">
    <header class="panel-heading change-photo">
      <h3 class="panel-title">Editar foto</h3>
    </header>

    <div class="panel-body">
      <div class="col-xs-12 col-sm-10 col-md-6 card-avatar-content">
        <h3 class="change-photo-subtitle">Escolha seu avatar</h3>
        <div class="form-change-photo-default">
          <input type="radio" ng-click="chooseAvatar(1)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-1" value="1">
          <input type="radio" ng-click="chooseAvatar(2)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-2" value="2">
          <input type="radio" ng-click="chooseAvatar(3)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-3" value="3">
          <input type="radio" ng-click="chooseAvatar(4)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-4" value="4">
          <input type="radio" ng-click="chooseAvatar(5)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-5" value="5">
          <input type="radio" ng-click="chooseAvatar(6)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-6" value="6">
          <input type="radio" ng-click="chooseAvatar(7)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-7" value="7">
          <input type="radio" ng-click="chooseAvatar(8)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-8" value="8">
          <input type="radio" ng-click="chooseAvatar(9)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-9" value="9">
          <input type="radio" ng-click="chooseAvatar(10)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-10" value="10">
          <input type="radio" ng-click="chooseAvatar(11)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-11" value="11">
          <input type="radio" ng-click="chooseAvatar(12)" ng-model="screen.user.picture" name="input-change-photo" class="radio-avatar avatar-12" value="12">
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-offset-3 col-md-3">
        <h3 class="change-photo-subtitle">Envie uma foto</h3>
        <form name="search-photo-default">
          <div class="input-file-container">
            <input class="input-file" id="my-file" type="file">
            <label tabindex="0" for="my-file" class="input-file-trigger" data-label="Procurar por uma imagem"></label>
          </div>

          <button type="submit" class="save-change-photo">Salvar foto</button>
        </form>
      </div>
    </div>
  </article>

</section>
