<div class="wrapper-internal wrapper-full-page survey-content">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 ">
        <h2 class="title-primary">Marque abaixo o que você está sentindo neste momento:</h2>

        <form ng-submit="getSymptoms()" name="choose-symptoms-form" class="row choose-symptoms-form">
          <fieldset class="col-xs-12">
            <legend>Sintomas</legend>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4" ng-repeat="symptom in symptomsList">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms[symptom.id]" value="{{symptom.id}}" id="symptom-{{symptom.id}}" class="checkbox-primary">
            <label for="symptom-{{symptom.id}}">{{symptom.name}}</label>
          </fieldset>

          <!-- <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.tosse" value="tosse" id="symptom-tosse" class="checkbox-primary">
            <label for="symptom-tosse">Tosse</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.vomito" value="nausea-vomito" id="symptom-nausea-vomito" class="checkbox-primary">
            <label for="symptom-nausea-vomito">Náusea ou vômito</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.manchaVermelha" value="mancha-vermelha" id="symptom-mancha-vermelha" class="checkbox-primary">
            <label for="symptom-mancha-vermelha">Manchas vermelhas no corpo</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.dorNasJuntas" value="dor-nas-juntas" id="symptom-dor-nas-juntas" class="checkbox-primary">
            <label for="symptom-dor-nas-juntas">Dor nas juntas</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.diarreia" value="diarreia" id="symptom-diarreia" class="checkbox-primary">
            <label for="symptom-diarreia">Diarreia</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.dorNoCorpo" value="dor-no-corpo" id="symptom-dor-no-corpo" class="checkbox-primary">
            <label for="symptom-dor-no-corpo">Dor no corpo</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.sangramento" value="sangramento" id="symptom-sangramento" class="checkbox-primary">
            <label for="symptom-sangramento">Sangramento</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.faltaDeAr" value="falta-de-ar" id="symptom-falta-de-ar" class="checkbox-primary">
            <label for="symptom-falta-de-ar">Falta de ar</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.urinaOuOlhosAmarelados" value="urina-ou-olhos-amarelados" id="symptom-urina-ou-olhos-amarelados" class="checkbox-primary">
            <label for="symptom-urina-ou-olhos-amarelados">Urina ou olhos amarelados</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.dorDeCabeca" value="dor-de-cabeca" id="symptom-dor-de-cabeca" class="checkbox-primary">
            <label for="symptom-dor-de-cabeca">Dor de cabeça</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.olhosVermelhos" value="olhos-vermelhos" id="symptom-olhos-vermelhos" class="checkbox-primary">
            <label for="symptom-olhos-vermelhos">Olhos vermelhos</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.coceira" value="coceira" id="symptom-coceira" class="checkbox-primary">
            <label for="symptom-coceira">Coceira</label>
          </fieldset> -->

          <fieldset class="col-xs-12">
            <legend>Outros</legend>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.tiveContato" value="tive-contato" id="tive-contato" class="checkbox-primary">
            <label for="tive-contato">Tive contato com alguém com um desses sintomas</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.procureiServico" value="procurei-servico" id="procurei-servico" class="checkbox-primary">
            <label for="procurei-servico">Procurei um serviço de saúde</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.estiveFora" value="estive-fora" id="estive-fora" class="checkbox-primary">
            <label for="estive-fora">Estive fora do Brasil nos últimos 14 dias</label>
          </fieldset>

          <button type="submit" class="col-xs-12 btn-submit">Confirmar</button>
        </form>

      </section>
    </div>
  </div>
</div>

<!-- I feel bad :( -->
<div ng-include src="'views/partials/modal-i-feel-bad.html'"></div>
