<div class="wrapper-internal wrapper-full-page survey-content second-step-wrapper">
    <div class="container-fluid">
        <div class="row">
            <section class="col-xs-12 col-sm-10 col-sm-offset-1 ">
                <h2 class="title-primary">{{'00362'|translate}}</h2>
                <form name="chooseSymptomsForm" class="choose-symptoms-form form-primary">
                    <fieldset class="col-xs-12">
                        <legend>{{'00575'|translate}}</legend>
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-4" ng-repeat="symptom in symptomsList">
                        <input type="checkbox" name="choose-symptoms" ng-model="symptoms[symptom.code]" value="Y" id="symptom-{{symptom.id}}" class="checkbox-primary">
                        <label for="symptom-{{symptom.id}}">{{symptom.name_translate}}</label>
                    </fieldset>
                    <fieldset class="col-xs-12 legend">
                        <legend>{{'00437'|translate}}</legend>
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-4">
                        <input type="checkbox" name="choose-symptoms" ng-model="symptoms.hadContagiousContact" value="tive-contato" id="tive-contato" class="checkbox-primary">
                        <label for="tive-contato">{{'00614'|translate}}</label>
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-4">
                        <input type="checkbox" name="choose-symptoms" ng-model="symptoms.hadHealthCare" value="procurei-servico" id="procurei-servico" class="checkbox-primary">
                        <label for="procurei-servico">{{'00483'|translate}}</label>
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-4">
                        <input type="checkbox" name="choose-symptoms" ng-model="symptoms.hadTravelledAbroad" value="estive-fora" id="estive-fora" class="checkbox-primary">
                        <label for="estive-fora">{{'00220'|translate}}</label>
                    </fieldset>

                    <!-- Select Languages -->
                    <fieldset class="col-xs-12 col-sm-4 pull-right" ng-show="symptoms.hadTravelledAbroad">
                        <!-- PT -->
                        <select ng-if="language == 'pt'" name="what-country" type="text" ng-model="symptoms.travelLocation" id="what-country" class="select-primary">
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais}}</option>
                        </select>
                        
                        <!-- EN -->
                        <select ng-if="language == 'en'" name="what-country" type="text" ng-model="symptoms.travelLocation" id="what-country" class="select-primary">
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais_init}}</option>
                        </select>

                        <!-- ES -->
                        <select ng-if="language == 'es'" name="what-country" type="text" ng-model="symptoms.travelLocation" id="what-country" class="select-primary">
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais_es}}</option>
                        </select>

                        <!-- CH -->
                        <select ng-if="language == 'zh'" name="what-country" type="text" ng-model="symptoms.travelLocation" id="what-country" class="select-primary">
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais_ch}}</option>
                        </select>

                        <!-- AR -->
                        <select ng-if="language == 'ar'" name="what-country" type="text" ng-model="symptoms.travelLocation" id="what-country" class="select-primary">
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais_ar}}</option>
                        </select>

                        <!-- RU -->
                        <select ng-if="language == 'ru'" name="what-country" type="text" ng-model="symptoms.travelLocation" id="what-country" class="select-primary">
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais_ru}}</option>
                        </select>

                        <!-- FR -->
                        <select ng-if="language == 'fr'" name="what-country" type="text" ng-model="symptoms.travelLocation" id="what-country" class="select-primary">
                            <option ng-repeat="c in countries" value="{{c.nome_pais_int}}">{{c.nome_pais_fr}}</option>
                        </select>

                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-12">
                        <button ng-click="submitform()" class="col-xs-12 btn-submit">{{'00126'|translate}}
                        </button>
                    </fieldset>
                </form>
            </section>
        </div>
    </div>
</div>
<!-- Show when user submit survey -->
<div ng-include src="'views/partials/confirm-send-survey.html'"></div>
<!-- Thanks modal -->
<div ng-include src="'views/partials/modal-thanks.html'"></div>
<!-- Exantematica modal -->
<div ng-include src="'views/partials/modal-exantematica.html'"></div>
<!-- Síndromes modal -->
<div ng-include src="'views/partials/modal-sindromes.html'"></div>
