<div class="wrapper-internal wrapper-full-page survey-content">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 ">
        <h2 class="title-primary">Marque abaixo o que você está sentindo neste momento:</h2>

        <form name="chooseSymptomsForm" class="choose-symptoms-form form-primary">
          <fieldset class="col-xs-12">
            <legend>Sintomas</legend>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4" ng-repeat="symptom in symptomsList">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms[symptom.code]" value="Y" id="symptom-{{symptom.id}}" class="checkbox-primary">
            <label for="symptom-{{symptom.id}}">{{symptom.name}}</label>
          </fieldset>

          <fieldset class="col-xs-12 legend">
            <legend>Outros</legend>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.hadContagiousContact" value="tive-contato" id="tive-contato" class="checkbox-primary">
            <label for="tive-contato">Tive contato com alguém com um desses sintomas</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.hadHealthCare" value="procurei-servico" id="procurei-servico" class="checkbox-primary">
            <label for="procurei-servico">Procurei um serviço de saúde</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4">
            <input type="checkbox" name="choose-symptoms" ng-model="symptoms.hadTravelledAbroad" value="estive-fora" id="estive-fora" class="checkbox-primary">
            <label for="estive-fora">Estive fora do Brasil nos últimos 14 dias</label>
          </fieldset>

          <fieldset class="col-xs-12 col-sm-4 pull-right" ng-show="symptoms.hadTravelledAbroad">
            <label for="what-country">Qual país?</label>
            <input type="text" ng-model="symptoms.travelLocation" id="what-country" class="input-primary">
          </fieldset>

          <fieldset class="col-xs-12">
            <button data-toggle="modal" data-target="#confirm-send-survey" class="col-xs-12 btn-submit">Confirmar</button>
          </fieldset>
        </form>

      </section>
    </div>
  </div>
</div>

<!-- Show when user submit survey -->
<div ng-include src="'views/partials/confirm-send-survey.html'"></div>

<!-- Toaster -->
<div ng-include src="'views/partials/toaster.html'"></div>

<!-- Thanks modal -->
<div ng-include src="'views/partials/modal-thanks.html'"></div>

<!-- Exantematica modal -->
<div ng-include src="'views/partials/modal-exantematica.html'"></div>
