<style>
	body { background: #197fcf;
	h3 { margin-top: 50px; }
</style>

<!-- Compenents for 01 home search layout-->
<h3>01 home search</h3>
<fieldset class="input-group">
  <input type="text" class="form-control search-home" placeholder="Pesquise pela sua Cidade">
</fieldset>

<!-- Compenents for 03 cadastro email layout-->
<h3>03 cadastro email</h3>
<form>
	<fieldset class="input-group mainform signup">
	  <input type="text" class="form-control mainform-input" placeholder="Apelido">
	  <input type="text" class="form-control mainform-input" placeholder="Data de nascimento (dd/mm/aaaa)">
	  <input type="text" class="form-control mainform-input select" placeholder="Cor/Raça">
	  <input type="text" class="form-control mainform-input select" placeholder="Sexo">
	  <input type="text" class="form-control mainform-input" placeholder="Senha">
	</fieldset>
</form>

<fieldset class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-signup">Cadastre-se</button>
  </div>
</fieldset>

<!-- Compenents for 04 login social layout-->
<h3>04 login social</h3>
<ul>
	<li class="social-signin">
		<fieldset class="btn-group btn-group-justified" role="group">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn social login-facebook">Facebook</button>
		  </div>
		</fieldset>
	</li>
	<li class="social-signin">
		<fieldset class="btn-group btn-group-justified" role="group">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn social login-google">Google</button>
		  </div>
		</fieldset>
	</li>
	<li class="social-signin">
		<fieldset class="btn-group btn-group-justified" role="group">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn social login-twitter">Twitter</button>
		  </div>
		</fieldset>
	</li>
</ul>

<!-- Compenents for 05 login email layout-->
<h3>05 login email</h3>
<form>
	<fieldset class="input-group mainform signup">
	  <input type="text" class="form-control mainform-input" placeholder="email">
	  <input type="text" class="form-control mainform-input" placeholder="senha">
	</fieldset>
</form>

<fieldset class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-signup">Cadastre-se</button>
  </div>
</fieldset>

<!-- Compenents for 06 mapa da saude-->
<h3>06 mapa da saude</h3>
<fieldset class="input-group">
  <input type="text" class="form-control search-town" placeholder="Recife/PE">
</fieldset>

<div class="weekly-users">
	<h3>
		<span class="total-weekly">71.252</span>
		Participações esta semana
	</h3>
</div>

<img class="icon-small icon-shadow" src="images/icon_good.svg" alt="Good">
<img class="icon-small icon-shadow" src="images/icon_bad.svg" alt="Bad">

<div class="metrics">
	<img class="icon-medium icon-shadow" src="images/icon_good.svg" alt="Good">
	<span class="total-percentage">68% <span class="light">Bem</span></span>
	<span class="total-users">48.452 Participantes</span>
</div>
<div class="metrics">
	<img class="icon-medium icon-shadow" src="images/icon_bad.svg" alt="Bad">
	<span class="total-percentage">32% <span class="light">Mal<span></span>
	<span class="total-users">22.800 Participantes</span>
</div>

<div class="progress-container">
	<span class="sickness-info sickness-name">Diarréia</span>
	<span class="sickness-info progress-percentage">60%</span>
	<div class="progress sickness">
  	<div class="progress-bar progress-status" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
	</div>	
</div>

<!-- Compenents for 07 quem vai participar-->
<h3 style="clear: both; float: left; width: 100%;">07 quem vai participar</h3>
<div class="member">
	<a href="">
		<img src="images/img_profile_avatar_01.svg" alt="Aninha">
		<h3>Aninha</h3>
		<span class="age">28 anos</span>	
	</a>
</div>

<div class="add-member">
	<a href="">
		<img src="images/icon_add_member.svg" alt="Adicionar membro">
		<h3>Adicionar membro</h3>
	</a>
</div>

<!-- Compenents for 07.1 quem vai participar-->
<h3 style="clear: both; float: left; width: 100%;">07.1 quem vai participar</h3>
<div class="panel panel-default main-modal add-new-member">
  <div class="panel-heading">
    <h3 class="panel-title">Adicionar membro</h3>
  </div>
  <div class="panel-body">
    <div class="avatar-user">
    	<a href="">
    		<img src="images/img_profile_avatar_01.svg" alt="">
    		<!-- <button type="button" class="edit-user">Editar</button> -->
    	</a>
    </div>
    <form class="form-user">
    	<fieldset class="input-group first-data">
    		<label for="nickname">Apelido</label>
				<input type="text" class="form-control nickname" name="nickname" placeholder="">
			
        <ul>
        	<label for="sex">Sexo</label>
        	<li><input type="radio" name="male"><label class="sex" for="male">Male</label></li>
        	<li><input type="radio" name="female"><label class="sex" for="female">Female</label></li>
        </ul>
			</fieldset>

			<fieldset class="input-group second-data">
				<ul>
					<li>
						<label for="birth">Data de nascimento</label>
						<input type="text" class="form-control birth" name="birth" placeholder="">
						<button class="open-calendar" type="button"></button>
					</li>
					<li>
						<label for="race">Raça/Cor</label>
						<input type="text" class="form-control race" name="race" placeholder="">
					</li>
					<li>
						<label for="kinship">Parentesco</label>
						<input type="text" class="form-control kinship" name="kinship" placeholder="">
					</li>
					<li>
						<label for="email">Email (opcional)</label>
						<input type="text" class="form-control kinship" name="email" placeholder="">
					</li>
				</ul>
			</fieldset>
			<fieldset class="input-group modal-options">
				<a href="#" class="btn btn-primary save-data" role="button">Salvar alterações</a>
				<a href="#" class="btn btn-default cancel-data" role="button">Cancelar</a>
			</fieldset>
    </form>
  </div>
</div>


<!-- Compenents for 08 como esta a sua saude-->
<h3 style="clear: both; float: left; width: 100%;">08 como esta a sua saude</h3>
<div class="choose-status good">
	<a href="">
		<img class="icon-large icon-shadow" src="images/icon_good.svg" alt="">
		<h3>Bem</h3>
	</a>
</div>

<div class="choose-status bad">
	<a href="">
		<img class="icon-large icon-shadow" src="images/icon_bad.svg" alt="">
		<h3>Mal</h3>
	</a>
</div>

<!-- Compenents for 09 survey-->
<h3 style="clear: both; float: left; width: 100%;">09 survey</h3>
<fieldset class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-confirm">Confirmar</button>
  </div>
</fieldset>

<!-- Compenents for 09.1 survey-->
<h3 style="clear: both; float: left; width: 100%;">09.1 survey</h3>
<div class="panel panel-default main-modal confirmation">
  <div class="panel-heading">
    <h3 class="panel-title">Atenção</h3>
  </div>
  <div class="panel-body">
    <form class="form-user">
			<p>Deseja enviar suas informações?</p>
			<fieldset class="input-group modal-options">
				<a href="#" class="btn btn-primary save-data" role="button">Sim</a>
				<a href="#" class="btn btn-default cancel-data" role="button">Nao</a>
			</fieldset>
    </form>
  </div>
</div>

<!-- Compenents for 09.2 survey-->
<h3 style="clear: both; float: left; width: 100%;">09.2 survey</h3>
<div class="panel panel-default main-modal thanks">
  <div class="panel-heading">
    <h3 class="panel-title">Obrigado pela sua informação</h3>
  </div>
  <div class="panel-body">
    <form class="form-user">
    	<img class="all-done" src="images/icon_thankyou.svg" alt="">
			<p>
				Não deixe de procurar o serviço de saúde mais próximo.<br>
				Continue informando diariamente como está sua saúde.
			</p>
			<h3>Convide seus amigos para serem Guardiões!</h3>
	
			<ul>
				<li class="social-signin">
					<fieldset class="btn-group btn-group-justified" role="group">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn social login-facebook">Facebook</button>
					  </div>
					</fieldset>
				</li>
				<li class="social-signin">
					<fieldset class="btn-group btn-group-justified" role="group">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn social login-twitter">Twitter</button>
					  </div>
					</fieldset>
				</li>
			</ul>


			<fieldset class="input-group modal-options">
				<a href="#" class="btn btn-primary save-data" role="button">OK</a>
			</fieldset>
    </form>
  </div>
</div>

<!-- Compenents for 09.3 survey-->
<h3 style="clear: both; float: left; width: 100%;">09.3 survey</h3>
<div class="panel panel-default main-modal thanks">
  <div class="panel-heading">
    <h3 class="panel-title">Obrigado pela sua informação</h3>
  </div>
  <div class="panel-body">
    <form class="form-user">
    	<img class="all-done" src="images/icon_thankyou.svg" alt="">
			<p>
				Obrigado pela sua contribuição.<br>
				Continue informando diariamente como está sua saúde.
			</p>
			<h3>Convide seus amigos para serem Guardiões!</h3>
	
			<ul>
				<li class="social-signin">
					<fieldset class="btn-group btn-group-justified" role="group">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn social login-facebook">Facebook</button>
					  </div>
					</fieldset>
				</li>
				<li class="social-signin">
					<fieldset class="btn-group btn-group-justified" role="group">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn social login-twitter">Twitter</button>
					  </div>
					</fieldset>
				</li>
			</ul>


			<fieldset class="input-group modal-options">
				<a href="#" class="btn btn-primary save-data" role="button">OK</a>
			</fieldset>
    </form>
  </div>
</div>


