<style>
	body { background: #197fcf; }
</style>

<!-- Compenents for 01 home search layout-->
<h3>01 home search</h3>
<fieldset class="input-group">
  <input type="text" class="form-control search-home" placeholder="Pesquise pela sua Cidade" aria-describedby="basic-addon1">
</fieldset>

<!-- Compenents for 03 cadastro email layout-->
<h3>03 cadastro email</h3>
<form>
	<fieldset class="input-group mainform signup">
	  <input type="text" class="form-control mainform-input" placeholder="Apelido" aria-describedby="basic-addon1">
	  <input type="text" class="form-control mainform-input" placeholder="Data de nascimento (dd/mm/aaaa)" aria-describedby="basic-addon1">
	  <input type="text" class="form-control mainform-input select" placeholder="Cor/Raça" aria-describedby="basic-addon1">
	  <input type="text" class="form-control mainform-input select" placeholder="Sexo" aria-describedby="basic-addon1">
	  <input type="text" class="form-control mainform-input" placeholder="Senha" aria-describedby="basic-addon1">
	</fieldset>
</form>>

<fieldset class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-signup">Cadastre-se</button>
  </div>
</fieldset>

<!-- Compenents for 04 login social layout-->
<h3>04 login social</h3>
<ul>
	<li class="social-signin">
		<fieldset class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn social login-facebook">Facebook</button>
		  </div>
		</fieldset>
	</li>
	<li class="social-signin">
		<fieldset class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn social login-google">Google</button>
		  </div>
		</fieldset>
	</li>
	<li class="social-signin">
		<fieldset class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn social login-twitter">Twitter</button>
		  </div>
		</fieldset>
	</li>
</ul>