<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Painel de controle <span>/ Mapa</span></h2>

  <article class="col-xs-12 panel panel-default no-padding card">
    <header class="panel-heading">
      <h3 class="panel-title">Mapa da Saúde</h3>
    </header>

    <div class="panel-body">
      ...
    </div>
  </article>

  <div class="no-padding col-xs-12">
    <legend class="legend-subtitle other">Esta semana</legend>

    <article class="col-xs-12 card"></article>
  </div>
</section>
