<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>
<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
    <h2 class="section-title">Painel de controle <span>/ Inteligência epidemiológica</span></h2>
    <aside class="col-xs-12 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-md-3" style="padding-right: 0;">
                <div class="box-alert rio verde" id="rio">
                    <a href="#mkernel" ng-click="setRegiao('RIO');setSindrome('DIARREICA');createKernel()"><span class="box-alert-title">Rio de Janeiro</span></a>
                    <div class="box-scroll">
                        <div ng-repeat="a in alerts['Rio de Janeiro']">
                            <span class="box-alert-date">{{a.data|date:'dd/MM/yyyy'}}</span>
                            <span class="box-alert-content">{{a.msg}} : {{a.sintoma}}</span>
                        </div>
                    </div>
                    <div class="rodape">
                        <span data-toggle="tooltip" title="Atleta/Delegação"><img src="/images/dashboard/olympics/atletas.svg"/><span>{{getUsersByCity('Rio de Janeiro',1)}}</span></span>
                        <span data-toggle="tooltip" title="Fã/Expectador"><img src="/images/dashboard/olympics/visitantes.svg"/> {{getUsersByCity('Rio de Janeiro',2)}}</span>
                        <span data-toggle="tooltip" title="Trabalhador/Voluntário"><img src="/images/dashboard/olympics/voluntarios.svg"/> {{getUsersByCity('Rio de Janeiro',3)}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="col-xs-12 col-md-4">
                    <div class="box-alert amarelo" id="brasil">
                        <a href="javascript:void(0)" ng-click="setRegiao('BR');setSindrome('DIARREICA');createKernel()"><span class="box-alert-title">Brasil</span></a>
                        <div class="box-scroll-min">
                            <div ng-repeat="a in alerts['Brasil']">
                                <span class="box-alert-date">{{a.data|date:'dd/MM/yyyy'}}</span>
                                <span class="box-alert-content">{{a.msg}} : {{a.sintoma}}</span>
                            </div>
                        </div>
                        <div class="rodape">
                            <span data-toggle="tooltip" title="Atleta/Delegação"><img src="/images/dashboard/olympics/atletas.svg"/><span>{{getUsersByCity('Brasil',1)}}</span></span>
                            <span data-toggle="tooltip" title="Fã/Expectador"><img src="/images/dashboard/olympics/visitantes.svg"/> {{getUsersByCity('Brasil',2)}}</span>
                            <span data-toggle="tooltip" title="Trabalhador/Voluntário"><img src="/images/dashboard/olympics/voluntarios.svg"/> {{getUsersByCity('Brasil',3)}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="box-alert verde" id="belohorizonte">
                        <a href="javascript:void(0)" ng-click="setRegiao('BH');setSindrome('DIARREICA');createKernel()"><span class="box-alert-title">Belo Horizonte</span></a>
                        <div class="box-scroll-min">
                            <div ng-repeat="a in alerts['Belo Horizonte']">
                                <span class="box-alert-date">{{a.data|date:'dd/MM/yyyy'}}</span>
                                <span class="box-alert-content">{{a.msg}} : {{a.sintoma}}</span>
                            </div>
                        </div>
                        <div class="rodape">
                            <span data-toggle="tooltip" title="Atleta/Delegação"><img src="/images/dashboard/olympics/atletas.svg"/><span>{{getUsersByCity('Belo Horizonte',1)}}</span></span>
                            <span data-toggle="tooltip" title="Fã/Expectador"><img src="/images/dashboard/olympics/visitantes.svg"/> {{getUsersByCity('Belo Horizonte',2)}}</span>
                            <span data-toggle="tooltip" title="Trabalhador/Voluntário"><img src="/images/dashboard/olympics/voluntarios.svg"/> {{getUsersByCity('Belo Horizonte',3)}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4" style="padding-right: 0">
                    <div class="box-alert laranja" id="brasilia">
                        <a href="javascript:void(0)" ng-click="setRegiao('DF');setSindrome('DIARREICA');createKernel()"><span class="box-alert-title">Brasília</span></a>
                        <div class="box-scroll-min">
                            <div ng-repeat="a in alerts['Brasília']">
                                <span class="box-alert-date">{{a.data|date:'dd/MM/yyyy'}}</span>
                                <span class="box-alert-content">{{a.msg}} : {{a.sintoma}}</span>
                            </div>
                        </div>
                        <div class="rodape">
                            <span data-toggle="tooltip" title="Atleta/Delegação"><img src="/images/dashboard/olympics/atletas.svg"/><span>{{getUsersByCity('Brasília',1)}}</span></span>
                            <span data-toggle="tooltip" title="Fã/Expectador"><img src="/images/dashboard/olympics/visitantes.svg"/> {{getUsersByCity('Brasília',2)}}</span>
                            <span data-toggle="tooltip" title="Trabalhador/Voluntário"><img src="/images/dashboard/olympics/voluntarios.svg"/> {{getUsersByCity('Brasília',3)}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 linha-inferior">
                <div class="col-xs-12 col-md-4">
                    <div class="box-alert vermelho" id="saopaulo">
                        <a href="javascript:void(0)" ng-click="setRegiao('SAMPA');setSindrome('DIARREICA');createKernel()"><span class="box-alert-title">São Paulo</span></a>
                        <div class="box-scroll-min">
                            <div ng-repeat="a in alerts['São Paulo']">
                                <span class="box-alert-date">{{a.data|date:'dd/MM/yyyy'}}</span>
                                <span class="box-alert-content">{{a.msg}} : {{a.sintoma}}</span>
                            </div>
                        </div>
                        <div class="rodape">
                            <span data-toggle="tooltip" title="Atleta/Delegação"><img src="/images/dashboard/olympics/atletas.svg"/><span>{{getUsersByCity('São Paulo',1)}}</span></span>
                            <span data-toggle="tooltip" title="Fã/Expectador"><img src="/images/dashboard/olympics/visitantes.svg"/> {{getUsersByCity('São Paulo',2)}}</span>
                            <span data-toggle="tooltip" title="Trabalhador/Voluntário"><img src="/images/dashboard/olympics/voluntarios.svg"/> {{getUsersByCity('São Paulo',3)}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="box-alert amarelo" id="manaus">
                        <a href="javascript:void(0)" ng-click="setRegiao('MANAUS');setSindrome('DIARREICA');createKernel()"><span class="box-alert-title">Manaus</span></a>
                        <div class="box-scroll-min">
                            <div ng-repeat="a in alerts['Manaus']">
                                <span class="box-alert-date">{{a.data|date:'dd/MM/yyyy'}}</span>
                                <span class="box-alert-content">{{a.msg}} : {{a.sintoma}}</span>
                            </div>
                        </div>
                        <div class="rodape">
                            <span data-toggle="tooltip" title="Atleta/Delegação"><img src="/images/dashboard/olympics/atletas.svg"/><span>{{getUsersByCity('Manaus',1)}}</span></span>
                            <span data-toggle="tooltip" title="Fã/Expectador"><img src="/images/dashboard/olympics/visitantes.svg"/> {{getUsersByCity('Manaus',2)}}</span>
                            <span data-toggle="tooltip" title="Trabalhador/Voluntário"><img src="/images/dashboard/olympics/voluntarios.svg"/> {{getUsersByCity('Manaus',3)}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4" style="padding-right: 0">
                    <div class="box-alert verde" id="salvador">
                        <a href="javascript:void(0)" ng-click="setRegiao('SALAVADOR');setSindrome('DIARREICA');createKernel()"><span class="box-alert-title">Salvador</span></a>
                        <div class="box-scroll-min">
                            <div ng-repeat="a in alerts['Salvador']">
                                <span class="box-alert-date">{{a.data|date:'dd/MM/yyyy'}}</span>
                                <span class="box-alert-content">{{a.msg}} : {{a.sintoma}}</span>
                            </div>
                        </div>
                        <div class="rodape">
                            <span data-toggle="tooltip" title="Atleta/Delegação"><img src="/images/dashboard/olympics/atletas.svg"/><span>{{getUsersByCity('Salvador',1)}}</span></span>
                            <span data-toggle="tooltip" title="Fã/Expectador"><img src="/images/dashboard/olympics/visitantes.svg"/> {{getUsersByCity('Salvador',2)}}</span>
                            <span data-toggle="tooltip" title="Trabalhador/Voluntário"><img src="/images/dashboard/olympics/voluntarios.svg"/> {{getUsersByCity('Salvador',3)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside class="col-xs-12 col-md-12" style="margin-top: 20px;">
        <article class="col-xs-12 panel panel-default no-padding card relative">
            <span ng-show="loadingGrafycs" class="absolute glyphicon glyphicon-refresh glyphicon-refresh-animate animateGrafycs"></span>
            <header class="panel-heading card-heading" style="margin-bottom: 0px">
                <h3 class="panel-title">Casos ao longo do tempo</h3>
                <div class="pull-right wrapper-switch-participation">
                    <div>
                        <button ng-disabled="types['sindrome']" ng-click="selectgraph('sindrome')">Sindrome</button>
                        <button ng-disabled="types['sintomas']" ng-click="selectgraph('sintomas')">Sintomas</button>
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <div class="row charts-row" style="margin:0" ng-show="types['sindrome']">
                    <div class="col-md-9">
                        <div id="syndromesTimeSeries" style="width:100%">
                            <h4 class="text-center">Número de Casos por Síndrome</h4>
                        </div>
                        <div id="syndromesTimeNavigation" style="width:100%"></div>
                    </div>
                    <div class="col-md-3" id="syndromesChart">
                    </div>
                </div>
                <div class="row charts-row" style="margin:0;" ng-show="types['sintomas']">
                    <div class="col-md-9">
                        <div id="symptomsTimeSeries" style="width:100%">
                            <h4 class="text-center">Número de Casos por Sintomas</h4>
                        </div>
                        <div id="symptomsTimeNavigation" style="width:100%"></div>
                    </div>
                    <div class="col-md-3" id="symptomsChart">
                    </div>
                </div>
            </div>
        </article>
    </aside>
    <div class="wrapper-card-map">
        <div class="col-sm-6">
            <article class="card relative" style="min-height: auto!important;">
                <span ng-show="loadingGrafycs" class="absolute glyphicon glyphicon-refresh glyphicon-refresh-animate animateGrafycs"></span>
                <header class="panel-heading card-heading">
                    <h3 class="panel-title">Pirâmide Etária</h3>
                    <div class="pull-right wrapper-switch-participation">
                    </div>
                </header>
                <div class="panel-body relative" style="padding:0;padding-left: 20px;min-height: 346px;">
                  <div id="piramideetaria" style="padding-left: 50px;"></div>
                </div>
            </article>
        </div>
    </div>
    <div class="wrapper-card-map">
        <div class="col-sm-6" id="mapakernel">
            <article class="card relative" style="min-height: auto!important;">
                <span ng-show="loadingGrafycs_kernel" class="absolute glyphicon glyphicon-refresh glyphicon-refresh-animate animateGrafycs"></span>
                <header class="panel-heading card-heading">
                    <h3 class="panel-title">Mapa de Intensidade de Kernel</h3>
                    <div class="pull-right wrapper-switch-participation">
                      <label  style="font-size: 2.3em; color: white; font-weight: bold;">Síndrome:</label>
                      <select aria-invalid="false" class="btn btn-default dropdown-toggle ng-pristine ng-untouched ng-valid"
                      ng-model="sindrome" style="color: white; background-color: rgb(30, 136, 229);margin-top: -8px;margin-right: 18px;">
                                    <option class="dash-option" value="">Selecione</option>
                                    <option class="dash-option" value="DIARREICA">Diarreica</option>
                                    <option class="dash-option" value="RESPIRATORIA">Respiratoria</option>
                                    <option class="dash-option" value="EXANTEMATICA">Exantematica</option>
                      </select>
                      <button ng-click="createKernel()" style="font-size: 2.2em;border-radius: 0px;">Atualizar</button>
                    </div>
                </header>
                <div class="panel-body relative" style="padding:0;padding-left: 20px;min-height: 346px;">
                  <iframe ng-hide="kernelmsg" id="mkernel" src="http://kernel.dev.guardioesdasaude.org/SAMPA_RESPIRATORIA.html" style="display:none;position:absolute;bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;"></iframe>
                  <div ng-show="kernelmsg" style="position: absolute; top: 50%; left: 50%; margin-left: -204.5px; font-size: 3em;">
                    Selecione a região e a síndrome que deseja visualizar
                  </div>
                </div>
            </article>
        </div>
    </div>
    <div>
        <div class="col-sm-12">
            <article class="card relative" style="min-height: auto!important;">
                <header class="panel-heading">
                    <h3 class="panel-title">Tabela de Dados</h3>
                </header>
                <div class="panel-body" style="padding:0;padding-left: 20px;">
                    <table id="table_ie" class="table table-striped" style="font-size:2.5em">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Lat</th>
                                <th>Lng</th>
                                <th>Date Reported</th>
                                <th>Symptoms</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </article>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker({
        "startDate": "01/" + (moment().month() + 1) + "/" + moment().year(),
        "endDate": "30/" + (moment().month() + 1) + "/" + moment().year(),
        "opens": "left",
        applyLabel: 'Consultar',
        "applyClass": "btn-primary",
        cancelLabel: 'Fechar',
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Consultar",
            "cancelLabel": "Cancelar"
        }
    });
    $('#daterange').on('apply.daterangepicker', function(ev, picker) {
        console.log(picker.startDate.format('YYYY-MM-DD'));
        console.log(picker.endDate.format('YYYY-MM-DD'));
        angular.element($("#daterange")).scope().setDateMin(picker.startDate.format('YYYY-MM-DD'));
        angular.element($("#daterange")).scope().setDateMax(picker.endDate.format('YYYY-MM-DD'));
        angular.element($("#daterange")).scope().buscar();
    });
});
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
