<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Painel de controle <span>/ Análise de dados</span></h2>

  <aside class="col-xs-12 col-md-4 no-padding list-tips">
    <legend class="legend-subtitle other">Variáveis</legend>

    <!-- <button ng-click="aside = 'upas'" class="btn-tip upas"
      ng-class="{ 'active' : aside == 'upas' }">
      Upas
    </button>

    <button ng-click="aside = 'farmacias'" class="btn-tip pharmacy"
      ng-class="{ 'active' : aside == 'farmacias' }">
      Farmácias
    </button>

    <button ng-click="aside = 'vacina'" class="btn-tip vaccine"
      ng-class="{ 'active' : aside == 'vacina' }">
      Vacina
    </button>

    <button ng-click="aside = 'telefones'" class="btn-tip telephones"
      ng-class="{ 'active' : aside == 'telefones' }">
      Telefones Úteis
    </button>

    <button ng-click="aside = 'cuidados'" class="btn-tip caution"
      ng-class="{ 'active' : aside == 'cuidados' }">
      Cuidados Básicos
    </button>

    <button ng-click="aside = 'prevencao'" class="btn-tip prevention"
      ng-class="{ 'active' : aside == 'prevencao' }">
      Prevenção
    </button> -->
  </aside>

  <div class="col-xs-12 col-md-7">
    <legend class="legend-subtitle other">Análise</legend>

    <!-- <aside class="col-xs-12 card health-tips-default" ng-if="!aside">
      <figure>
        <img src="images/icon-health-tips.svg" alt="">
      </figure>

      <h4>Bem vindo ao Dicas de Saúde</h4>
      <p>Aqui você poderá pesquisar informações importantes para o seu bem estar.</p>
    </aside> -->

    <!-- <aside class="col-xs-12 card content-card" ng-if="aside == 'upas'">
      <div ng-include src="'views/partials/ht-upas.html'" ng-init="loadUpas()"></div>
    </aside> -->
  </div>
</section>
