<style type="text/css">
.in {
    border-top: 3px solid rgb(231, 231, 231);
}
</style>
<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>
<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
    <h2 class="section-title">Painel de controle <span>/ Análise de dados</span></h2>
    <aside ng-drop="true" class="col-xs-12 col-md-4 no-padding list-tips">
        <legend class="legend-subtitle other">Variáveis</legend>
        <!-- Sintomas -->
        <ul id="variaveis" ng-sortable="opts">
            <li id="symptoms" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <button ng-click="symptoms = !symptoms" class="btn-var " ng-class="{ 'active' : symptoms }" data-toggle="collapse" data-target="#sintomas-content"> Sintomas</button>
                <div id="sintomas-content" class="collapse panel-collapse">
                    <div class="collapse-content imageBased">
                        <fieldset ng-repeat="symptom in symptomsList">
                            <input type="checkbox" name="symptoms-list" ng-click="selecionarAnalytics('symptoms',symptom.code)" value="Y" id="symptom-{{symptom.id}}" class="checkbox-primary">
                            <label for="symptom-{{symptom.id}}">{{symptom.name}}</label>
                        </fieldset>
                    </div>
                </div>
            </li>
            <li id="syndromes" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <button ng-click="syndromes = !syndromes" class="btn-var" data-toggle="collapse" ng-class="{ 'active' : syndromes }" data-target="#sindromes-content">Síndromes</button>
                <div id="sindromes-content" class="collapse panel-collapse">
                    <div class="collapse-content imageBased">
                        <fieldset>
                            <input type="checkbox" name="sindromes" ng-click="selecionarAnalytics('syndromes','DIARREICA')" value="true" id="diarreica" class="checkbox-primary">
                            <label for="diarreica">Diarreica</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="sindromes" ng-click="selecionarAnalytics('syndromes','EXANTEMATICA')" value="true" id="exantematica" class="checkbox-primary">
                            <label for="exantematica">Exantemática</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="sindromes" ng-click="selecionarAnalytics('syndromes','RESPIRATORIA')" value="true" id="respiratoria" class="checkbox-primary">
                            <label for="respiratoria">Respiratória</label>
                        </fieldset>
                    </div>
                </div>
            </li>
            <li id="age" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <button ng-click="age = !age" class="btn-var" ng-class="{ 'active' : age }" data-toggle="collapse" data-target="#idade-content">Idade</button>
                <div id="idade-content" class="collapse panel-collapse">
                    <div class="collapse-content imageBased">
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','13_19')" value="13_19" id="faixa-1" class="checkbox-primary">
                            <label for="faixa-1">13 a 19 anos</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','20_29')" value="20_29" id="faixa-2" class="checkbox-primary">
                            <label for="faixa-2">20 a 29 anos</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','30_39')" value="25_59" id="faixa-3" class="checkbox-primary">
                            <label for="faixa-3">30 a 39 anos</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','40_49')" value="40_49" id="faixa-4" class="checkbox-primary">
                            <label for="faixa-4">40 a 49 anos</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','50_59')" value="50_59" id="faixa-6" class="checkbox-primary">
                            <label for="faixa-6">50 a 59 anos</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','60_69')" value="60_69" id="faixa-7" class="checkbox-primary">
                            <label for="faixa-7">60 a 69 anos</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','70_79')" value="70_79" id="faixa-8" class="checkbox-primary">
                            <label for="faixa-8">70 a 79 anos</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="idade" ng-click="selecionarAnalytics('age','80')" value="80" id="faixa-9" class="checkbox-primary">
                            <label for="faixa-9">> 80 anos</label>
                        </fieldset>
                    </div>
                </div>
            </li>
            <li id="gender" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <!-- Gender -->
                <button ng-click="gender = !gender" class="btn-var" ng-class="{ 'active' : gender }" data-toggle="collapse" data-target="#sexo-content">Sexo</button>
                <div id="sexo-content" class="collapse panel-collapse">
                    <div class="collapse-content imageBased">
                        <fieldset>
                            <input type="checkbox" name="gender" ng-click="selecionarAnalytics('gender','M')" value="M" id="masculino" class="checkbox-primary">
                            <label for="masculino">Masculino</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="gender" ng-click="selecionarAnalytics('gender','F')" value="F" id="feminino" class="checkbox-primary">
                            <label for="feminino">Feminino</label>
                        </fieldset>
                    </div>
                </div>
            </li>
            <li id="race" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <!-- Race -->
                <button ng-click="race = !race" class="btn-var" ng-class="{ 'active' : race }" data-toggle="collapse" data-target="#raca-content">Raça/Cor</button>
                <div id="raca-content" class="collapse panel-collapse">
                    <div class="collapse-content imageBased">
                        <fieldset>
                            <input type="checkbox" name="race" ng-click="selecionarAnalytics('race','branco')" value="true" id="race-branco" class="checkbox-primary">
                            <label for="race-branco">Branco</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="race" ng-click="selecionarAnalytics('race','preto')" value="true" id="race-preto" class="checkbox-primary">
                            <label for="race-preto">Preto</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="race" ng-click="selecionarAnalytics('race','pardo')" value="true" id="race-pardo" class="checkbox-primary">
                            <label for="race-pardo">Pardo</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="race" ng-click="selecionarAnalytics('race','amarelo')" value="true" id="race-amarelo" class="checkbox-primary">
                            <label for="race-amarelo">Amarelo</label>
                        </fieldset>
                        <fieldset>
                            <input type="checkbox" name="race" ng-click="selecionarAnalytics('race','indigena')" value="true" id="race-indigena" class="checkbox-primary">
                            <label for="race-indigena">Indígena</label>
                        </fieldset>
                    </div>
                </div>
            </li>
            <li id="weeks" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <button ng-click="epi_week = !epi_week" class="btn-var" ng-class="{ 'active' : epi_week }" data-toggle="collapse" data-target="#semanas-content">Semanas Epidemiológicas</button>
                <div id="semanas-content" class="collapse panel-collapse">
                    <div class="collapse-content">
                        <rzslider rz-slider-model="semanaepidemiologica.minValue" rz-slider-high="semanaepidemiologica.maxValue" rz-slider-options="semanaepidemiologica.options" style="font-size: 1.75em;width:100%"></rzslider>
                    </div>
                </div>
            </li>
            <li id="monthyear" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <button ng-click="period = !period" class="btn-var" ng-class="{ 'active' : period }" data-toggle="collapse" data-target="#mesano-content">Mês/Ano</button>
                <div id="mesano-content" class="collapse panel-collapse">
                    <div class="collapse-content imageBased">
                        <div class="row" style="font-size: 2em; padding-left: 20px; padding-right: 10px;">
                            <div style="float: left; width: 50%;">
                                <p style="font-size: 1.3em;">Mês</p>
                                <select style="height: 34px; border-radius: 3px; border: 1px solid rgb(151, 151, 151); width: 80%;">
                                    <option value="Selecione">Selecione</option>
                                    <option ng-repeat="m in meses" value="{{m}}">{{m}}</option>
                                </select>
                            </div>
                            <div style="float: left; width: 50%;">
                                <p style="font-size: 1.3em;">Ano</p>
                                <select style="height: 34px; border-radius: 3px; border: 1px solid rgb(151, 151, 151); width: 80%;">
                                    <option value="Selecione">Selecione</option>
                                    <option ng-repeat="m in anos" value="{{m}}">{{m}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li id="local" ondragstart="angular.element(this).scope().drag(event)">
                <span class="drag-handle drag-btn">☰</span>
                <!-- Local -->
                <button ng-click="local = !local" class="btn-var" ng-class="{ 'active' : local }" data-toggle="collapse" data-target="#local-content">Local</button>
                <div id="local-content" class="collapse panel-collapse">
                    <div class="collapse-content imageBased">
                        <fieldset>
                            <label for="">Adicionar regiões e estados</label>
                        </fieldset>
                        <fieldset ng-repeat="l in filterUFS()">
                            <input type="checkbox" name="local" ng-click="selecionarAnalytics('local',l._id)" value="true" id="local-{{l._id}}" class="checkbox-primary">
                            <label for="local-{{l._id}}">{{l._id}}</label>
                        </fieldset>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
    <div class="col-xs-12 col-md-7">
        <legend class="legend-subtitle other">Análise</legend>
        <aside class="col-xs-12 card">
            <h4>Visualização</h4>
            <carousel id="myCarousel" active="slide_active" interval="0" on-carousel-change="ishistogram(nextSlide, direction)" no-wrap="false" style="height: auto!important">
                <slide style="height: auto!important">
                    <img src="../../images/dashboard/icon_pizza.svg" style="margin:auto;">
                    <div class="carousel-caption" style="height: 70px;">
                        <p>Pizza</p>
                    </div>
                    <div class="col-sm-12" style="z-index: 2; text-align: justify; margin-top: 50px; margin-bottom: 40px;">
                        <p style="font-size: 18px;">Variável</p>
                        <div class="div-selecao" ng-repeat="v in params.pizza.variaveis">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'pizza','variaveis')">Remover</button>
                        </div>
                        <ul ng-show="params.pizza.variaveis.length==0" ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'pizza','variaveis')">
                        </ul>
                        <p style="font-size: 18px;clear: both;">Filtro(s)</p>
                        <div class="div-selecao" ng-repeat="v in params.pizza.filtros">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'pizza','filtros')">Remover</button>
                        </div>
                        <ul ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'pizza','filtros')">
                        </ul>
                        <div style="clear: both;height: 30px;"></div>
                        <div style="float: right;">
                            <button class="btn  btn-default btn-font" ng-click="clear('pizza')">Limpar variáveis</button>
                            <button class="btn btn-primary btn-font" ng-click="getGraphic('pizza')">Análisar variáveis</button>
                        </div>
                    </div>
                </slide>
                <slide>
                    <img src="../../images/dashboard/icon_coluna.svg" style="margin:auto;">
                    <div class="carousel-caption" style="height: 70px;">
                        <p>Histograma</p>
                    </div>
                    <div class="col-sm-12" style="z-index: 2; text-align: justify; margin-top: 50px; margin-bottom: 40px;">
                        <p style="font-size: 18px;">Eixo X</p>
                        <div class="div-selecao" ng-repeat="v in params.histograma.eixox">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button nh-show="is_histogram" class="btn-remover" ng-click="remove_params($index,'histograma','eixox')">Remover</button>
                        </div>
                        <ul ng-show="params.histograma.eixox.length==0" ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'histograma','eixox')">
                        </ul>
                        <p style="font-size: 18px;clear: both;">Eixo Y</p>
                        <div class="div-selecao" ng-repeat="v in params.histograma.eixoy">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'histograma','eixoy')">Remover</button>
                        </div>
                        <ul ng-show="params.histograma.eixoy.length==0" ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'histograma','eixoy')">
                        </ul>
                        <p style="font-size: 18px;clear: both;">Filtro(s)</p>
                        <div class="div-selecao" ng-repeat="v in params.histograma.filtros">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'histograma','filtros')">Remover</button>
                        </div>
                        <ul ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'histograma','filtros')">
                        </ul>
                        <div style="clear: both;height: 30px;"></div>
                        <div style="float: right;">
                            <button class="btn  btn-default btn-font" ng-click="clear('histograma')">Limpar variáveis</button>
                            <button class="btn btn-primary btn-font" ng-click="getGraphic('histograma')">Análisar variáveis</button>
                        </div>
                    </div>
                </slide>
                <slide>
                    <img src="../../images/dashboard/icon_histograma.svg" style="margin:auto;">
                    <div class="carousel-caption" style="height: 70px;">
                        <p>Barras</p>
                    </div>
                    <div class="col-sm-12" style="z-index: 2; text-align: justify; margin-top: 50px; margin-bottom: 40px;">
                        <p style="font-size: 18px;">Eixo X</p>
                        <div class="div-selecao" ng-repeat="v in params.barras.eixox">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'barras','eixox')">Remover</button>
                        </div>
                        <ul ng-show="params.barras.eixox.length==0" ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'barras','eixox')">
                        </ul>
                        <p style="font-size: 18px;clear: both;">Eixo Y</p>
                        <div class="div-selecao" ng-repeat="v in params.barras.eixoy">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'barras','eixoy')">Remover</button>
                        </div>
                        <ul ng-show="params.barras.eixoy.length==0" ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'barras','eixoy')">
                        </ul>
                        <p style="font-size: 18px;clear: both;">Filtro(s)</p>
                        <div class="div-selecao" ng-repeat="v in params.barras.filtros">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'barras','filtros')">Remover</button>
                        </div>
                        <ul ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'barras','filtros')">
                        </ul>
                        <div style="clear: both;height: 30px;"></div>
                        <div style="float: right;">
                            <button class="btn  btn-default btn-font" ng-click="clear('barras')">Limpar variáveis</button>
                            <button class="btn btn-primary btn-font" ng-click="getGraphic('barras')">Análisar variáveis</button>
                        </div>
                    </div>
                </slide>
                <slide>
                    <img src="../../images/dashboard/icon_tabela.svg" style="margin:auto;">
                    <div class="carousel-caption" style="height: 70px;">
                        <p>Tabela</p>
                    </div>
                    <div class="col-sm-12" style="z-index: 2; text-align: justify; margin-top: 50px; margin-bottom: 40px;">
                        <p style="font-size: 18px;">Colunas</p>
                        <div class="div-selecao" ng-repeat="v in params.tabela.colunas">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'tabela','colunas')">Remover</button>
                        </div>
                        <ul ng-show="params.tabela.colunas.length==0" ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'tabela','colunas')">
                        </ul>
                        <p style="font-size: 18px;clear: both;">Linhas</p>
                        <div class="div-selecao" ng-repeat="v in params.tabela.linhas">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'tabela','linhas')">Remover</button>
                        </div>
                        <ul ng-show="params.tabela.linhas.length==0" ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'tabela','linhas')">
                        </ul>
                        <p style="font-size: 18px;clear: both;">Filtro(s)</p>
                        <div class="div-selecao" ng-repeat="v in params.tabela.filtros">
                            <div class="btn-selecionado">{{v.label}}</div>
                            <button class="btn-remover" ng-click="remove_params($index,'tabela','filtros')">Remover</button>
                        </div>
                        <ul ng-sortable="opts" class="col-sm-6 drag-area" ondrop="angular.element(this).scope().dropaction(event,'tabela','filtros')">
                        </ul>
                        <div style="clear: both;height: 30px;"></div>
                        <div style="float: right;">
                            <button class="btn  btn-default btn-font" ng-click="clear('tabela')">Limpar variáveis</button>
                            <button class="btn btn-primary btn-font" ng-click="getGraphic('tabela')">Análisar variáveis</button>
                        </div>
                    </div>
                </slide>
            </carousel>
        </aside>
    </div>
    <script type="text/javascript">
    var rangeSlider = function() {
        var slider = $('.range-slider'),
            range = $('.range-slider__range'),
            value = $('.range-slider__value');
        slider.each(function() {
            value.each(function() {
                var value = $(this).prev().attr('value');
                $(this).html(value);
            });
            range.on('input', function() {
                $(this).next(value).html(this.value);
            });
        });
    };
    rangeSlider();
    </script>
</section>
