<div class="wrapper-internal not-logged">
  <div class="container">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 register-box">
        <h2 class="title-primary">Preparado para se tornar um Guardião da Saúde?</h2>

          <h3 class="login-subtitle">Crie uma nova senha para sua conta:</h3>

          <form ng-submit="checkHash()" class="form-recuperar-senha" name="formCheckHash">
            <fieldset class="input-group mainform signup">
              <input class="form-control main-form-input input-primary" id="profile-pass" name="newUserPass" type="password"
              ng-model="screen.user.password" ng-minlength="6">

              <input class="form-control main-form-input input-primary" id="profile-pass-again" name="newUserPassAgain" type="password" ng-model="screen.repeatPassword">
            </fieldset>

            <fieldset class="col-xs-12">
              <div ng-show="screen.repeatPassword != screen.user.password" class="alert alert-info" role="alert">
                <span>As senhas digitadas precisam ser iguais.</span>
              </div>

              <div ng-show="formCheckHash.newUserPass.$error.minlength" class="alert alert-info" role="alert">
                <span>Sua senha precisa ter no mínimo 6 dígitos</span>
              </div>
            </fieldset>

            <fieldset class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-signup">Trocar senha</button>
              </div>
            </fieldset>
          </form>

          <!-- <br> -->

          <!-- <div ng-show="message" class="alert alert-info" role="alert">
            <span>Foi enviada uma mensagem para o email {{forgotPass.email}}, siga as instruções enviadas para recuperar sua senha.</span>
          </div> -->

          <!-- <div ng-show="messageError" class="alert alert-danger" role="alert">
            <span>{{messageError}}</span>
          </div> -->
      </section>
    </div>
  </div>
</div>

<!-- How it works -->
<div ng-include src="'views/partials/how-it-works.html'"></div>

<!-- Toast -->
<div ng-include src="'views/partials/toaster.html'"></div>
