<div class="wrapper-internal wrapper-full-page">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 fale-conosco">
        <aside class="col-xs-12 col-md-5">
          <h2 class="title-primary">{{'00198'|translate}}</h2>

          <div class="col-sm-4 col-md-7 no-padding social-contact">
            <!-- <h5>Ou pelas nossas redes sociais:</h5>
            <a ng-href="https://www.facebook.com/minsaude" target="_blank"
               class="col-xs-12 btn-login facebook">Facebook</a>
            <a ng-href="https://twitter.com/minsaude" target="_blank" class="col-xs-12 btn-login twitter">Twitter</a> -->
          </div>
        </aside>

        <aside class="col-xs-12 col-md-7 no-padding">
          <form ng-submit="sendContact()" class="card-form contact-form" name="formContact" novalidate>
            <fieldset class="col-xs-12">
              <label for="contact-email">{{'00177'|translate}}</label>
              <input class="input-primary" id="contact-email" name="contactEmail" type="email" ng-model="contact.email"
                     required>
            </fieldset>

            <fieldset class="col-xs-12">
              <label for="contact-subject">{{'00045'|translate}}</label>

              <select class="select-primary" name="contactSubject" id="contactSubject" ng-model="contact.subject"
                      required>
                <option ng-selected="true" disabled>{{'00207'|translate}}</option>
                <option value="informacoes">{{"00678"|translate}}</option>
                <option value="sugestoes">{{"00679"|translate}}</option>
                <option value="reclamacoes">{{"00680"|translate}}</option>
                <option value="elogios">{{"00681"|translate}}</option>
                <option value="solicitacoes">{{"00682"|translate}}</option>
                <option value="outros">{{'00437'|translate}}</option>
              </select>
            </fieldset>

            <fieldset class="col-xs-12">
              <label for="contact-msg">{{'00370'|translate}}</label>
              <textarea class="input-primary" id="contact-msg" name="contactMsg" ng-model="contact.message"
                        required></textarea>
            </fieldset>

            <fieldset class="col-xs-12">
              <button type="submit" class="btn btn-block btn-primary"
                      ng-disabled="formContact.contactEmail.$dirty && formContact.contactEmail.$invalid  || formContact.contactSubject.$dirty && formContact.contactSubject.$invalid || formContact.contactMsg.$dirty && formContact.contactMsg.$invalid">
                Enviar
              </button>
            </fieldset>
          </form>
        </aside>

        <!-- validation -->
        <aside class="col-xs-12 col-md-7 col-md-offset-1">
          <div ng-show="formContact.contactEmail.$dirty && formContact.contactEmail.$invalid"
               class="alert alert-warning" role="alert">
             <span ng-show="formRecuperarSenha.email.$error.required">{{'00178'|translate}}</span>
          <span ng-show="formRecuperarSenha.email.$error.email">{{'00181'|translate}}</span>
          </div>

          <div ng-show="formContact.contactSubject.$dirty && formContact.contactSubject.$invalid"
               class="alert alert-warning" role="alert">
            <span ng-show="formContact.contactSubject.$error.required">O campo <b>assunto</b> é obrigatório.</span>
          </div>

          <div ng-show="formContact.contactMsg.$dirty && formContact.contactMsg.$invalid" class="alert alert-warning"
               role="alert">
            <span ng-show="formContact.contactMsg.$error.required">O campo <b>mensagem</b> é obrigatório.</span>
          </div>
        </aside>
      </section>
    </div>
  </div>
</div>

<!-- How it works -->
<div ng-include src="'views/partials/footer-not-logged.html'"></div>

<!-- Modal KC -->
<div ng-include src="'views/partials/modal-kc.html'"></div>
