<aside class="col-sm-5 col-md-3 map-mini-dashboard">
  <form ng-submit="getMarkersByCity()" class="form-mini-dashboard" name="form-mini-dashboard">
    <fieldset>
      <input class="input-primary" placeholder="Pesquise pela sua cidade" name="search-location" type="text"
        ng-model="surveyByCity.city"
        autocomplete="off"
        uib-typeahead="address for address in getLocation($viewValue)"
        typeahead-loading="loadingLocations"
        typeahead-no-results="noResults"
        typeahead-on-select="getCityAutoComplete($item)"
        onfocus="this.placeholder=''" onblur="this.placeholder='Pesquise pela sua cidade'">
    </fieldset>
  </form>

  <div class="info-mini-dashboard">
    <div class="week-participation">
      <span class="icon"></span>

      <div>
        <h4 class="value">{{summary.total_surveys}}</h4>
        <h5>Participações essa semana</h5>
      </div>
    </div>

    <div class="geral">
      <legend class="legend-subtitle ff-bold">Geral</legend>

      <!-- <div>
        <donutchart id="donut-chart-map" data-options="donutOptions"></donutchart>
      </div> -->

      <div class="metrics col-sm-6">
        <img class="icon-medium icon-shadow" src="../images/icon-health-daily-good.svg" alt="Good">
        <span class="total-percentage">{{summary.pct_no_symptoms}}% <span class="light">Bem</span></span>
        <span class="total-users">{{summary.total_no_symptoms}} Participantes</span>
      </div>

      <div class="metrics col-sm-6">
        <img class="icon-medium icon-shadow" src="../images/icon-health-daily-bad.svg" alt="Bad">
        <span class="total-percentage">{{summary.pct_symptoms}}% <span class="light">Mal<span></span>
        <span class="total-users">{{summary.total_symptoms}} Participantes</span>
      </div>
    </div>

    <div class="sindromes">
      <legend class="legend-subtitle ff-bold">Síndromes <span data-toggle="modal" data-target="#sindrome-modal"
                                                              class="icon question"></span></legend>

      <div class="progress-wrapper">
        <span class="progress-label">Diarréica</span>
        <span class="progress-value">{{summary.diarreica}}%</span>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
               aria-valuenow="{{summary.diarreica}}" aria-valuemin="0" aria-valuemax="100"
               style="width: {{summary.diarreica}}%">
            <span class="sr-only">{{summary.diarreica}}% Complete</span>
          </div>
        </div>
      </div>

      <div class="progress-wrapper">
        <span class="progress-label">Exantemática</span>
        <span class="progress-value">{{summary.exantematica}}%</span>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
               aria-valuenow="{{summary.exantematica}}" aria-valuemin="0" aria-valuemax="100"
               style="width: {{summary.exantematica}}%">
            <span class="sr-only">{{summary.exantematica}}% Complete</span>
          </div>
        </div>
      </div>

      <div class="progress-wrapper">
        <span class="progress-label">Respiratória</span>
        <span class="progress-value">{{summary.respiratoria}}%</span>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
               aria-valuenow="{{summary.respiratoria}}" aria-valuemin="0" aria-valuemax="100"
               style="width: {{summary.respiratoria}}%">
            <span class="sr-only">{{summary.respiratoria}}% Complete</span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      Quer maiores detalhes dos dados?
      <a href="/fale-conosco" title=""> Entre em contato conosco</a>
      e solicite gratuitamente.
    </div>
  </div>
</aside>

<div class="health-map-container" center="current-location" map-lazy-load="https://maps.google.com/maps/api/js"
     map-lazy-load-params="{{mapOptions}}">
<!---->
  <ng-map default-style="false"  zoom="12" style="height:100%" scrollwheel="false"
          styles="{{config.style}}">
    <marker ng-repeat="m in markers" id="{{m.id}}" icon="{{m.icon}}" position="{{m.position}}" zIndex="0"></marker>
<!--
    <marker position="{{userLocation.coords}}" animation="DROP" on-click="markerAnimation()"
            icon="{{userLocation.icon}}" zIndex="99999" ></marker>
-->


<!--
    <info-window position="{{userLocation.coords}}">
      <span>Você está aqui!</span>
    </info-window>
-->


  </ng-map>
</div>

<!-- Síndromes Modal -->
<div class="modal fade modal-sindromes" id="sindrome-modal" tabindex="-1" role="dialog">
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title panel-title">Síndromes</h3>
      </header>

      <div class="modal-body">
        <div class="panel-body">
          <p class="text-primary">
            As síndromes são conjuntos de manifestações clínicas comuns a um número de doenças, entre elas:
          </p>

          <ul>
            <li>Diarreica <span>(febre e náusea ou vômito, além de algum destes sintomas: dores no corpo ou dor de cabeça)</span>
            </li>
            <li>Respiratória <span>(febre, além de algum destes sintomas: tosse ou dor de garganta ou falta de ar ou manchas vermelhas no corpo)</span>
            </li>
            <li>Exantemática <span>(manchas vermelhas no corpo, além de algum destes sintomas: febre ou dores no corpo ou dores nas juntas ou dor de cabeça ou coceira ou olhos vermelhos ou sangramento)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
