<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Diário da Saúde <span>/ Aninha</span></h2>

  <article class="col-xs-12 card">
    <aside class="health-daily-avatar">
      <figure>
        <img src="../images/avatar/avatar-1.svg" alt="Aninha - 28 anos">
        <figcaption>Aninha <span>28 anos</span></figcaption>
      </figure>
    </aside>
    
    <aside class="total-participants">
      <div class="total">
        <h2>Total de participações</h2>
        <h1><span>162</span> Participações</h1>
      </div>
      
      <div class="dropdown sort-by">
        <button class="btn btn-default dropdown-toggle" type="button" id="sort-by-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Este ano
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="sort-by-year">
          <li><a href="#">2014</a></li>
          <li><a href="#">2013</a></li>
          <li><a href="#">2012</a></li>
          <li><a href="#">2011</a></li>
        </ul>
      </div>

      <div class="geral">
        <h2>Geral</h2>
        <h3>Estatísticas das participações</h3>
        <donutchart id="donut-chart-diario" data-options="donutOptions"></donutchart>
      </div>

      <div class="status">
        <ul>
          <li>
            <figure>
              <img src="../images/icon-health-daily-good.svg" alt="Bem">
              <figcaption>
                <span>{{donutOptions.data[0].value}}%</span> {{donutOptions.data[0].label}}
                <p>{{donutOptions.data[0].participants}} Participações</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <img src="../images/icon-health-daily-bad.svg" alt="Mal">
              <figcaption>
                <span>{{donutOptions.data[1].value}}%</span> {{donutOptions.data[1].label}}
                <p>{{donutOptions.data[1].participants}}  Participações</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>

    </aside>
  </article>

  <article class="col-xs-12 col-md-4 card half">
    <div class="calendar-wrapper">
     <h2>Calendário</h2>
     <h3>Histórico de participações</h3>
     <calendar class="calendar-directive" selected="day"></calendar>
   </div>
  </article>

  <article class="col-xs-12 col-md-7 card frequency">
    <h2>Frequência</h2>
    <div class="dropdown sort-by">
      <button class="btn btn-default dropdown-toggle" type="button" id="sort-by-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        2015
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="sort-by-year">
        <li><a href="#">2014</a></li>
        <li><a href="#">2013</a></li>
        <li><a href="#">2012</a></li>
        <li><a href="#">2011</a></li>
      </ul>
    </div>
    <h3>Relação de participação por mês</h3>
    <linechart id="line-chart-diario" data-options="lineOptions"></linechart>
  </article>

</section>
