<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Diário da Saúde <span>/ Aninha</span></h2>

  <article class="col-xs-12 card">
    <areachart id="area-chart" data-options="areaOptions"></areachart>
  </article>

  <article class="col-xs-12 col-md-4 card half">
    <div class="calendar-wrapper">
     <h2>Calendário</h2>
     <h3>Histórico de participações</h3>
     <calendar class="calendar-directive" selected="day"></calendar>
   </div>
  </article>

  <article class="col-xs-12 col-md-7 card">
    <h2>Frequência</h2>
    <h3>Relação de participação por mês</h3>
    <barchart id="bar-chart" data-options="barOptions"></barchart>    
    <!-- <donutchart id="donut-chart" data-options="donutOptions"></donutchart> -->
    <!-- <linechart id="line-chart" data-options="lineOptions"></linechart> -->
    <!-- <areachart id="area-chart" data-options="areaOptions"></areachart> -->



  </article>

</section>
