<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">

  <h2 class="section-title">Diário da Saúde <span>/ {{household.nick}}</span></h2>

  <article class="col-xs-12 col-md-12 card">
    <aside class="col-md-4 health-daily-avatar">
      <figure>
        <img ng-src="images/avatar/avatar-{{household.picture}}.svg" alt="Avatar de {{ household.nick }}">
        <figcaption>{{ household.nick }} <span>{{ household.dob | ageFilter }} anos</span></figcaption>
      </figure>
    </aside>

    <aside class="col-md-7 total-participants">
      <div class="total">
        <h2>Total de participações</h2>
        <h1>
          <span>{{ householdSurveys.total }}</span>
          <span class="spelling">{{ totalSpelling }}</span>
        </h1>
      </div>

      <div class="dropdown sort-by">
        <ul class="dropdown-menu" aria-labelledby="sort-by-year">
          <li><a href="#">2014</a></li>
          <li><a href="#">2013</a></li>
          <li><a href="#">2012</a></li>
          <li><a href="#">2011</a></li>
        </ul>
      </div>

      <div class="geral">
        <h2>Geral</h2>
        <h3>Estatísticas das participações</h3>
        <div ng-if="donutOptions">
          <donutchart id="donut-chart-diario" data-options="donutOptions"></donutchart> <!--donutOptions -->
        </div>

        <div class="status">
          <ul>
            <li>
              <figure>
                <img src="../images/icon-health-daily-good.svg" alt="Bem">
                <figcaption>
                  <span>{{ householdSurveys.pct_no_symptoms }}%</span> Bem
                  <p>{{ householdSurveys.no_symptom }} <span class="spelling">{{ goodSpelling }}</span></p>
                </figcaption>
              </figure>
            </li>

            <li>
              <figure>
                <img src="../images/icon-health-daily-bad.svg" alt="Mal">
                <figcaption>
                  <span>{{ householdSurveys.pct_symptoms }}%</span> Mal
                  <p>{{ householdSurveys.symptom }}  <span class="spelling">{{ badSpelling }}</span></p>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>

    </aside>
  </article>

  <article class="col-xs-12 col-md-4 card"> <!--half-->
    <div class="calendar-wrapper">
     <h2>Calendário</h2>
     <h3>Histórico de participações</h3>
      <calendar class="calendar-directive"
                ng-hide="!calendarLoaded"
                interface="vm.CalendarInterface"
                selected="vm.currentDay"></calendar>
   </div>
  </article>

  <article class="col-xs-12 col-md-7 col-md-offset-1 card frequency">
    <h2>Frequência</h2>
    <h3>Relação de participação por mês</h3>

    <div class="dropdown sort-by">
      <button class="btn btn-default dropdown-toggle" type="button" id="sort-by-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Mês
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="sort-by-year">
        <li ng-repeat="m in monthReports">
          <a ng-href="" ng-click="getMonth(m._id.month); $scope.monthValue = '{{m._id.month | getMonth}}'">{{m._id.month | getMonth}}</a>
        </li>
      </ul>
    </div>

    <div ng-if="lineOptions">
      <linechart id="line-chart-diario" data-options="lineOptions"></linechart>
    </div>
    <div ng-if="!lineOptions" >
        <div id="notDataLinechart"><div>Não há dados para suficientes. Participe agora!</div></div>    
    </div>

  </article>
</section>

<!-- Toaster -->
<div ng-include src="'views/partials/toaster.html'"></div>
