<aside class="col-sm-5 col-md-3 map-mini-dashboard">
  <form ng-submit="getSurveyByCity()" class="form-mini-dashboard" name="form-mini-dashboard">
    <fieldset>
      <input class="input-primary" placeholder="Pesquise pela sua cidade" name="search-location" type="text" ng-model="surveyByCity.city">
    </fieldset>
  </form>

  <div class="info-mini-dashboard">
    <div class="week-participation">
      <span class="icon"></span>

      <div>
        <h4 class="value">{{surveyByCitySummary.total_surveys}}</h4>
        <h5>Participações essa semana</h5>
      </div>
    </div>

    <div class="geral">
      <legend class="legend-subtitle">Geral</legend>

      <div class="metrics col-sm-6">
        <img class="icon-medium icon-shadow" src="../images/icon-health-daily-good.svg" alt="Good">
        <span class="total-percentage">{{surveyByCitySummary.pct_no_symptoms}}% <span class="light">Bem</span></span>
        <span class="total-users">{{surveyByCitySummary.total_no_symptoms}} Participantes</span>
      </div>

      <div class="metrics col-sm-6">
        <img class="icon-medium icon-shadow" src="../images/icon-health-daily-bad.svg" alt="Bad">
        <span class="total-percentage">{{surveyByCitySummary.pct_symptoms}}% <span class="light">Mal<span></span>
        <span class="total-users">{{surveyByCitySummary.total_symptoms}} Participantes</span>
      </div>

      <!-- <span class="graphic big"></span>
      <span class="graphic good"></span>
      <span class="graphic bad"></span> -->
    </div>

    <div class="sindromes">
      <legend class="legend-subtitle">Síndromes <span data-toggle="modal" data-target="#sindrome-modal" class="icon question"></span></legend>

      <div class="progress-wrapper">
        <span class="progress-label">Diarréica</span>
        <span class="progress-value">{{surveyByCitySummary.diseases.diarreica}}%</span>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="{{surveyByCitySummary.diseases.diarreica}}" aria-valuemin="0" aria-valuemax="100" style="width: {{surveyByCitySummary.diseases.diarreica}}%">
            <span class="sr-only">{{surveyByCitySummary.diseases.diarreica}}% Complete</span>
          </div>
        </div>
      </div>

      <div class="progress-wrapper">
        <span class="progress-label">Exantemáica</span>
        <span class="progress-value">{{surveyByCitySummary.diseases.exantematica}}%</span>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="{{surveyByCitySummary.diseases.exantematica}}" aria-valuemin="0" aria-valuemax="100" style="width: {{surveyByCitySummary.diseases.exantematica}}%">
            <span class="sr-only">{{surveyByCitySummary.diseases.exantematica}}% Complete</span>
          </div>
        </div>
      </div>

      <div class="progress-wrapper">
        <span class="progress-label">Respiratória</span>
        <span class="progress-value">{{surveyByCitySummary.diseases.respiratoria}}%</span>

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="{{surveyByCitySummary.diseases.respiratoria}}" aria-valuemin="0" aria-valuemax="100" style="width: {{surveyByCitySummary.diseases.respiratoria}}%">
            <span class="sr-only">{{surveyByCitySummary.diseases.respiratoria}}% Complete</span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      Quer maiores detalhes dos dados?
      <a href="/fale-conosco" title=""> Entre em contato conosco</a>
      e solicite gratuitamente.
    </div>
  </div>
</aside>

<div class="health-map-container">
  <leaflet lf-center="userLocation" markers="markers" layers="layers" height="100%" width="100%"></leaflet>
</div>

<!-- Síndromes Modal -->
<div class="modal fade modal-sindromes" id="sindrome-modal" tabindex="-1" role="dialog" >
  <article class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title panel-title">Síndromes</h3>
      </header>

      <div class="modal-body">
        <div class="panel-body">
          <p class="text-primary">
            As síndromes são conjuntos de manifestações clínicas comuns a um número de doenças, entre elas:
          </p>

          <ul>
            <li>Diarreica <span>(febre, diarreia, náusea ou vômito)</span></li>
            <li>Respiratória <span>(febre, tosse e dor de garganta)</span></li>
            <li>Exantemática <span>(febre, exantema, tosse, dor nas articulações e dor de cabeça)</span></li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>

<!-- Toaster -->
<div ng-include src="'views/partials/toaster.html'"></div>
