<div class="wrapper-internal wrapper-full-page survey-content">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 ">
        <h2 class="title-primary">Como está sua saúde neste momento?</h2>

        <form name="how-are-you-feeling-form">
          <button class="btn-hayf good" ng-click="iFeelGood()">Bem</button>
          <button class="btn-hayf bad" ng-click="iFeelBad()">Mal</button>
        </form>
      </section>
    </div>
  </div>
</div>
