<div class="wrapper-internal not-logged">
  <div class="container">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 register-box">
        <h2 class="title-primary">Preparado para se tornar um Guardião da Saúde?</h2>

          <h3 class="login-subtitle">Entre com seu email e senha:</h3>

          <form class="form-login-email" name="form-login-email">
            <fieldset class="input-group mainform signup">
              <input type="email" class="form-control mainform-input" placeholder="Email">
              <input type="password" class="form-control mainform-input" placeholder="Senha">
            </fieldset>

            <fieldset class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-signup">Entrar</button>
              </div>
            </fieldset>
          </form>

          <p class="login-email"><a ng-href="esqueceu-senha">esqueceu sua senha?</a></p>
      </section>
    </div>
  </div>
</div>

<!-- How it works -->
<div ng-include src="'views/partials/how-it-works.html'"></div>
