<div class="wrapper-internal wrapper-full-page">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 privacy-policy">
        <aside class="col-md-3 col-md-offset-1">
          <h2 class="title-primary">Política de Privacidade e Termos de Uso</h2>
        </aside>

        <aside class="col-md-6 col-md-offset-1">
          <p class="text-primary">Por favor, leia estes termos legais de uso antes de utilizar o GUARDIÕES DA SAÚDE, fazer qualquer colaboração, acessar ou baixar qualquer informação desta aplicação.</p>

          <p class="text-primary">Ao acessar ou utilizar o GUARDIÕES DA SAÚDE, você aceita e concorda em cumprir os termos e condições estabelecidos neste “Termos Legais de Uso”.</p>

          <p class="text-primary">Este termo é um acordo vinculativo entre você e o GUARDIÕES DA SAÚDE, que abrange todo o seu acesso e uso dessa aplicação, o que inclui o uso de todas as informações, dados, ferramentas, produtos, serviços e outros conteúdos disponíveis por meio deste.</p>

          <p class="text-primary">Ao utilizar esta aplicação, você confirma que compreende e concorda com as seguintes regras dispostas:</p>

          <h3 class="section-subtitle">1. Respeito as Leis:</h3>

          <p class="text-primary">O utilizador deverá acessar o GUARDIÕES DA SAÚDE apenas para finalidades lícitas;</p>

          <p class="text-primary">O utilizador concorda em utilizar a aplicação apenas para os devidos fins e em conformidade com o presente termo e limitações legais, bem como quaisquer políticas aplicáveis no Brasil;</p>

          <p class="text-primary">Seu acesso é proibido em territórios onde o conteúdo seja considerado ilegal. Aqueles que optarem por acessar este site a partir de outras localidades, o farão por iniciativa própria e serão responsáveis pelo cumprimento das leis locais aplicáveis. Os materiais não deverão ser usados ou exportados em descumprimento das leis brasileiras. Qualquer pendência com relação aos materiais será dirimida pelas leis brasileiras.</p>

          <p class="text-primary">A alteração não autorizada do conteúdo deste site é expressamente proibida.</p>

          <h3 class="section-subtitle">2. Limites de Uso:</h3>

          <p class="text-primary">A utilização do aplicativo está indicada somente para indivíduos de 13 (treze) anos de idade ou mais.</p>

          <h3 class="section-subtitle">3. Responsabilidade pelo Conteúdo:</h3>

          <p class="text-primary">O GUARDIÕES DA SAÚDE não é responsável pelo conteúdo de quaisquer informações eventualmente trocadas pelos utilizadores entre si, ou para o GUARDIÕES DA SAÚDE, sejam elas lícitas ou ilícitas.</p>

          <p class="text-primary">O utilizador concorda que é o único responsável pela sua própria conduta e pela veracidade das informações fornecidas enquanto utilizar o serviço e que é responsável pelas consequências que resultem do fornecimento intencional de dados incorretos.</p>

          <p class="text-primary">O utilizador concorda que, ao usar o GUARDIÕES DA SAÚDE, não irá publicar, enviar, distribuir ou divulgar conteúdo ou informação de caráter difamatório, obsceno ou ilícito, inclusive informações de propriedade exclusiva pertencentes a outras pessoas ou empresas, bem como marcas registradas ou informações protegidas por direitos autorais, sem a expressa autorização do detentor desses direitos;</p>

          <p class="text-primary">Ninguém pode agir em seu nome no uso do GUARDIÕES DA SAÚDE. Você é responsável pelo conteúdo que indivíduos não autorizados produzirem ao usar essa aplicação utilizando, com sua permissão, seu perfil cadastrado. Essa regra não se aplica aos casos de violação ou outros problemas de segurança da aplicação.</p>

          <h3 class="section-subtitle">4. Acessibilidade ao Conteúdo:</h3>

          <p class="text-primary">A equipe do GUARDIÕES DA SAÚDE não garante que esta aplicação esteja parcial ou completamente funcional para uso fora do território nacional. Se você optar por acessar o Webapp e a aplicação de outras localidades, você o fará por sua própria iniciativa e em seu próprio risco. Você é responsável pelo cumprimento das leis locais e, na medida em que leis locais sejam aplicáveis, você concorda especificamente em cumprir todas as leis aplicáveis ​​relativas à transmissão de dados técnicos exportados a partir desse local.</p>

          <h3 class="section-subtitle">5. Propriedade Intelectual:</h3>

          <p class="text-primary">A equipe do GUARDIÕES DA SAÚDE e seus colaboradores são detentores do direito de autoria dos conteúdos produzidos e apresentados nessa aplicação. Essa premissa não se aplica as informações consideradas como de Domínio Público ou de Utilidade Pública. Todas as outras marcas comerciais, marcas de serviço, nomes e logotipos que aparecem nessa aplicação são de propriedade de seus respectivos proprietários.</p>

          <p class="text-primary">O aplicativo GUARDIÕES DA SAÚDE é um software open source cuja utilização por terceiros se submete aos termos da licença internacional http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPL-3.0). Os direitos de uso do conteúdo e dos relatórios gerados pelo Webapp e pela aplicação são cedidos pelos desenvolvedores, em especial aqueles que decorrem dos termos da licença http://creativecommons.org/licenses/by-nc/4.0/ Creative Commons - Atribuição-Não Comercial 4.0 Internacional http://creativecommons.org.br/as-licencas/attachment/by-nc/.</p>

          <p class="text-primary">Apenas informações divulgadas pelos serviços de saúde devem ser consideradas oficiais para divulgação pública, no que tange aos dados relacionados a esse tema. Nenhuma informação proveniente do GUARDIÕES DA SAÚDE, apesar do empenho da equipe em garantir a qualidade, atualidade e autenticidade das informações, deverá ser considerada oficial para divulgação pública. Os dados coletados por meio do GUARDIÕES DA SAÚDE são provenientes de um público alvo específico que pode sofrer influência pela sua capacidade de acesso à dispositivos móveis ou computadores com especificações tecnológicas mínimas.</p>

          <p class="text-primary">Assim, as informações geradas a partir dessa estratégia, podem necessariamente não corresponder a expressão real do padrão epidemiológico daquele período e local. As informações lúdicas ou de utilidade pública poderão apresentar eventuais incorreções ou falhas de atualização, sendo recomendada sua validação pelos utilizadores em casos de urgência e emergência ou de qualquer outra situação de ameaça a vossa saúde ou integridade.</p>

          <h3 class="section-subtitle">6. Leis, Regulamentos, Direitos e Deveres:</h3>

          <p class="text-primary">É política da equipe do GUARDIÕES DA SAÚDE cumprir todas as leis e regulamentos aplicáveis, os quais podem ser modificados de tempos em tempos. No caso de qualquer disposição do presente Termos de Uso estar em conflito com qualquer lei ou regulamento aplicável, a lei ou regulamentação aplicável substituirá a disposição contrária.</p>

          <p class="text-primary">Este Termos de Uso e o uso do GUARDIÕES DA SAÚDE são e serão regidos e interpretados de acordo com as leis internas do Brasil, sem levar em conta as suas regras de conflitos de leis. Em caso de qualquer conflito entre as leis, regras e regulamentos estrangeiros e as do Brasil, as leis, regras e regulamentos do Brasil deverão prevalecer.</p>

          <p class="text-primary">O GUARDIÕES DA SAÚDE poderá, mas não é obrigado, a monitorar, revisar e restringir o acesso a qualquer de suas áreas onde os utilizadores transmitem informações, podendo retirar do ar ou retirar o acesso a qualquer destas informações ou comunicações. Se você tiver alguma dúvida em relação ao GUARDIÕES DA SAÚDE, não hesite em contatar-nos pelo e-mail: contato@guardioesdasaude.org</p>

          <h3 class="section-subtitle">7. Uso das Contribuições:</h3>

          <p class="text-primary">Ao enviar uma contribuição escrita ou postar informações no GUARDIÕES DA SAÚDE, você concede uma licença perpétua, isenta de royalties, licença incondicional para essa aplicação e qualquer organização sucessora, a publicar a sua contribuição no GUARDIÕES DA SAÚDE, bem como divulgá-las, de forma agregada (nunca individual) à outros meios de comunicação, e para discutir ou referenciá-la em quaisquer publicações decorrentes do GUARDIÕES DA SAÚDE.</p>

          <p class="text-primary">Você também concorda que o GUARDIÕES DA SAÚDE tem o direito, mas não a obrigação, de editar ou remover qualquer contribuição, ou incluí-la no texto em conjunto com outras contribuições, a critério exclusivo da equipe relacionada a essa aplicação.</p>

          <h3 class="section-subtitle">8. Garantia de Sigilo e Anonimato:</h3>

          <p class="text-primary">Será garantido o sigilo e anonimato de todas as informações produzidas por você no GUARDIÕES DA SAÚDE, exceto conforme exigido por lei, ou para tratar de questões de descumprimento.</p>

          <p class="text-primary">Reservamo-nos o direito de usar esta informação internamente e, nesse âmbito, sua contribuição estará vinculada ao apelido de sua escolha.</p>

          <p class="text-primary">O GUARDIÕES DA SAÚDE, seus colaboradores e usuários, incluindo agências governamentais e não-governamentais, dependem dos utilizadores para a precisão das contribuições. A equipe não se responsabiliza por erros ou imprecisões em qualquer submissão. Deturpação deliberada de informações por um usuário pode constituir uma violação da lei, e se for séria, será comunicada às autoridades governamentais apropriadas.</p>

          <h3 class="section-subtitle">9. Atualização do GUARDIÕES DA SAÚDE:</h3>

          <p class="text-primary">Modificações dessa aplicação e dos seus Termos de Uso poderão ocorrer. A menos que indique o contrário, seu uso do Webapp e da aplicação indica a aceitação integral dos Termos de Uso naquela versão vigente cada vez que você usar o GUARDIÕES DA SAÚDE. Fique atento as atualizações e, em caso de dúvida, os Termos de Uso estarão sempre disponíveis para acesso e concordância ou não.</p>

          <h3 class="section-subtitle">10. Responsabilidade por Ações com base no Conteúdo:</h3>

          <p class="text-primary">O GUARDIÕES DA SAÚDE não assume responsabilidade por quaisquer prejuízos e/ou danos a pessoas ou bens, em consequência de qualquer utilização das ideias, conteúdos, instruções, métodos, produtos ou procedimentos contidos nessa aplicação.</p>

          <p class="text-primary">Em hipótese alguma os profissionais envolvidos com o desenvolvimento ou gestão dessa aplicação serão responsabilizados por qualquer decisão ou ação tomada por você em base a tal conteúdo.</p>

          <p class="text-primary">Diante de ameaças ou qualquer outra situação de risco a vossa saúde ou integridade, procure sempre orientações validadas e atualizadas pelos serviços locais de saúde pública.</p>

          <h3 class="section-subtitle">11. Responsabilidade por Problemas Tecnológicos:</h3>

          <p class="text-primary">Eventualmente, todo o conteúdo ou qualquer parte do GUARDIÕES DA SAÚDE pode não estar disponível e pode não funcionar corretamente em qualquer momento. Fazemos esforços razoáveis ​​para evitar problemas tecnológicos, mas em qualquer momento podem ocorrer nessa aplicação problemas tecnológicos das mais diversas naturezas, tais como vírus, rotinas de programação prejudiciais ou problemas relacionados ao aparelho.</p>

          <p class="text-primary">O Webapp e a aplicação são fornecidos "como está" e "conforme estiver disponível". Sem limitar o nosso aviso geral, não garantimos a disponibilidade, integridade, pontualidade, funcionalidade, confiabilidade, sequenciamento ou a velocidade de entrega nessa aplicação ou de qualquer parte do conteúdo.</p>

          <p class="text-primary">O GUARDIÕES DA SAÚDE não se responsabiliza por qualquer dano ou prejuízo causado pelo desempenho ou falha de desempenho de toda ou qualquer parte da aplicação. O GUARDIÕES DA SAÚDE não se responsabiliza por quaisquer defeitos, atrasos ou erros resultantes da sua utilização dessa aplicação.</p>

          <p class="text-primary">A utilização de todas as funcionalidades do GUARDIÕES DA SAÚDE exige disponibilidade do acesso à internet pelo usuário, por wi-fi ou cabo de rede de dados. A ausência desse pré-requisito pode limitar a utilização da aplicação com todo seu potencial de uso. A equipe do GUARDIÕES DA SAÚDE, considerando esse aviso, não assume responsabilidade decorrente dessa limitação.</p>

          <p class="text-primary">Esta isenção de responsabilidade aplica-se a todos e quaisquer danos ou prejuízos, incluindo aqueles causados ​​por qualquer falha de desempenho, erro, omissão, interrupção, remoção, defeito, atraso na operação ou transmissão, vírus de computador, falha de linha de comunicação, roubo, destruição ou acesso não autorizado, a alteração ou uso de qualquer bem, seja por violação de contrato, comportamento ilícito, negligência ou qualquer outra causa de ação.</p>

          <h3 class="section-subtitle">12. Responsabilidade por Informações de Terceiros:</h3>

          <p class="text-primary">A disposição através do Webapp e da aplicação de links e referências para outros sites, publicações ou recursos de informação não constitui o endosso desses sites ou de seus recursos por parte do GUARDIÕES DA SAÚDE, de seus agentes ou representantes. A equipe do GUARDIÕES DA SAÚDE não faz representações ou asserções quanto à qualidade, conteúdo e precisão das informações, serviços ou produtos que podem ser fornecidas por esses recursos e especificamente se isenta de quaisquer garantias, incluindo, mas não limitando, às garantias implícitas ou expressas de comerciabilidade ou adequação para qualquer utilização particular, aplicação ou finalidade.</p>

          <h3 class="section-subtitle">13. Considerações Finais</h3>

          <p class="text-primary">O acesso ao serviço representa a aceitação expressa e irrestrita dos Termos de Uso acima descritos. Ao concordar com esses termos você concede uma licença perpétua, isenta de royalties, licença incondicional para o GUARDIÕES DA SAÚDE, Ministério da Saúde e todas as organizações sucessoras, para publicar a sua contribuição de forma agregada, na própria aplicação, bem como divulgá-las aos serviços de vigilância em saúde pública relacionados. Você também concorda que GUARDIÕES DA SAÚDE tem o direito, mas não a obrigação, de editar ou remover qualquer contribuição a critério exclusivo da equipe do GUARDIÕES DA SAÚDE.</p>
        </aside>
      </section>
    </div>
  </div>
</div>

<!-- How it works -->
<div ng-include src="'views/partials/footer-not-logged.html'"></div>
