<div class="wrapper-internal wrapper-full-page">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 privacy-policy">
        <aside class="col-md-3 col-md-offset-1">
          <h2 class="title-primary">{{"00724"|translate}}</h2>
        </aside>

        <aside class="col-md-6 col-md-offset-1">
          <p class="text-primary" align="justify">
{{"00725"|translate}}
          <br/><br/>
{{"00726"|translate}}
          <br/><br/>
{{"00727"|translate}}
          <br/><br/>
{{"00728"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00729"|translate}}</span>
          <br/><br/>

{{"00730"|translate}}
          <br/><br/>
{{"00731"|translate}}
          <br/><br/>
{{"00732"|translate}}
          <br/><br/>
{{"00733"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00734"|translate}}</span>
          <br/><br/>
{{"00735"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00736"|translate}}</span>
          <br/><br/>
{{"00737"|translate}} 
          <br/><br/>
{{"00738"|translate}}
          <br/><br/>
{{"00739"|translate}}
          <br/><br/>
{{"00740"|translate}}
          <br/><br/>
{{"00741"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00742"|translate}}</span>
          <br/><br/>
{{"00743"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00744"|translate}}</span>
          <br/><br/>
{{"00745"|translate}}
          <br/><br/>
{{"00746"|translate}}
          <br/><br/>
{{"00747"|translate}}
          <br/><br/>
{{"00748"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00749"|translate}}</span>
          <br/><br/>
{{"00750"|translate}}
          <br/><br/>
{{"00751"|translate}}
          <br/><br/>
{{"00752"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00753"|translate}}</span>
          <br/><br/>
{{"00754"|translate}}
          <br/><br/>
{{"00755"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00756"|translate}}</span>
          <br/><br/>
{{"00757"|translate}}
          <br/><br/>
{{"00758"|translate}}  
          <br/><br/>
{{"00759"|translate}}
          <br/><br/>
{{"00760"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00761"|translate}}</span>
          <br/><br/>
{{"00762"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00763"|translate}}</span>
          <br/><br/>
{{"00764"|translate}}
          <br/><br/>
{{"00765"|translate}}
          <br/><br/>
{{"00766"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00767"|translate}}</span>
          <br/><br/>
{{"00768"|translate}}
          <br/><br/>
{{"00769"|translate}}
          <br/><br/>
{{"00770"|translate}}
          <br/><br/>
{{"00771"|translate}}
          <br/><br/>
{{"00772"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00773"|translate}}</span>
          <br/><br/>
{{"00774"|translate}}
          <br/><br/>
<span class="section-subtitle">{{"00775"|translate}}</span>
          <br/><br/>
{{"00776"|translate}}
          <br/><br/>
          </p>
        </aside>
      </section>
    </div>
  </div>
</div>

<!-- How it works -->
<div ng-include src="'views/partials/footer-not-logged.html'"></div>
