<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Perfil <span>/ {{screen.household.nick}}</span></h2>

  <article class="col-xs-12 panel panel-default no-padding card">
    <header class="panel-heading">
      <h3 class="panel-title">Geral</h3>
    </header>

    <div class="panel-body">
      <a ng-href="" class="col-xs-12 col-md-3" class="link-figure">
        <figure class="card-avatar-image">
          <img src="../images/avatar/avatar-blank.svg" alt="Avatar de {{ screen.household.nick }}">
          <!-- <figcaption>Editar</figcaption> -->
        </figure>
      </a>

      <div class="col-xs-12 col-md-9 card-avatar-content">
        <form ng-submit="editProfile()" class="card-form" name="formProfile">
          <fieldset class="col-xs-12">
            <label for="profile-nickname">Apelido</label>
            <input class="input-primary" id="profile-nickname" name="profile-nickname" type="text"
              ng-model="screen.household.nick">
          </fieldset>

          <div class="no-padding col-xs-12">
            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-birthdate">Data de nascimento</label>
              <input type="date" class="input-primary birthdate" uib-datepicker-popup ng-model="dt" is-open="status.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Fechar" value="{{ screen.household.dob }}" show-weeks="false" show-button-bar="false" />
              <span class="icon-birthdate">
                <a ng-click="open($event)"></a>
              </span>
            </fieldset>

            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-gender">Sexo</label>

              <input class="radio-primary" type="radio" ng-model="screen.household.gender" name="profile-gender" value="M" data-label="Masculino">
              <input class="radio-primary" type="radio" ng-model="screen.household.gender" name="profile-gender" value="F" data-label="Feminino">
            </fieldset>
          </div>

          <div class="no-padding col-xs-12">
            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-email">Email</label>
              <input class="input-primary" id="profile-email" name="profile-email" type="email"
              ng-model="screen.household.email">
            </fieldset>

            <fieldset class="col-xs-12 col-sm-6">
              <label for="profileRace">Raça/Cor</label>

              <select class="select-primary" name="profileRace" id="profileRace"
                ng-model="screen.household.race">
                <option disabled selected>Cor/Raça</option>
                <option value="branco">Branco</option>
                <option value="preto">Preto</option>
                <option value="pardo">Pardo</option>
                <option value="amarelo">Amarelo</option>
                <option value="indigena">Indígena</option>
              </select>
            </fieldset>
          </div>

          <fieldset class="col-xs-12 col-sm-6">
            <label for="profile-pass">Senha</label>
            <input class="input-primary" id="profile-pass" name="profilePass" type="password"
              ng-model="screen.household.password" ng-minlength="6">
          </fieldset>

          <fieldset class="col-xs-12 col-sm-6">
            <label for="profile-pass-again">Repetir Senha</label>
            <input class="input-primary" id="profile-pass-again" name="profilePassAgain" type="password" ng-model="screen.repeatPassword">
          </fieldset>

          <fieldset class="col-xs-12">
            <div ng-show="screen.repeatPassword != screen.household.password" class="alert alert-info" role="alert">
              <span>As senhas digitadas precisam ser iguais.</span>
            </div>

            <div ng-show="formProfile.profilePass.$error.minlength" class="alert alert-info" role="alert">
              <span>Sua senha precisa ter no mínimo 6 dígitos</span>
            </div>
          </fieldset>

          <fieldset class="col-xs-12">
            <button type="submit" class="pull-right btn btn-primary">Salvar alterações</button>
            <button type="button" data-toggle="modal" data-target="#modal-delete-household" class="pull-right btn btn-danger">Excluir</button>
          </fieldset>
        </form>
      </div>
    </div>
  </article>
</section>


<!-- Toaster -->
<div ng-include src="'views/partials/toaster.html'"></div>

<!-- Modal -->
<div ng-include src="'views/partials/modal-delete-household.html'"></div>
