<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Perfil <span>/ Aninha</span></h2>

  <article class="col-xs-12 panel panel-default no-padding card">
    <header class="panel-heading">
      <h3 class="panel-title">Geral</h3>
    </header>

    <div class="panel-body">
      <a ng-href="#/change-photo" class="col-xs-12 col-md-2" class="link-figure">
        <figure class="card-avatar-image">
          <img src="images/avatar/avatar-1.svg" alt="Avatar 01">
          <figcaption>Editar</figcaption>
        </figure>
      </a>

      <div class="col-xs-12 col-md-10 card-avatar-content">
        <form class="card-form" name="form-profile">
          <fieldset class="col-xs-12">
            <label for="profile-nickname">Apelido</label>
            <input class="input-primary" id="profile-nickname" name="profile-nickname" type="text">
          </fieldset>

          <div class="no-padding col-xs-12">
            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-birthdate">Data de nascimento</label>
              <input class="input-primary birthdate" id="profile-birthdate" name="profile-birthdate" type="text">
              <span class="icon-birthdate">
                <a data-toggle="modal" data-target="#calendarModal"></a>
              </span>
            </fieldset>

            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-gender">Sexo</label>

              <input class="radio-primary" type="radio" name="profile-gender" value="male" data-label="Masculino">
              <input class="radio-primary" type="radio" name="profile-gender" value="female" data-label="Feminino">
            </fieldset>
          </div>

          <div class="no-padding col-xs-12">
            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-email">Email</label>
              <input class="input-primary" id="profile-email" name="profile-email" type="email">
            </fieldset>

            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-raca-cor">Raça/Cor</label>

              <select class="select-primary" name="profile-raca-cor" id="profile-raca-cor">
                <option value="value01">Value 01</option>
                <option value="value02">Value 02</option>
                <option value="value03">Value 03</option>
              </select>
            </fieldset>
          </div>

          <fieldset class="col-xs-12 col-sm-6">
            <label for="profile-pass">Senha</label>
            <input class="input-primary" id="profile-pass" name="profile-pass" type="password">
          </fieldset>

          <fieldset class="col-xs-12 col-sm-6">
            <label for="profile-pass-again">Repetir Senha</label>
            <input class="input-primary" id="profile-pass-again" name="profile-pass-again" type="password">
          </fieldset>

          <fieldset class="col-xs-12">
            <button class="pull-right btn btn-primary">Salvar alterações</button>
          </fieldset>
        </form>
      </div>
    </div>
  </article>
</section>

<!-- Modal -->
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
