<!-- Menu -->
<div ng-include src="'views/partials/nav-primary.html'" class="hidden-xs"></div>

<!-- Content -->
<section class="col-sm-9 col-md-10 content-internal">
  <h2 class="section-title">Perfil <span>/ {{screen.user.nick}}</span></h2>

  <article class="col-xs-12 panel panel-default no-padding card">
    <header class="panel-heading">
      <h3 class="panel-title">Geral</h3>
    </header>

    <div class="panel-body">
      <a ng-href="profile/change-photo" class="col-xs-12 col-md-2" class="link-figure" title="Clique para editar a foto">
        <figure class="card-avatar-image edit">
          <img ng-if="user.picture" ng-src="{{user.picture}}" alt="Avatar 01">
          <img ng-if="!user.picture" ng-src="../images/avatar/avatar-blank.svg" alt="Avatar Defaul">
          <figcaption>Editar foto</figcaption>
        </figure>
      </a>

      <div class="col-xs-12 col-md-10 card-avatar-content">
        <form ng-submit="editProfile()" class="card-form" name="formProfile">
          <fieldset class="col-xs-12">
            <label for="profile-nickname">Apelido</label>
            <input class="input-primary" id="profile-nickname" name="profile-nickname" type="text"
              ng-model="screen.user.nick">
          </fieldset>

          <div class="no-padding col-xs-12">
            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-birthdate">Data de nascimento</label>
              <input class="input-primary birthdate" id="profile-birthdate" name="profile-birthdate" type="text" ng-model="screen.user.dob" ng-bind="date | date:'yyyy/mm/dd'">
              <span class="icon-birthdate">
                <a data-toggle="modal" data-target="#calendarModal"></a>
              </span>
            </fieldset>

            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-gender">Sexo</label>

              <input class="radio-primary" type="radio" ng-model="screen.user.gender" name="profile-gender" value="M" data-label="Masculino">
              <input class="radio-primary" type="radio" ng-model="screen.user.gender" name="profile-gender" value="F" data-label="Feminino">
            </fieldset>
          </div>

          <div class="no-padding col-xs-12">
            <fieldset class="col-xs-12 col-sm-6">
              <label for="profile-email">Email</label>
              <input class="input-primary" id="profile-email" name="profile-email" type="email"
              ng-model="screen.user.email">
            </fieldset>

            <fieldset class="col-xs-12 col-sm-6">
              <label for="profileRace">Raça/Cor</label>

              <select class="select-primary" name="profileRace" id="profileRace"
                ng-model="screen.user.race">
                <option disabled selected>Cor/Raça</option>
                <option value="branco">Branco</option>
                <option value="preto">Preto</option>
                <option value="pardo">Pardo</option>
                <option value="amarelo">Amarelo</option>
                <option value="indigena">Indígena</option>
              </select>
            </fieldset>
          </div>

          <fieldset class="col-xs-12 col-sm-6">
            <label for="profile-pass">Senha</label>
            <input class="input-primary" id="profile-pass" name="profilePass" type="password"
              ng-model="screen.user.password" ng-minlength="6">
          </fieldset>

          <fieldset class="col-xs-12 col-sm-6">
            <label for="profile-pass-again">Repetir Senha</label>
            <input class="input-primary" id="profile-pass-again" name="profilePassAgain" type="password" ng-model="screen.repeatPassword">
          </fieldset>

          <fieldset class="col-xs-12">
            <div ng-show="screen.repeatPassword != screen.user.password" class="alert alert-info" role="alert">
              <span>As senhas digitadas precisam ser iguais.</span>
            </div>

            <div ng-show="formProfile.profilePass.$error.minlength" class="alert alert-info" role="alert">
              <span>Sua senha precisa ter no mínimo 6 dígitos</span>
            </div>
          </fieldset>

          <fieldset class="col-xs-12">
            <button type="submit" class="pull-right btn btn-primary">Salvar alterações</button>
          </fieldset>
        </form>
      </div>
    </div>
  </article>
</section>

<!-- Toaster -->
<toaster-container></toaster-container>
