<div class="wrapper-internal wrapper-full-page">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 about">
        <aside class="col-md-3 col-md-offset-1">
          <figure class="logo-secondary">
            <img src="images/logo-secondary.svg" alt="Guardiões da Saúde">
          </figure>
        </aside>
        <aside class="col-md-6 col-md-offset-1">
          <h3 class="section-subtitle">{{"00697"|translate}}</h3>

          <p class="text-primary" align="justify">
           {{"00698"|translate}}
            <br/><br/>
{{"00699"|translate}} 
            <br/><br/>
{{"00700"|translate}} 
            <br/><br/>
{{"00701"|translate}}   
            <br/><br/>
{{"00702"|translate}} 
            <br/><br/>
{{"00703"|translate}} 
            <br/><br/>
<span class="section-subtitle">{{"00704"|translate}} </span>    

            <br/><br/>
{{"00705"|translate}} 
            <br/><br/>
{{"00706"|translate}}  
            <br/><br/>
{{"00707"|translate}} 
            <br/><br/>
{{"00708"|translate}} 
            <br/><br/>
         <span class="section-subtitle">{{"00708"|translate}} </span>    

            <br/><br/>
{{"00710"|translate}} 
            <br/><br/>
{{"00711"|translate}} 
            <br/><br/>
{{"00712"|translate}} 
            <br/><br/>
{{"00713"|translate}} 
            <br/><br/>
{{"00714"|translate}} 
            <br/><br/>
            <span class="section-subtitle">{{"00715"|translate}} </span>

            <br/><br/>
{{"00716"|translate}} 
            <br/><br/>
{{"00717"|translate}} 
            <br/><br/>

<span class="section-subtitle">{{"00718"|translate}} </span>

            <br/><br/>
{{"00719"|translate}} 
            <br/><br/>
{{"00720"|translate}} 
            <br/><br/>
<span class="section-subtitle">{{"00721"|translate}} </span>
            <br/><br/>
{{"00722"|translate}} 
            <br/><br/>
{{"00723"|translate}}
            <br/><br/>

          </p>
        </aside>
      </section>
    </div>
  </div>
</div>

<!-- How it works -->
<div ng-include src="'views/partials/footer-not-logged.html'"></div>
