<div class="wrapper-internal wrapper-full-page survey-content">
  <div class="container-fluid">
    <div class="row">
      <section class="col-xs-12 col-sm-10 col-sm-offset-1 ">
        <h2 class="title-primary">Quem vai participar?</h2>

        <aside class="survey-avatar my-user">
          <a href="/survey" title="Clique para realizar a survey de Aninha">
            <figure>
              <img src="../images/avatar/avatar-1.svg" alt="Aninha - 28 anos">
              <figcaption>Aninha <span>28 anos</span></figcaption>
            </figure>
          </a>
        </aside>

        <div class="col-xs-12">
          <h3 class="survey-subtitle">Membros do domicílio</h3>

          <aside class="survey-avatar">
            <a data-toggle="modal" data-target="#modal-add-profile">
              <figure>
                <img src="../images/btn-add-member.svg" alt="Adicionar membro">
                <figcaption>Adicionar <span>membro</span></figcaption>
              </figure>
            </a>
          </aside>

          <aside class="survey-avatar">
            <a href="/survey">
              <figure>
                <img src="../images/avatar/avatar-2.svg" alt="Paulo - 32 anos">
                <figcaption>Paulo <span>32 anos</span></figcaption>
              </figure>
            </a>
          </aside>

          <aside class="survey-avatar">
            <a href="/survey">
              <figure>
                <img src="../images/avatar/avatar-3.svg" alt="Gilberto - 17 anos">
                <figcaption>Gilberto <span>17 anos</span></figcaption>
              </figure>
            </a>
          </aside>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal add member -->
<div ng-include src="'views/partials/modal-add-profile.html'"></div>
